In [65]:
import pandas as pd
import numpy as np

In [66]:
data2010=pd.read_csv("../data/2010before.csv")
data2010["Zuletzt"]=data2010["Zuletzt"].str.replace(".","")
data2010["Zuletzt"]=data2010["Zuletzt"].str.replace(",",".")
data2010

           Datum  Zuletzt   Eröffn.      Hoch      Tief     Vol.   +/- %
0     22.10.2010  6605.84  6.594,90  6.623,94  6.586,40   67,47M  -0,08%
1     21.10.2010  6611.01  6.514,99  6.621,84  6.504,66   95,69M   1,33%
2     20.10.2010  6524.55  6.470,30  6.527,85  6.461,48   95,16M   0,52%
3     19.10.2010  6490.69  6.508,36  6.544,79  6.472,18  101,37M  -0,40%
4     18.10.2010  6516.63  6.465,83  6.533,83  6.462,59   91,06M   0,37%
...          ...      ...       ...       ...       ...      ...     ...
4995  11.01.1990  1843.42  1.843,42  1.843,42  1.843,42      NaN  -1,18%
4996  09.01.1990  1865.52  1.865,52  1.865,52  1.865,52      NaN   1,31%
4997  08.01.1990  1841.47  1.841,47  1.841,47  1.841,47      NaN   0,58%
4998  04.01.1990  1830.92  1.830,92  1.830,92  1.830,92      NaN  -1,95%
4999  03.01.1990  1867.29  1.867,29  1.867,29  1.867,29      NaN   5,01%

[5000 rows x 7 columns]

In [67]:
data2024=pd.read_csv("../data/2024.csv")
data2024["Zuletzt"]=data2024["Zuletzt"].str.replace(".","")
data2024["Zuletzt"]=data2024["Zuletzt"].str.replace(",",".")
data2024

           Datum   Zuletzt    Eröffn.       Hoch       Tief     Vol.   +/- %
0     18.03.2024  17919.05  17.965,50  18.016,05  17.905,05   32,03M  -0,10%
1     15.03.2024  17936.65  17.938,14  18.038,11  17.926,72  202,91M  -0,03%
2     14.03.2024  17942.04  18.002,97  18.039,05  17.899,93   93,59M  -0,11%
3     13.03.2024  17961.38  17.984,50  18.001,42  17.939,56   92,88M  -0,02%
4     12.03.2024  17965.11  17.810,15  17.973,22  17.746,89   91,39M   1,23%
...          ...       ...        ...        ...        ...      ...     ...
3863  08.01.2009   4879.91   4.897,16   4.917,62   4.820,08      NaN  -1,17%
3864  07.01.2009   4937.47   5.008,62   5.010,97   4.914,22      NaN  -1,77%
3865  06.01.2009   5026.31   4.992,67   5.111,02   4.960,21      NaN   0,85%
3866  05.01.2009   4983.99   5.010,18   5.034,85   4.949,36      NaN   0,22%
3867  02.01.2009   4973.07   4.856,85   4.974,73   4.838,49      NaN   3,39%

[3868 rows x 7 columns]

In [68]:
WendeToNow=pd.concat([data2010,data2024],axis=0).drop_duplicates(subset=["Datum"])
WendeToNow

           Datum  Zuletzt   Eröffn.      Hoch      Tief     Vol.   +/- %
0     22.10.2010  6605.84  6.594,90  6.623,94  6.586,40   67,47M  -0,08%
1     21.10.2010  6611.01  6.514,99  6.621,84  6.504,66   95,69M   1,33%
2     20.10.2010  6524.55  6.470,30  6.527,85  6.461,48   95,16M   0,52%
3     19.10.2010  6490.69  6.508,36  6.544,79  6.472,18  101,37M  -0,40%
4     18.10.2010  6516.63  6.465,83  6.533,83  6.462,59   91,06M   0,37%
...          ...      ...       ...       ...       ...      ...     ...
3398  29.10.2010  6601.37  6.585,97  6.630,98  6.569,25   93,68M   0,09%
3399  28.10.2010  6595.28  6.600,28  6.644,61  6.576,02  104,32M   0,42%
3400  27.10.2010  6568.00  6.591,24  6.629,13  6.553,25  117,91M  -0,69%
3401  26.10.2010  6613.80  6.634,24  6.645,70  6.580,28   95,12M  -0,38%
3402  25.10.2010  6639.21  6.645,45  6.668,54  6.625,83   75,74M   0,51%

[8403 rows x 7 columns]

In [69]:
WendeToNow["Datum"]=pd.to_datetime(WendeToNow["Datum"])

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_95547/1363230040.py:1: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  WendeToNow["Datum"]=pd.to_datetime(WendeToNow["Datum"])

In [70]:
WendeToNow=WendeToNow.sort_values(by=["Datum"]).reset_index(drop=True)
WendeToNow

          Datum   Zuletzt    Eröffn.       Hoch       Tief     Vol.   +/- %
0    1990-01-03   1867.29   1.867,29   1.867,29   1.867,29      NaN   5,01%
1    1990-01-04   1830.92   1.830,92   1.830,92   1.830,92      NaN  -1,95%
2    1990-01-08   1841.47   1.841,47   1.841,47   1.841,47      NaN   0,58%
3    1990-01-09   1865.52   1.865,52   1.865,52   1.865,52      NaN   1,31%
4    1990-01-11   1843.42   1.843,42   1.843,42   1.843,42      NaN  -1,18%
...         ...       ...        ...        ...        ...      ...     ...
8398 2024-03-12  17965.11  17.810,15  17.973,22  17.746,89   91,39M   1,23%
8399 2024-03-13  17961.38  17.984,50  18.001,42  17.939,56   92,88M  -0,02%
8400 2024-03-14  17942.04  18.002,97  18.039,05  17.899,93   93,59M  -0,11%
8401 2024-03-15  17936.65  17.938,14  18.038,11  17.926,72  202,91M  -0,03%
8402 2024-03-18  17919.05  17.965,50  18.016,05  17.905,05   32,03M  -0,10%

[8403 rows x 7 columns]

In [71]:
WendeToNow

          Datum   Zuletzt    Eröffn.       Hoch       Tief     Vol.   +/- %
0    1990-01-03   1867.29   1.867,29   1.867,29   1.867,29      NaN   5,01%
1    1990-01-04   1830.92   1.830,92   1.830,92   1.830,92      NaN  -1,95%
2    1990-01-08   1841.47   1.841,47   1.841,47   1.841,47      NaN   0,58%
3    1990-01-09   1865.52   1.865,52   1.865,52   1.865,52      NaN   1,31%
4    1990-01-11   1843.42   1.843,42   1.843,42   1.843,42      NaN  -1,18%
...         ...       ...        ...        ...        ...      ...     ...
8398 2024-03-12  17965.11  17.810,15  17.973,22  17.746,89   91,39M   1,23%
8399 2024-03-13  17961.38  17.984,50  18.001,42  17.939,56   92,88M  -0,02%
8400 2024-03-14  17942.04  18.002,97  18.039,05  17.899,93   93,59M  -0,11%
8401 2024-03-15  17936.65  17.938,14  18.038,11  17.926,72  202,91M  -0,03%
8402 2024-03-18  17919.05  17.965,50  18.016,05  17.905,05   32,03M  -0,10%

[8403 rows x 7 columns]

In [72]:
WendeToNow["28daysSmoothened"]=WendeToNow["Zuletzt"].rolling(window=28).mean()
WendeToNow["diffSmoothened"]=WendeToNow["28daysSmoothened"]-WendeToNow["28daysSmoothened"].shift(1)
WendeToNow

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened
0,1990-01-03,1867.29,"1.867,29","1.867,29","1.867,29",NaN,"5,01%",NaN,NaN
1,1990-01-04,1830.92,"1.830,92","1.830,92","1.830,92",NaN,"-1,95%",NaN,NaN
2,1990-01-08,1841.47,"1.841,47","1.841,47","1.841,47",NaN,"0,58%",NaN,NaN
3,1990-01-09,1865.52,"1.865,52","1.865,52","1.865,52",NaN,"1,31%",NaN,NaN
4,1990-01-11,1843.42,"1.843,42","1.843,42","1.843,42",NaN,"-1,18%",NaN,NaN
...,...,...,...,...,...,...,...,...,...
8398,2024-03-12,17965.11,"17.810,15","17.973,22","17.746,89","91,39M","1,23%",17330.657143,39.502500
8399,2024-03-13,17961.38,"17.984,50","18.001,42","17.939,56","92,88M","-0,02%",17367.913214,37.256071
8400,2024-03-14,17942.04,"18.002,97","18.039,05","17.899,93","93,59M","-0,11%",17404.983929,37.070714
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643
8402,2024-03-18,17919.05,"17.965,50","18.016,05","17.905,05","32,03M","-0,10%",17472.858929,35.610357

In [73]:
negative_to_positve = (WendeToNow["diffSmoothened"] > 0) & (WendeToNow["diffSmoothened"].shift(-1) > 0)
positive_to_negative = (WendeToNow["diffSmoothened"] < 0) & (WendeToNow["diffSmoothened"].shift(-1) < 0)
WendeToNow["Trend"]=0
WendeToNow["Trend"]=np.where(positive_to_negative,-1,WendeToNow["Trend"])
WendeToNow["Trend"]=np.where(negative_to_positve,1,WendeToNow["Trend"])
WendeToNow

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend
0,1990-01-03,1867.29,"1.867,29","1.867,29","1.867,29",NaN,"5,01%",NaN,NaN,0
1,1990-01-04,1830.92,"1.830,92","1.830,92","1.830,92",NaN,"-1,95%",NaN,NaN,0
2,1990-01-08,1841.47,"1.841,47","1.841,47","1.841,47",NaN,"0,58%",NaN,NaN,0
3,1990-01-09,1865.52,"1.865,52","1.865,52","1.865,52",NaN,"1,31%",NaN,NaN,0
4,1990-01-11,1843.42,"1.843,42","1.843,42","1.843,42",NaN,"-1,18%",NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
8398,2024-03-12,17965.11,"17.810,15","17.973,22","17.746,89","91,39M","1,23%",17330.657143,39.502500,1
8399,2024-03-13,17961.38,"17.984,50","18.001,42","17.939,56","92,88M","-0,02%",17367.913214,37.256071,1
8400,2024-03-14,17942.04,"18.002,97","18.039,05","17.899,93","93,59M","-0,11%",17404.983929,37.070714,1
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1
8402,2024-03-18,17919.05,"17.965,50","18.016,05","17.905,05","32,03M","-0,10%",17472.858929,35.610357,0

In [74]:
listOfTrends=[]
trendcounter=0
for index, row in WendeToNow.iterrows():
    if (row["Trend"]==0):
        trendcounter=0
    else:
        trendcounter=trendcounter+row["Trend"]
    listOfTrends.append(trendcounter)

WendeToNow["daysOfTrend"]=listOfTrends

In [159]:
WendeToNow

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month
0,1990-01-03,1867.29,"1.867,29","1.867,29","1.867,29",NaN,"5,01%",NaN,NaN,0,0,1990-01-01
1,1990-01-04,1830.92,"1.830,92","1.830,92","1.830,92",NaN,"-1,95%",NaN,NaN,0,0,1990-01-01
2,1990-01-08,1841.47,"1.841,47","1.841,47","1.841,47",NaN,"0,58%",NaN,NaN,0,0,1990-01-01
3,1990-01-09,1865.52,"1.865,52","1.865,52","1.865,52",NaN,"1,31%",NaN,NaN,0,0,1990-01-01
4,1990-01-11,1843.42,"1.843,42","1.843,42","1.843,42",NaN,"-1,18%",NaN,NaN,0,0,1990-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
8398,2024-03-12,17965.11,"17.810,15","17.973,22","17.746,89","91,39M","1,23%",17330.657143,39.502500,1,35,2024-03-01
8399,2024-03-13,17961.38,"17.984,50","18.001,42","17.939,56","92,88M","-0,02%",17367.913214,37.256071,1,36,2024-03-01
8400,2024-03-14,17942.04,"18.002,97","18.039,05","17.899,93","93,59M","-0,11%",17404.983929,37.070714,1,37,2024-03-01
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01
8402,2024-03-18,17919.05,"17.965,50","18.016,05","17.905,05","32,03M","-0,10%",17472.858929,35.610357,0,0,2024-03-01

In [160]:
len(WendeToNow[WendeToNow["daysOfTrend"]==38])

43

In [161]:
WendeToNow["Year-Month"]=WendeToNow["Datum"].astype(str).str[:-3]+"-01"
WendeToNow["Year-Month"]=pd.to_datetime(WendeToNow["Year-Month"])
WendeToNow

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month
0,1990-01-03,1867.29,"1.867,29","1.867,29","1.867,29",NaN,"5,01%",NaN,NaN,0,0,1990-01-01
1,1990-01-04,1830.92,"1.830,92","1.830,92","1.830,92",NaN,"-1,95%",NaN,NaN,0,0,1990-01-01
2,1990-01-08,1841.47,"1.841,47","1.841,47","1.841,47",NaN,"0,58%",NaN,NaN,0,0,1990-01-01
3,1990-01-09,1865.52,"1.865,52","1.865,52","1.865,52",NaN,"1,31%",NaN,NaN,0,0,1990-01-01
4,1990-01-11,1843.42,"1.843,42","1.843,42","1.843,42",NaN,"-1,18%",NaN,NaN,0,0,1990-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
8398,2024-03-12,17965.11,"17.810,15","17.973,22","17.746,89","91,39M","1,23%",17330.657143,39.502500,1,35,2024-03-01
8399,2024-03-13,17961.38,"17.984,50","18.001,42","17.939,56","92,88M","-0,02%",17367.913214,37.256071,1,36,2024-03-01
8400,2024-03-14,17942.04,"18.002,97","18.039,05","17.899,93","93,59M","-0,11%",17404.983929,37.070714,1,37,2024-03-01
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01
8402,2024-03-18,17919.05,"17.965,50","18.016,05","17.905,05","32,03M","-0,10%",17472.858929,35.610357,0,0,2024-03-01

In [163]:
ifoKlima=pd.read_excel("../data/gsk-d-202402.xlsx",sheet_name="Wirtschaftsbereiche", skiprows=7)
ifoKlima["Monat/Jahr"]=ifoKlima["Monat/Jahr"].str.strip()
ifoKlima["Monat/Jahr"]=pd.to_datetime(ifoKlima["Monat/Jahr"],format="%m/%Y")
ifoKlima["Monat/Jahr"]=ifoKlima["Monat/Jahr"]+ pd.DateOffset(months=1)
ifoKlima.columns=ifoKlima.columns.str.strip()

ifoKlima=ifoKlima[["Monat/Jahr",'Geschäftsklima.1', 'Geschäftslage.1', 'Geschäftserwartungen.1']]
ifoKlima

    Monat/Jahr  Geschäftsklima.1  Geschäftslage.1  Geschäftserwartungen.1
0          NaT               NaN              NaN                     NaN
1   1991-02-01               9.8             17.9                     2.1
2   1991-03-01              10.1             19.9                     0.8
3   1991-04-01               7.5             14.6                     0.5
4   1991-05-01               7.5             12.8                     2.3
..         ...               ...              ...                     ...
394 2023-11-01             -20.4             -9.7                   -30.4
395 2023-12-01             -18.3             -7.1                   -28.9
396 2024-01-01             -21.4            -10.6                   -31.6
397 2024-02-01             -22.3             -9.8                   -33.9
398 2024-03-01             -23.8            -12.7                   -34.2

[399 rows x 4 columns]

In [164]:
ifoKlimaVSDax=pd.merge(ifoKlima,WendeToNow,left_on="Monat/Jahr",right_on="Year-Month")
ifoKlimaVSDax

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month
0,1991-02-01,9.8,17.9,2.1,1991-02-01,1417.52,"1.417,52","1.417,52","1.417,52",NaN,"-0,26%",1383.565000,-2.242857,-1,-25,1991-02-01
1,1991-02-01,9.8,17.9,2.1,1991-02-04,1446.23,"1.446,23","1.446,23","1.446,23",NaN,"2,03%",1383.038214,-0.526786,0,0,1991-02-01
2,1991-02-01,9.8,17.9,2.1,1991-02-05,1442.73,"1.442,73","1.442,73","1.442,73",NaN,"-0,24%",1383.922857,0.884643,1,1,1991-02-01
3,1991-02-01,9.8,17.9,2.1,1991-02-06,1425.22,"1.425,22","1.425,22","1.425,22",NaN,"-1,21%",1384.065357,0.142500,1,2,1991-02-01
4,1991-02-01,9.8,17.9,2.1,1991-02-07,1442.83,"1.442,83","1.442,83","1.442,83",NaN,"1,24%",1385.119286,1.053929,1,3,1991-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8131,2024-03-01,-23.8,-12.7,-34.2,2024-03-12,17965.11,"17.810,15","17.973,22","17.746,89","91,39M","1,23%",17330.657143,39.502500,1,35,2024-03-01
8132,2024-03-01,-23.8,-12.7,-34.2,2024-03-13,17961.38,"17.984,50","18.001,42","17.939,56","92,88M","-0,02%",17367.913214,37.256071,1,36,2024-03-01
8133,2024-03-01,-23.8,-12.7,-34.2,2024-03-14,17942.04,"18.002,97","18.039,05","17.899,93","93,59M","-0,11%",17404.983929,37.070714,1,37,2024-03-01
8134,2024-03-01,-23.8,-12.7,-34.2,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01
8135,2024-03-01,-23.8,-12.7,-34.2,2024-03-18,17919.05,"17.965,50","18.016,05","17.905,05","32,03M","-0,10%",17472.858929,35.610357,0,0,2024-03-01

In [165]:
ifoKlimaVSDax[ifoKlimaVSDax["daysOfTrend"]==38]

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month
91,1991-06-01,5.0,7.8,2.3,1991-06-18,1694.00,"1.694,00","1.694,00","1.694,00",NaN,"-1,18%",1663.456786,2.433571,1,38,1991-06-01
268,1992-03-01,-3.4,-1.5,-5.3,1992-03-02,1749.29,"1.749,29","1.749,29","1.749,29",NaN,"0,14%",1696.706071,2.470000,1,38,1992-03-01
523,1993-03-01,-31.4,-38.1,-24.3,1993-03-09,1711.91,"1.711,91","1.711,91","1.711,91",NaN,"0,57%",1656.796071,4.972500,1,38,1993-03-01
620,1993-07-01,-28.5,-39.4,-16.9,1993-07-29,1823.40,"1.823,40","1.823,40","1.823,40",NaN,"-0,48%",1771.443929,4.505000,1,38,1993-07-01
702,1993-11-01,-22.9,-36.7,-8.0,1993-11-23,2027.99,"2.027,99","2.027,99","2.027,99",NaN,"0,38%",2044.921786,1.013929,1,38,1993-11-01
817,1994-05-01,-7.9,-22.0,7.3,1994-05-09,2218.77,"2.226,15","2.226,15","2.215,01",NaN,"-0,66%",2213.402857,1.823214,1,38,1994-05-01
1098,1995-06-01,-5.5,-9.1,-1.8,1995-06-22,2162.39,"2.138,68","2.166,03","2.134,96",NaN,"0,82%",2111.463571,3.499286,1,38,1995-06-01
1140,1995-08-01,-10.9,-13.5,-8.2,1995-08-21,2269.60,"2.264,19","2.278,12","2.260,74",NaN,"0,17%",2225.616071,2.474286,1,38,1995-08-01
1244,1996-01-01,-16.5,-20.1,-12.9,1996-01-18,2389.62,"2.371,87","2.395,88","2.366,05",NaN,"0,59%",2305.943214,4.095714,1,38,1996-01-01
1430,1996-10-01,-13.4,-23.0,-3.4,1996-10-15,2718.73,"2.711,17","2.734,37","2.711,17",NaN,"0,66%",2641.197857,6.876786,1,38,1996-10-01
1599,1997-06-01,-8.6,-15.1,-1.9,1997-06-23,3748.79,"3.773,24","3.775,16","3.739,14",NaN,"-1,05%",3660.800714,6.767857,1,38,1997-06-01
1750,1998-01-01,1.1,-3.1,5.4,1998-01-28,4385.29,"4.325,08","4.405,36","4.317,02",NaN,"1,60%",4227.858929,11.549286,1,38,1998-01-01
2226,1999-12-01,1.0,-4.5,6.8,1999-12-16,6341.29,"6.228,93","6.364,09","6.220,53","57,84M","1,74%",5973.046786,24.762500,1,38,1999-12-01
2474,2001-12-01,-22.1,-25.5,-18.6,2001-12-11,5146.45,"5.121,68","5.169,15","5.075,43",NaN,"0,42%",5009.510357,18.225714,1,38,2001-12-01
2841,2003-05-01,-20.8,-26.8,-14.7,2003-05-30,2982.68,"2.907,73","2.997,62","2.906,42",NaN,"2,61%",2923.280000,2.960714,1,38,2003-05-01
2986,2003-12-01,-3.6,-18.2,12.2,2003-12-19,3898.42,"3.881,97","3.907,91","3.876,44",NaN,"0,71%",3786.873929,6.019643,1,38,2003-12-01
3242,2004-12-01,-7.3,-11.2,-3.4,2004-12-22,4241.28,"4.232,44","4.252,20","4.229,83",NaN,"0,64%",4178.227143,3.497500,1,38,2004-12-01
3385,2005-07-01,-12.3,-15.1,-9.4,2005-07-15,4712.90,"4.702,00","4.723,65","4.691,20",NaN,"0,29%",4603.066429,5.246071,1,38,2005-07-01
3508,2006-01-01,1.3,-3.6,6.3,2006-01-05,5516.53,"5.521,86","5.526,41","5.502,25",NaN,"-0,13%",5347.359286,11.509286,1,38,2006-01-01
3699,2006-10-01,13.7,22.0,5.6,2006-10-04,6046.37,"5.996,24","6.050,28","5.995,41",NaN,"0,90%",5906.721786,8.389286,1,38,2006-10-01
3779,2007-01-01,19.8,30.4,9.7,2007-01-29,6726.01,"6.702,45","6.739,50","6.683,38",NaN,"0,53%",6653.245357,4.899286,1,38,2007-01-01
3862,2007-05-01,17.5,24.7,10.6,2007-05-30,7764.97,"7.741,95","7.768,75","7.675,89",NaN,"-0,21%",7501.666071,17.236786,1,38,2007-05-01
4368,2009-05-01,-36.3,-41.3,-31.1,2009-05-25,4918.45,"4.936,04","4.942,14","4.829,90",NaN,"-0,01%",4767.618214,13.166429,1,38,2009-05-01
4447,2009-09-01,-19.1,-33.8,-3.0,2009-09-11,5624.02,"5.601,65","5.653,15","5.601,65",NaN,"0,52%",5411.432857,7.392857,1,38,2009-09-01
4602,2010-04-01,-5.8,-16.9,6.0,2010-04-23,6259.53,"6.192,62","6.287,54","6.170,39",NaN,"1,47%",6158.016786,12.713214,1,38,2010-04-01
4745,2010-11-01,20.7,21.2,20.2,2010-11-10,6719.84,"6.759,59","6.783,69","6.684,22","132,58M","-1,00%",6520.544643,18.160714,1,38,2010-11-01
5073,2012-02-01,9.3,23.0,-3.5,2012-02-20,6948.25,"6.892,04","6.956,67","6.878,53","131,24M","1,46%",6565.880714,28.425357,1,38,2012-02-01
5202,2012-08-01,0.7,14.3,-12.1,2012-08-22,7017.75,"7.048,30","7.051,77","7.005,26","124,00M","-1,01%",6794.589286,16.451786,1,38,2012-08-01
5310,2013-01-01,-2.3,3.4,-7.9,2013-01-28,7833.00,"7.859,83","7.871,79","7.831,72","88,20M","-0,32%",7703.306429,7.793214,1,38,2013-01-01
5503,2013-10-01,10.3,12.1,8.4,2013-10-29,9022.04,"8.965,75","9.022,21","8.965,75","76,42M","0,48%",8747.442500,11.709286,1,38,2013-10-01
5843,2015-03-01,7.5,13.8,1.3,2015-03-09,11582.11,"11.510,35","11.586,94","11.461,86","70,12M","0,27%",11060.470357,31.112143,1,38,2015-03-01
6325,2017-01-01,13.4,21.4,5.8,2017-01-27,11814.27,"11.841,72","11.844,68","11.798,26","73,42M","-0,29%",11576.572143,13.841786,1,38,2017-01-01
6516,2017-10-01,24.0,37.0,11.6,2017-10-30,13229.57,"13.227,85","13.255,38","13.214,60","73,52M","0,09%",12906.929643,23.849286,1,38,2017-10-01
6665,2018-06-01,22.0,41.0,4.5,2018-06-06,12830.07,"12.813,39","12.872,90","12.729,23","110,29M","0,34%",12855.002857,14.563214,1,38,2018-06-01
6860,2019-03-01,7.4,27.3,-10.7,2019-03-14,11587.47,"11.573,42","11.635,76","11.541,10","90,30M","0,13%",11388.048929,14.674643,1,38,2019-03-01
7019,2019-10-01,-2.3,12.1,-15.8,2019-10-30,12910.23,"12.929,42","12.944,26","12.830,33","100,40M","-0,23%",12479.388571,16.161786,1,38,2019-10-01
7175,2020-06-01,-30.4,-29.0,-31.7,2020-06-17,12382.14,"12.312,44","12.432,23","12.288,17","102,04M","0,54%",11628.443929,57.959643,1,38,2020-06-01
7324,2021-01-01,6.1,10.7,1.5,2021-01-18,13848.35,"13.701,98","13.850,40","13.701,74","49,83M","0,44%",13617.303929,21.267500,1,38,2021-01-01
7391,2021-04-01,13.7,17.1,10.3,2021-04-23,15279.62,"15.267,76","15.309,09","15.149,35","57,80M","-0,27%",14990.977500,27.758214,1,38,2021-04-01
7815,2022-12-01,-16.2,7.0,-36.9,2022-12-15,13986.23,"14.351,31","14.363,12","13.982,59","87,47M","-3,28%",14312.666786,16.168214,1,38,2022-12-01
7867,2023-02-01,-7.8,12.0,-25.8,2023-02-28,15365.14,"15.299,79","15.443,17","15.289,43","93,76M","-0,11%",15319.001071,15.885000,1,38,2023-02-01
8083,2024-01-01,-21.4,-10.6,-31.6,2024-01-04,16617.29,"16.563,69","16.626,84","16.501,40","65,87M","0,48%",16544.392143,23.552500,1,38,2024-01-01
8134,2024-03-01,-23.8,-12.7,-34.2,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01

In [180]:
ifoKlimaVSDax["ifoKlimaSaldoAllNeg"]=(ifoKlimaVSDax[["Geschäftsklima.1","Geschäftslage.1","Geschäftserwartungen.1"]]<0).all(axis=1)

In [186]:
ifoKlimaVSDax[ifoKlimaVSDax["daysOfTrend"]>38]["Monat/Jahr"].unique()

<DatetimeArray>
['1991-06-01 00:00:00', '1992-03-01 00:00:00', '1993-03-01 00:00:00',
 '1993-07-01 00:00:00', '1993-08-01 00:00:00', '1993-09-01 00:00:00',
 '1993-11-01 00:00:00', '1993-12-01 00:00:00', '1994-01-01 00:00:00',
 '1994-05-01 00:00:00',
 ...
 '2019-11-01 00:00:00', '2019-12-01 00:00:00', '2020-06-01 00:00:00',
 '2020-07-01 00:00:00', '2021-01-01 00:00:00', '2021-04-01 00:00:00',
 '2021-05-01 00:00:00', '2022-12-01 00:00:00', '2023-03-01 00:00:00',
 '2024-01-01 00:00:00']
Length: 103, dtype: datetime64[ns]

In [187]:
ifoKlimaVSDax[ifoKlimaVSDax["ifoKlimaSaldoAllNeg"]==True]["Monat/Jahr"].unique()

<DatetimeArray>
['1992-02-01 00:00:00', '1992-03-01 00:00:00', '1992-04-01 00:00:00',
 '1992-05-01 00:00:00', '1992-06-01 00:00:00', '1992-07-01 00:00:00',
 '1992-08-01 00:00:00', '1992-09-01 00:00:00', '1992-10-01 00:00:00',
 '1992-11-01 00:00:00',
 ...
 '2020-06-01 00:00:00', '2020-07-01 00:00:00', '2023-08-01 00:00:00',
 '2023-09-01 00:00:00', '2023-10-01 00:00:00', '2023-11-01 00:00:00',
 '2023-12-01 00:00:00', '2024-01-01 00:00:00', '2024-02-01 00:00:00',
 '2024-03-01 00:00:00']
Length: 127, dtype: datetime64[ns]

In [176]:
ifoKlimaVSDax_pos_dax_neg_ifo=ifoKlimaVSDax[(ifoKlimaVSDax["ifoKlimaSaldoAllNeg"]==True) & (ifoKlimaVSDax["daysOfTrend"]>37)]
ifoKlimaVSDax_pos_dax_neg_ifo

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month,ifoKlimaSaldoAllNeg
268,1992-03-01,-3.4,-1.5,-5.3,1992-03-02,1749.29,"1.749,29","1.749,29","1.749,29",NaN,"0,14%",1696.706071,2.470000,1,38,1992-03-01,True
269,1992-03-01,-3.4,-1.5,-5.3,1992-03-03,1763.86,"1.763,86","1.763,86","1.763,86",NaN,"0,83%",1699.992500,3.286429,1,39,1992-03-01,True
270,1992-03-01,-3.4,-1.5,-5.3,1992-03-04,1762.27,"1.762,27","1.762,27","1.762,27",NaN,"-0,09%",1703.305000,3.312500,1,40,1992-03-01,True
271,1992-03-01,-3.4,-1.5,-5.3,1992-03-05,1762.29,"1.762,29","1.762,29","1.762,29",NaN,"0,00%",1706.004286,2.699286,1,41,1992-03-01,True
272,1992-03-01,-3.4,-1.5,-5.3,1992-03-06,1746.77,"1.746,77","1.746,77","1.746,77",NaN,"-0,88%",1708.192143,2.187857,1,42,1992-03-01,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8087,2024-01-01,-21.4,-10.6,-31.6,2024-01-10,16689.81,"16.703,12","16.753,69","16.654,99","61,30M","0,01%",16641.020357,24.897857,1,42,2024-01-01,True
8088,2024-01-01,-21.4,-10.6,-31.6,2024-01-11,16547.03,"16.775,92","16.839,49","16.541,38","72,21M","-0,86%",16654.612500,13.592143,1,43,2024-01-01,True
8089,2024-01-01,-21.4,-10.6,-31.6,2024-01-12,16704.56,"16.649,45","16.752,24","16.608,00","62,16M","0,95%",16672.081429,17.468929,1,44,2024-01-01,True
8090,2024-01-01,-21.4,-10.6,-31.6,2024-01-15,16622.22,"16.723,24","16.736,16","16.609,22","47,80M","-0,49%",16680.106429,8.025000,1,45,2024-01-01,True
8134,2024-03-01,-23.8,-12.7,-34.2,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01,True

In [178]:
len(ifoKlimaVSDax_pos_dax_neg_ifo["Monat/Jahr"].unique())

41

In [179]:
(ifoKlimaVSDax_pos_dax_neg_ifo["Monat/Jahr"].unique())

<DatetimeArray>
['1992-03-01 00:00:00', '1993-03-01 00:00:00', '1993-07-01 00:00:00',
 '1993-08-01 00:00:00', '1993-09-01 00:00:00', '1993-11-01 00:00:00',
 '1993-12-01 00:00:00', '1994-01-01 00:00:00', '1995-06-01 00:00:00',
 '1995-08-01 00:00:00', '1995-09-01 00:00:00', '1996-01-01 00:00:00',
 '1996-02-01 00:00:00', '1996-03-01 00:00:00', '1996-10-01 00:00:00',
 '1996-11-01 00:00:00', '1996-12-01 00:00:00', '1997-01-01 00:00:00',
 '1997-02-01 00:00:00', '1997-03-01 00:00:00', '1997-04-01 00:00:00',
 '1997-06-01 00:00:00', '1997-07-01 00:00:00', '2001-02-01 00:00:00',
 '2001-12-01 00:00:00', '2002-01-01 00:00:00', '2003-05-01 00:00:00',
 '2003-06-01 00:00:00', '2003-07-01 00:00:00', '2003-08-01 00:00:00',
 '2004-12-01 00:00:00', '2005-01-01 00:00:00', '2005-07-01 00:00:00',
 '2005-08-01 00:00:00', '2009-05-01 00:00:00', '2009-06-01 00:00:00',
 '2009-09-01 00:00:00', '2020-06-01 00:00:00', '2020-07-01 00:00:00',
 '2024-01-01 00:00:00', '2024-03-01 00:00:00']
Length: 41, dtype: datetime64[ns]