In [1]:
import pandas as pd
import numpy as np

In [2]:
data2010=pd.read_csv("../data/2010before.csv")
data2010["Zuletzt"]=data2010["Zuletzt"].str.replace(".","")
data2010["Zuletzt"]=data2010["Zuletzt"].str.replace(",",".")
data2010

           Datum  Zuletzt   Eröffn.      Hoch      Tief     Vol.   +/- %
0     22.10.2010  6605.84  6.594,90  6.623,94  6.586,40   67,47M  -0,08%
1     21.10.2010  6611.01  6.514,99  6.621,84  6.504,66   95,69M   1,33%
2     20.10.2010  6524.55  6.470,30  6.527,85  6.461,48   95,16M   0,52%
3     19.10.2010  6490.69  6.508,36  6.544,79  6.472,18  101,37M  -0,40%
4     18.10.2010  6516.63  6.465,83  6.533,83  6.462,59   91,06M   0,37%
...          ...      ...       ...       ...       ...      ...     ...
4995  11.01.1990  1843.42  1.843,42  1.843,42  1.843,42      NaN  -1,18%
4996  09.01.1990  1865.52  1.865,52  1.865,52  1.865,52      NaN   1,31%
4997  08.01.1990  1841.47  1.841,47  1.841,47  1.841,47      NaN   0,58%
4998  04.01.1990  1830.92  1.830,92  1.830,92  1.830,92      NaN  -1,95%
4999  03.01.1990  1867.29  1.867,29  1.867,29  1.867,29      NaN   5,01%

[5000 rows x 7 columns]

In [3]:
data2024=pd.read_csv("../data/2024.csv")
data2024["Zuletzt"]=data2024["Zuletzt"].str.replace(".","")
data2024["Zuletzt"]=data2024["Zuletzt"].str.replace(",",".")
data2024

           Datum   Zuletzt    Eröffn.       Hoch       Tief     Vol.   +/- %
0     21.03.2024  18173.77  18.019,86  18.178,47  18.019,86   79,12M   0,88%
1     20.03.2024  18015.13  17.987,91  18.044,49  17.955,69   61,71M   0,15%
2     19.03.2024  17987.49  17.932,18  17.998,04  17.914,18   73,42M   0,31%
3     18.03.2024  17932.68  17.936,31  18.015,49  17.902,92   63,02M  -0,02%
4     15.03.2024  17936.65  17.938,14  18.038,11  17.926,72  202,91M  -0,03%
...          ...       ...        ...        ...        ...      ...     ...
3610  08.01.2010   6037.61   6.028,62   6.053,04   5.972,24      NaN   0,30%
3611  07.01.2010   6019.36   6.016,80   6.037,57   5.961,25      NaN  -0,25%
3612  06.01.2010   6034.33   6.032,39   6.047,57   5.997,09      NaN   0,04%
3613  05.01.2010   6031.86   6.043,94   6.058,02   6.015,67      NaN  -0,27%
3614  04.01.2010   6048.30   5.975,52   6.048,30   5.974,43      NaN   1,53%

[3615 rows x 7 columns]

In [4]:
WendeToNow=pd.concat([data2010,data2024],axis=0).drop_duplicates(subset=["Datum"])
WendeToNow

           Datum  Zuletzt   Eröffn.      Hoch      Tief     Vol.   +/- %
0     22.10.2010  6605.84  6.594,90  6.623,94  6.586,40   67,47M  -0,08%
1     21.10.2010  6611.01  6.514,99  6.621,84  6.504,66   95,69M   1,33%
2     20.10.2010  6524.55  6.470,30  6.527,85  6.461,48   95,16M   0,52%
3     19.10.2010  6490.69  6.508,36  6.544,79  6.472,18  101,37M  -0,40%
4     18.10.2010  6516.63  6.465,83  6.533,83  6.462,59   91,06M   0,37%
...          ...      ...       ...       ...       ...      ...     ...
3401  29.10.2010  6601.37  6.585,97  6.630,98  6.569,25   93,68M   0,09%
3402  28.10.2010  6595.28  6.600,28  6.644,61  6.576,02  104,32M   0,42%
3403  27.10.2010  6568.00  6.591,24  6.629,13  6.553,25  117,91M  -0,69%
3404  26.10.2010  6613.80  6.634,24  6.645,70  6.580,28   95,12M  -0,38%
3405  25.10.2010  6639.21  6.645,45  6.668,54  6.625,83   75,74M   0,51%

[8406 rows x 7 columns]

In [5]:
WendeToNow["Datum"]=pd.to_datetime(WendeToNow["Datum"])

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_32360/1363230040.py:1: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  WendeToNow["Datum"]=pd.to_datetime(WendeToNow["Datum"])

In [6]:
WendeToNow=WendeToNow.sort_values(by=["Datum"]).reset_index(drop=True)
WendeToNow

          Datum   Zuletzt    Eröffn.       Hoch       Tief     Vol.   +/- %
0    1990-01-03   1867.29   1.867,29   1.867,29   1.867,29      NaN   5,01%
1    1990-01-04   1830.92   1.830,92   1.830,92   1.830,92      NaN  -1,95%
2    1990-01-08   1841.47   1.841,47   1.841,47   1.841,47      NaN   0,58%
3    1990-01-09   1865.52   1.865,52   1.865,52   1.865,52      NaN   1,31%
4    1990-01-11   1843.42   1.843,42   1.843,42   1.843,42      NaN  -1,18%
...         ...       ...        ...        ...        ...      ...     ...
8401 2024-03-15  17936.65  17.938,14  18.038,11  17.926,72  202,91M  -0,03%
8402 2024-03-18  17932.68  17.936,31  18.015,49  17.902,92   63,02M  -0,02%
8403 2024-03-19  17987.49  17.932,18  17.998,04  17.914,18   73,42M   0,31%
8404 2024-03-20  18015.13  17.987,91  18.044,49  17.955,69   61,71M   0,15%
8405 2024-03-21  18173.77  18.019,86  18.178,47  18.019,86   79,12M   0,88%

[8406 rows x 7 columns]

In [7]:
WendeToNow

          Datum   Zuletzt    Eröffn.       Hoch       Tief     Vol.   +/- %
0    1990-01-03   1867.29   1.867,29   1.867,29   1.867,29      NaN   5,01%
1    1990-01-04   1830.92   1.830,92   1.830,92   1.830,92      NaN  -1,95%
2    1990-01-08   1841.47   1.841,47   1.841,47   1.841,47      NaN   0,58%
3    1990-01-09   1865.52   1.865,52   1.865,52   1.865,52      NaN   1,31%
4    1990-01-11   1843.42   1.843,42   1.843,42   1.843,42      NaN  -1,18%
...         ...       ...        ...        ...        ...      ...     ...
8401 2024-03-15  17936.65  17.938,14  18.038,11  17.926,72  202,91M  -0,03%
8402 2024-03-18  17932.68  17.936,31  18.015,49  17.902,92   63,02M  -0,02%
8403 2024-03-19  17987.49  17.932,18  17.998,04  17.914,18   73,42M   0,31%
8404 2024-03-20  18015.13  17.987,91  18.044,49  17.955,69   61,71M   0,15%
8405 2024-03-21  18173.77  18.019,86  18.178,47  18.019,86   79,12M   0,88%

[8406 rows x 7 columns]

In [8]:
WendeToNow["28daysSmoothened"]=WendeToNow["Zuletzt"].rolling(window=28).mean()
WendeToNow["diffSmoothened"]=WendeToNow["28daysSmoothened"]-WendeToNow["28daysSmoothened"].shift(1)
WendeToNow

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened
0,1990-01-03,1867.29,"1.867,29","1.867,29","1.867,29",NaN,"5,01%",NaN,NaN
1,1990-01-04,1830.92,"1.830,92","1.830,92","1.830,92",NaN,"-1,95%",NaN,NaN
2,1990-01-08,1841.47,"1.841,47","1.841,47","1.841,47",NaN,"0,58%",NaN,NaN
3,1990-01-09,1865.52,"1.865,52","1.865,52","1.865,52",NaN,"1,31%",NaN,NaN
4,1990-01-11,1843.42,"1.843,42","1.843,42","1.843,42",NaN,"-1,18%",NaN,NaN
...,...,...,...,...,...,...,...,...,...
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643
8402,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143
8403,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286
8404,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643
8405,2024-03-21,18173.77,"18.019,86","18.178,47","18.019,86","79,12M","0,88%",17589.371071,40.586429

In [9]:
WendeToNow[WendeToNow["Datum"]>"2023-01-01"]

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened
8093,2023-01-02,14069.26,"13.992,71","14.095,91","13.976,44","34,98M","1,05%",14223.606429,-12.610357
8094,2023-01-03,14181.67,"14.116,07","14.293,87","14.083,76","57,91M","0,80%",14214.823571,-8.782857
8095,2023-01-04,14490.78,"14.266,98","14.492,78","14.264,60","76,22M","2,18%",14213.081429,-1.742143
8096,2023-01-05,14436.31,"14.451,23","14.501,60","14.403,73","60,95M","-0,38%",14209.328929,-3.752500
8097,2023-01-06,14610.02,"14.476,72","14.610,23","14.388,98","55,43M","1,20%",14217.423929,8.095000
...,...,...,...,...,...,...,...,...,...
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643
8402,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143
8403,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286
8404,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643
8405,2024-03-21,18173.77,"18.019,86","18.178,47","18.019,86","79,12M","0,88%",17589.371071,40.586429

In [10]:
WendeToNow[WendeToNow["Datum"]>"2023-01-01"].to_csv("recent_dax.csv",index=False)

In [11]:
negative_to_positve = (WendeToNow["diffSmoothened"] > 0) & (WendeToNow["diffSmoothened"].shift(-1) > 0)
positive_to_negative = (WendeToNow["diffSmoothened"] < 0) & (WendeToNow["diffSmoothened"].shift(-1) < 0)
WendeToNow["Trend"]=0
WendeToNow["Trend"]=np.where(positive_to_negative,-1,WendeToNow["Trend"])
WendeToNow["Trend"]=np.where(negative_to_positve,1,WendeToNow["Trend"])
WendeToNow

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend
0,1990-01-03,1867.29,"1.867,29","1.867,29","1.867,29",NaN,"5,01%",NaN,NaN,0
1,1990-01-04,1830.92,"1.830,92","1.830,92","1.830,92",NaN,"-1,95%",NaN,NaN,0
2,1990-01-08,1841.47,"1.841,47","1.841,47","1.841,47",NaN,"0,58%",NaN,NaN,0
3,1990-01-09,1865.52,"1.865,52","1.865,52","1.865,52",NaN,"1,31%",NaN,NaN,0
4,1990-01-11,1843.42,"1.843,42","1.843,42","1.843,42",NaN,"-1,18%",NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1
8402,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1
8403,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1
8404,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1
8405,2024-03-21,18173.77,"18.019,86","18.178,47","18.019,86","79,12M","0,88%",17589.371071,40.586429,0

In [12]:
listOfTrends=[]
trendcounter=0
for index, row in WendeToNow.iterrows():
    if (row["Trend"]==0):
        trendcounter=0
    else:
        trendcounter=trendcounter+row["Trend"]
    listOfTrends.append(trendcounter)

WendeToNow["daysOfTrend"]=listOfTrends

In [13]:
WendeToNow

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend
0,1990-01-03,1867.29,"1.867,29","1.867,29","1.867,29",NaN,"5,01%",NaN,NaN,0,0
1,1990-01-04,1830.92,"1.830,92","1.830,92","1.830,92",NaN,"-1,95%",NaN,NaN,0,0
2,1990-01-08,1841.47,"1.841,47","1.841,47","1.841,47",NaN,"0,58%",NaN,NaN,0,0
3,1990-01-09,1865.52,"1.865,52","1.865,52","1.865,52",NaN,"1,31%",NaN,NaN,0,0
4,1990-01-11,1843.42,"1.843,42","1.843,42","1.843,42",NaN,"-1,18%",NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38
8402,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39
8403,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40
8404,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41
8405,2024-03-21,18173.77,"18.019,86","18.178,47","18.019,86","79,12M","0,88%",17589.371071,40.586429,0,0

In [14]:
len(WendeToNow[WendeToNow["daysOfTrend"]==28])

67

In [15]:
WendeToNow["Year-Month"]=WendeToNow["Datum"].astype(str).str[:-3]+"-01"
WendeToNow["Year-Month"]=pd.to_datetime(WendeToNow["Year-Month"])
WendeToNow

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month
0,1990-01-03,1867.29,"1.867,29","1.867,29","1.867,29",NaN,"5,01%",NaN,NaN,0,0,1990-01-01
1,1990-01-04,1830.92,"1.830,92","1.830,92","1.830,92",NaN,"-1,95%",NaN,NaN,0,0,1990-01-01
2,1990-01-08,1841.47,"1.841,47","1.841,47","1.841,47",NaN,"0,58%",NaN,NaN,0,0,1990-01-01
3,1990-01-09,1865.52,"1.865,52","1.865,52","1.865,52",NaN,"1,31%",NaN,NaN,0,0,1990-01-01
4,1990-01-11,1843.42,"1.843,42","1.843,42","1.843,42",NaN,"-1,18%",NaN,NaN,0,0,1990-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01
8402,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39,2024-03-01
8403,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40,2024-03-01
8404,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41,2024-03-01
8405,2024-03-21,18173.77,"18.019,86","18.178,47","18.019,86","79,12M","0,88%",17589.371071,40.586429,0,0,2024-03-01

In [16]:
ifoKlima=pd.read_excel("../data/gsk-d-202403.xlsx",sheet_name="ifo Geschäftsklima Deutschland", skiprows=7)
ifoKlima["Monat/Jahr"]=ifoKlima["Monat/Jahr"].str.strip()
ifoKlima["Monat/Jahr"]=pd.to_datetime(ifoKlima["Monat/Jahr"],format="%m/%Y")
ifoKlima.columns=ifoKlima.columns.str.strip()

ifoKlima=ifoKlima[["Monat/Jahr",'Geschäftsklima.1', 'Geschäftslage.1', 'Geschäftserwartungen.1']]
ifoKlima

    Monat/Jahr  Geschäftsklima.1  Geschäftslage.1  Geschäftserwartungen.1
0          NaT               NaN              NaN                     NaN
1   2005-01-01               1.5             -0.9                     3.8
2   2005-02-01               1.0              0.4                     1.6
3   2005-03-01              -3.1             -4.4                    -1.8
4   2005-04-01              -3.4             -3.3                    -3.5
..         ...               ...              ...                     ...
227 2023-11-01              -9.5              3.6                   -21.8
228 2023-12-01             -11.4              1.7                   -23.7
229 2024-01-01             -13.9             -1.9                   -25.1
230 2024-02-01             -12.7             -1.9                   -23.0
231 2024-03-01              -8.1              0.6                   -16.4

[232 rows x 4 columns]

In [17]:
ifoKlimaVSDax=pd.merge(ifoKlima,WendeToNow,left_on="Monat/Jahr",right_on="Year-Month")
ifoKlimaVSDax

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month
0,2005-01-01,1.5,-0.9,3.8,2005-01-03,4291.53,"4.260,92","4.310,30","4.251,37",NaN,"0,83%",4202.213214,5.983929,1,44,2005-01-01
1,2005-01-01,1.5,-0.9,3.8,2005-01-04,4290.50,"4.281,63","4.306,69","4.276,55",NaN,"-0,02%",4208.539286,6.326071,1,45,2005-01-01
2,2005-01-01,1.5,-0.9,3.8,2005-01-05,4258.24,"4.262,21","4.274,65","4.242,07",NaN,"-0,75%",4213.287143,4.747857,1,46,2005-01-01
3,2005-01-01,1.5,-0.9,3.8,2005-01-06,4300.94,"4.260,37","4.300,99","4.260,37",NaN,"1,00%",4218.308214,5.021071,1,47,2005-01-01
4,2005-01-01,1.5,-0.9,3.8,2005-01-07,4316.40,"4.297,99","4.325,77","4.288,26",NaN,"0,36%",4224.098571,5.790357,1,48,2005-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4886,2024-03-01,-8.1,0.6,-16.4,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01
4887,2024-03-01,-8.1,0.6,-16.4,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39,2024-03-01
4888,2024-03-01,-8.1,0.6,-16.4,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40,2024-03-01
4889,2024-03-01,-8.1,0.6,-16.4,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41,2024-03-01
4890,2024-03-01,-8.1,0.6,-16.4,2024-03-21,18173.77,"18.019,86","18.178,47","18.019,86","79,12M","0,88%",17589.371071,40.586429,0,0,2024-03-01

In [18]:
ifoKlimaVSDax[ifoKlimaVSDax["daysOfTrend"]==28]

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month
46,2005-03-01,-3.1,-4.4,-1.8,2005-03-08,4396.50,"4.417,11","4.422,89","4.388,11",NaN,"-0,71%",4348.213214,6.431786,1,28,2005-03-01
127,2005-07-01,-0.8,-4.5,3.0,2005-07-01,4617.07,"4.584,44","4.623,80","4.579,51",NaN,"0,67%",4548.271429,7.872500,1,28,2005-07-01
250,2005-12-01,7.6,5.7,9.6,2005-12-21,5397.23,"5.367,81","5.400,33","5.367,68",NaN,"0,76%",5236.802500,10.945714,1,28,2005-12-01
441,2006-09-01,16.4,23.0,9.9,2006-09-20,5954.38,"5.877,08","5.962,14","5.872,31",NaN,"1,38%",5843.068571,11.643214,1,28,2006-09-01
521,2007-01-01,21.8,28.1,15.7,2007-01-15,6731.74,"6.719,53","6.746,30","6.719,53",NaN,"0,40%",6559.670357,17.521786,1,28,2007-01-01
604,2007-05-01,21.2,29.2,13.5,2007-05-15,7505.35,"7.432,66","7.520,53","7.418,26",NaN,"0,61%",7333.011429,20.292143,1,28,2007-05-01
720,2007-10-01,18.2,27.1,9.7,2007-10-25,7932.44,"7.862,61","7.970,57","7.861,39",NaN,"1,32%",7887.234286,16.163929,1,28,2007-10-01
863,2008-05-01,11.6,23.3,0.5,2008-05-23,6944.05,"7.057,52","7.065,90","6.934,54",NaN,"-1,79%",6952.871786,13.912857,1,28,2008-05-01
1110,2009-05-01,-20.6,-22.7,-18.5,2009-05-11,4866.91,"4.907,29","4.917,73","4.832,37",NaN,"-0,96%",4602.302857,27.933929,1,28,2009-05-01
1189,2009-08-01,-8.7,-17.3,0.3,2009-08-28,5517.35,"5.512,17","5.573,89","5.502,46",NaN,"0,86%",5350.796071,15.120714,1,28,2009-08-01
1283,2010-01-01,-1.9,-8.9,5.3,2010-01-13,5963.14,"5.937,17","5.974,44","5.925,24",NaN,"0,34%",5887.468214,12.042500,1,28,2010-01-01
1344,2010-04-01,8.8,5.7,12.0,2010-04-09,6249.70,"6.226,26","6.254,49","6.216,60",NaN,"1,26%",6030.351429,19.149643,1,28,2010-04-01
1487,2010-10-01,22.4,25.1,19.7,2010-10-27,6568.00,"6.591,24","6.629,13","6.553,25","117,91M","-0,69%",6366.383929,12.794286,1,28,2010-10-01
1757,2011-11-01,14.4,29.6,0.2,2011-11-15,5933.14,"5.920,43","6.011,47","5.815,85","140,68M","-0,87%",5966.354286,10.281786,1,28,2011-11-01
1815,2012-02-01,17.0,29.5,5.1,2012-02-06,6764.83,"6.752,03","6.781,43","6.714,82","123,04M","-0,03%",6309.797500,35.484286,1,28,2012-02-01
1944,2012-08-01,7.8,21.7,-5.3,2012-08-08,6966.15,"6.944,89","6.966,15","6.907,29","121,07M","-0,03%",6613.254286,19.638214,1,28,2012-08-01
2052,2013-01-01,10.6,20.1,1.5,2013-01-14,7729.52,"7.737,61","7.785,82","7.702,36","41,22M","0,18%",7614.831429,13.789643,1,28,2013-01-01
2155,2013-06-01,11.1,17.3,5.0,2013-06-11,8222.46,"8.256,19","8.260,86","8.141,02","96,69M","-1,03%",8310.117143,9.312500,1,28,2013-06-01
2206,2013-08-01,15.6,20.7,10.7,2013-08-21,8285.41,"8.301,06","8.310,68","8.268,42","65,97M","-0,18%",8324.983214,2.594286,1,28,2013-08-01
2245,2013-10-01,16.1,23.1,9.3,2013-10-15,8804.44,"8.757,13","8.820,98","8.757,09","93,81M","0,92%",8597.913571,20.337857,1,28,2013-10-01
2316,2014-01-01,21.6,28.1,15.3,2014-01-29,9336.73,"9.507,35","9.537,63","9.221,30","126,38M","-0,75%",9481.643214,11.795357,1,28,2014-01-01
2419,2014-06-01,18.2,26.7,10.0,2014-06-26,9804.90,"9.894,55","9.898,38","9.749,75","94,93M","-0,64%",9903.883214,5.196786,1,28,2014-06-01
2544,2014-12-01,14.6,23.9,5.7,2014-12-19,9786.96,"9.901,26","9.901,26","9.688,66","173,45M","-0,25%",9699.876071,14.926071,1,28,2014-12-01
2585,2015-02-01,15.9,23.4,8.5,2015-02-23,11130.92,"11.150,47","11.158,55","11.069,77","76,63M","0,73%",10716.153214,46.922857,1,28,2015-02-01
2781,2015-11-01,20.6,28.5,13.1,2015-11-27,11293.76,"11.277,91","11.354,01","11.247,14","63,97M","-0,24%",10886.808571,40.931429,1,28,2015-11-01
2879,2016-04-01,18.9,28.7,9.5,2016-04-21,10435.73,"10.456,99","10.474,38","10.341,97","101,41M","0,14%",9935.528571,33.485000,1,28,2016-04-01
2979,2016-09-01,20.3,29.0,11.9,2016-09-09,10573.44,"10.641,81","10.671,66","10.539,31","101,92M","-0,95%",10582.148214,15.325000,1,28,2016-09-01
3067,2017-01-01,21.3,32.1,10.9,2017-01-13,11629.18,"11.576,78","11.635,55","11.554,45","82,61M","0,94%",11416.968929,33.726786,1,28,2017-01-01
3258,2017-10-01,28.1,42.1,14.8,2017-10-16,13003.70,"13.017,18","13.026,45","13.000,38","56,35M","0,09%",12691.914286,31.428214,1,28,2017-10-01
3407,2018-05-01,25.1,43.3,8.3,2018-05-23,12976.84,"13.138,83","13.148,05","12.929,90","108,70M","-1,47%",12756.956786,24.388214,1,28,2018-05-01
3602,2019-02-01,15.4,36.1,-3.4,2019-02-28,11515.64,"11.430,80","11.524,99","11.416,08","86,73M","0,25%",11249.080357,13.551429,1,28,2019-02-01
3761,2019-10-01,7.5,23.1,-7.0,2019-10-16,12670.11,"12.644,18","12.698,37","12.603,83","99,48M","0,32%",12314.283929,19.404643,1,28,2019-10-01
3917,2020-06-01,-13.0,-15.4,-10.5,2020-06-03,12487.36,"12.147,12","12.507,41","12.133,70","152,04M","3,88%",11023.512143,74.011786,1,28,2020-06-01
4066,2021-01-01,-2.4,4.1,-8.8,2021-01-04,13726.74,"13.890,22","13.907,13","13.647,79","70,21M","0,06%",13393.057500,22.877857,1,28,2021-01-01
4133,2021-04-01,10.1,14.7,5.6,2021-04-09,15234.16,"15.198,14","15.243,56","15.157,21","56,87M","0,21%",14629.297500,51.709643,1,28,2021-04-01
4194,2021-07-01,20.4,29.2,11.9,2021-07-06,15511.38,"15.615,07","15.647,88","15.466,66","53,76M","-0,96%",15606.635357,3.737500,1,28,2021-07-01
4557,2022-12-01,-6.0,14.7,-24.7,2022-12-01,14490.30,"14.543,80","14.563,70","14.423,79","61,60M","0,65%",13927.256071,55.673214,1,28,2022-12-01
4609,2023-02-01,-1.3,14.5,-15.9,2023-02-14,15380.56,"15.419,00","15.526,28","15.366,37","56,43M","-0,11%",15157.015714,33.723214,1,28,2023-02-01
4668,2023-05-01,-0.2,16.2,-15.4,2023-05-11,15834.91,"15.943,85","15.970,54","15.754,76","67,89M","-0,39%",15775.921429,18.076071,1,28,2023-05-01
4825,2023-12-01,-11.4,1.7,-23.7,2023-12-18,16650.55,"16.683,69","16.744,27","16.624,65","56,72M","-0,60%",16178.985714,50.748214,1,28,2023-12-01
4876,2024-03-01,-8.1,0.6,-16.4,2024-03-01,17735.07,"17.793,47","17.816,52","17.690,89","85,78M","0,32%",17114.052143,39.570714,1,28,2024-03-01

In [19]:
ifoKlimaVSDax["ifoKlimaSaldoAllNeg"]=(ifoKlimaVSDax[["Geschäftslage.1","Geschäftserwartungen.1"]]<0).all(axis=1)

In [20]:
ifoKlimaVSDax[ifoKlimaVSDax["daysOfTrend"]>28]["Monat/Jahr"].unique()

<DatetimeArray>
['2005-01-01 00:00:00', '2005-03-01 00:00:00', '2005-07-01 00:00:00',
 '2005-08-01 00:00:00', '2005-12-01 00:00:00', '2006-01-01 00:00:00',
 '2006-02-01 00:00:00', '2006-03-01 00:00:00', '2006-04-01 00:00:00',
 '2006-05-01 00:00:00', '2006-09-01 00:00:00', '2006-10-01 00:00:00',
 '2006-11-01 00:00:00', '2007-01-01 00:00:00', '2007-02-01 00:00:00',
 '2007-05-01 00:00:00', '2007-06-01 00:00:00', '2007-07-01 00:00:00',
 '2007-10-01 00:00:00', '2007-11-01 00:00:00', '2008-05-01 00:00:00',
 '2008-06-01 00:00:00', '2009-05-01 00:00:00', '2009-06-01 00:00:00',
 '2009-08-01 00:00:00', '2009-09-01 00:00:00', '2010-01-01 00:00:00',
 '2010-04-01 00:00:00', '2010-10-01 00:00:00', '2010-11-01 00:00:00',
 '2010-12-01 00:00:00', '2011-01-01 00:00:00', '2011-02-01 00:00:00',
 '2011-03-01 00:00:00', '2011-11-01 00:00:00', '2012-02-01 00:00:00',
 '2012-03-01 00:00:00', '2012-08-01 00:00:00', '2012-09-01 00:00:00',
 '2012-10-01 00:00:00', '2013-01-01 00:00:00', '2013-08-01 00:00:00',
 '2013-10-01 00:00:00', '2013-11-01 00:00:00', '2013-12-01 00:00:00',
 '2014-01-01 00:00:00', '2014-06-01 00:00:00', '2014-07-01 00:00:00',
 '2014-12-01 00:00:00', '2015-01-01 00:00:00', '2015-02-01 00:00:00',
 '2015-03-01 00:00:00', '2015-04-01 00:00:00', '2015-11-01 00:00:00',
 '2015-12-01 00:00:00', '2016-04-01 00:00:00', '2016-09-01 00:00:00',
 '2017-01-01 00:00:00', '2017-02-01 00:00:00', '2017-03-01 00:00:00',
 '2017-04-01 00:00:00', '2017-05-01 00:00:00', '2017-06-01 00:00:00',
 '2017-10-01 00:00:00', '2017-11-01 00:00:00', '2018-05-01 00:00:00',
 '2018-06-01 00:00:00', '2019-03-01 00:00:00', '2019-04-01 00:00:00',
 '2019-05-01 00:00:00', '2019-10-01 00:00:00', '2019-11-01 00:00:00',
 '2019-12-01 00:00:00', '2020-06-01 00:00:00', '2020-07-01 00:00:00',
 '2021-01-01 00:00:00', '2021-04-01 00:00:00', '2021-05-01 00:00:00',
 '2022-12-01 00:00:00', '2023-02-01 00:00:00', '2023-03-01 00:00:00',
 '2023-05-01 00:00:00', '2023-12-01 00:00:00', '2024-01-01 00:00:00',
 '2024-03-01 00:00:00']
Length: 85, dtype: datetime64[ns]

In [21]:
ifoKlimaVSDax[ifoKlimaVSDax["ifoKlimaSaldoAllNeg"]==True]["Monat/Jahr"].unique()

<DatetimeArray>
['2005-03-01 00:00:00', '2005-04-01 00:00:00', '2005-05-01 00:00:00',
 '2005-06-01 00:00:00', '2008-11-01 00:00:00', '2008-12-01 00:00:00',
 '2009-01-01 00:00:00', '2009-02-01 00:00:00', '2009-03-01 00:00:00',
 '2009-04-01 00:00:00', '2009-05-01 00:00:00', '2009-06-01 00:00:00',
 '2009-07-01 00:00:00', '2020-04-01 00:00:00', '2020-05-01 00:00:00',
 '2020-06-01 00:00:00', '2020-07-01 00:00:00', '2024-01-01 00:00:00',
 '2024-02-01 00:00:00']
Length: 19, dtype: datetime64[ns]

In [22]:
ifoKlimaVSDax_pos_dax_neg_ifo=ifoKlimaVSDax[(ifoKlimaVSDax["ifoKlimaSaldoAllNeg"]==True) & (ifoKlimaVSDax["daysOfTrend"]>28)]
ifoKlimaVSDax_pos_dax_neg_ifo

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month,ifoKlimaSaldoAllNeg
47,2005-03-01,-3.1,-4.4,-1.8,2005-03-09,4375.60,"4.395,24","4.428,54","4.365,23",NaN,"-0,48%",4354.420000,6.206786,1,29,2005-03-01,True
48,2005-03-01,-3.1,-4.4,-1.8,2005-03-10,4337.68,"4.358,29","4.365,41","4.330,21",NaN,"-0,87%",4357.378214,2.958214,1,30,2005-03-01,True
49,2005-03-01,-3.1,-4.4,-1.8,2005-03-11,4360.49,"4.359,93","4.379,94","4.353,56",NaN,"0,53%",4360.253929,2.875714,1,31,2005-03-01,True
50,2005-03-01,-3.1,-4.4,-1.8,2005-03-14,4367.30,"4.353,73","4.371,28","4.340,02",NaN,"0,16%",4362.789286,2.535357,1,32,2005-03-01,True
1111,2009-05-01,-20.6,-22.7,-18.5,2009-05-12,4854.11,"4.836,99","4.926,69","4.821,53",NaN,"-0,26%",4628.125714,25.822857,1,29,2009-05-01,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,2024-01-01,-13.9,-1.9,-25.1,2024-01-09,16688.36,"16.743,27","16.743,27","16.611,53","59,80M","-0,17%",16616.122500,25.785357,1,41,2024-01-01,True
4839,2024-01-01,-13.9,-1.9,-25.1,2024-01-10,16689.81,"16.703,12","16.753,69","16.654,99","61,30M","0,01%",16641.020357,24.897857,1,42,2024-01-01,True
4840,2024-01-01,-13.9,-1.9,-25.1,2024-01-11,16547.03,"16.775,92","16.839,49","16.541,38","72,21M","-0,86%",16654.612500,13.592143,1,43,2024-01-01,True
4841,2024-01-01,-13.9,-1.9,-25.1,2024-01-12,16704.56,"16.649,45","16.752,24","16.608,00","62,16M","0,95%",16672.081429,17.468929,1,44,2024-01-01,True
4842,2024-01-01,-13.9,-1.9,-25.1,2024-01-15,16622.22,"16.723,24","16.736,16","16.609,22","47,80M","-0,49%",16680.106429,8.025000,1,45,2024-01-01,True

In [23]:
len(ifoKlimaVSDax_pos_dax_neg_ifo["Monat/Jahr"].unique())

6

In [24]:
(ifoKlimaVSDax_pos_dax_neg_ifo["Monat/Jahr"].unique())

<DatetimeArray>
['2005-03-01 00:00:00', '2009-05-01 00:00:00', '2009-06-01 00:00:00',
 '2020-06-01 00:00:00', '2020-07-01 00:00:00', '2024-01-01 00:00:00']
Length: 6, dtype: datetime64[ns]

In [25]:
ifoKlimaVSDax_pos_dax_neg_ifo

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month,ifoKlimaSaldoAllNeg
47,2005-03-01,-3.1,-4.4,-1.8,2005-03-09,4375.60,"4.395,24","4.428,54","4.365,23",NaN,"-0,48%",4354.420000,6.206786,1,29,2005-03-01,True
48,2005-03-01,-3.1,-4.4,-1.8,2005-03-10,4337.68,"4.358,29","4.365,41","4.330,21",NaN,"-0,87%",4357.378214,2.958214,1,30,2005-03-01,True
49,2005-03-01,-3.1,-4.4,-1.8,2005-03-11,4360.49,"4.359,93","4.379,94","4.353,56",NaN,"0,53%",4360.253929,2.875714,1,31,2005-03-01,True
50,2005-03-01,-3.1,-4.4,-1.8,2005-03-14,4367.30,"4.353,73","4.371,28","4.340,02",NaN,"0,16%",4362.789286,2.535357,1,32,2005-03-01,True
1111,2009-05-01,-20.6,-22.7,-18.5,2009-05-12,4854.11,"4.836,99","4.926,69","4.821,53",NaN,"-0,26%",4628.125714,25.822857,1,29,2009-05-01,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4838,2024-01-01,-13.9,-1.9,-25.1,2024-01-09,16688.36,"16.743,27","16.743,27","16.611,53","59,80M","-0,17%",16616.122500,25.785357,1,41,2024-01-01,True
4839,2024-01-01,-13.9,-1.9,-25.1,2024-01-10,16689.81,"16.703,12","16.753,69","16.654,99","61,30M","0,01%",16641.020357,24.897857,1,42,2024-01-01,True
4840,2024-01-01,-13.9,-1.9,-25.1,2024-01-11,16547.03,"16.775,92","16.839,49","16.541,38","72,21M","-0,86%",16654.612500,13.592143,1,43,2024-01-01,True
4841,2024-01-01,-13.9,-1.9,-25.1,2024-01-12,16704.56,"16.649,45","16.752,24","16.608,00","62,16M","0,95%",16672.081429,17.468929,1,44,2024-01-01,True
4842,2024-01-01,-13.9,-1.9,-25.1,2024-01-15,16622.22,"16.723,24","16.736,16","16.609,22","47,80M","-0,49%",16680.106429,8.025000,1,45,2024-01-01,True

In [26]:
recent_klima=ifoKlimaVSDax[ifoKlimaVSDax["Datum"]>"2023-01-01"].drop_duplicates(subset=["Monat/Jahr"])

In [27]:
recent_klima.to_csv("recent_klima.csv",index=False)

In [28]:
ifoKlimaVSDax.drop_duplicates(subset=["Monat/Jahr"]).to_csv("klima_historic.csv",index=False)

In [29]:
ifoKlimaVSDax

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month,ifoKlimaSaldoAllNeg
0,2005-01-01,1.5,-0.9,3.8,2005-01-03,4291.53,"4.260,92","4.310,30","4.251,37",NaN,"0,83%",4202.213214,5.983929,1,44,2005-01-01,False
1,2005-01-01,1.5,-0.9,3.8,2005-01-04,4290.50,"4.281,63","4.306,69","4.276,55",NaN,"-0,02%",4208.539286,6.326071,1,45,2005-01-01,False
2,2005-01-01,1.5,-0.9,3.8,2005-01-05,4258.24,"4.262,21","4.274,65","4.242,07",NaN,"-0,75%",4213.287143,4.747857,1,46,2005-01-01,False
3,2005-01-01,1.5,-0.9,3.8,2005-01-06,4300.94,"4.260,37","4.300,99","4.260,37",NaN,"1,00%",4218.308214,5.021071,1,47,2005-01-01,False
4,2005-01-01,1.5,-0.9,3.8,2005-01-07,4316.40,"4.297,99","4.325,77","4.288,26",NaN,"0,36%",4224.098571,5.790357,1,48,2005-01-01,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4886,2024-03-01,-8.1,0.6,-16.4,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01,False
4887,2024-03-01,-8.1,0.6,-16.4,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39,2024-03-01,False
4888,2024-03-01,-8.1,0.6,-16.4,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40,2024-03-01,False
4889,2024-03-01,-8.1,0.6,-16.4,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41,2024-03-01,False
4890,2024-03-01,-8.1,0.6,-16.4,2024-03-21,18173.77,"18.019,86","18.178,47","18.019,86","79,12M","0,88%",17589.371071,40.586429,0,0,2024-03-01,False

In [30]:
ifoKlimaVSDax["WirtschaftslageBinary"]=0
ifoKlimaVSDax["WirtschaftslageBinary"]=np.where(ifoKlimaVSDax["Geschäftslage.1"]>0,1,ifoKlimaVSDax["WirtschaftslageBinary"])
ifoKlimaVSDax["WirtschaftslageBinary"]=np.where(ifoKlimaVSDax["Geschäftslage.1"]<0,-1,ifoKlimaVSDax["WirtschaftslageBinary"])
ifoKlimaVSDax

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month,ifoKlimaSaldoAllNeg,WirtschaftslageBinary
0,2005-01-01,1.5,-0.9,3.8,2005-01-03,4291.53,"4.260,92","4.310,30","4.251,37",NaN,"0,83%",4202.213214,5.983929,1,44,2005-01-01,False,-1
1,2005-01-01,1.5,-0.9,3.8,2005-01-04,4290.50,"4.281,63","4.306,69","4.276,55",NaN,"-0,02%",4208.539286,6.326071,1,45,2005-01-01,False,-1
2,2005-01-01,1.5,-0.9,3.8,2005-01-05,4258.24,"4.262,21","4.274,65","4.242,07",NaN,"-0,75%",4213.287143,4.747857,1,46,2005-01-01,False,-1
3,2005-01-01,1.5,-0.9,3.8,2005-01-06,4300.94,"4.260,37","4.300,99","4.260,37",NaN,"1,00%",4218.308214,5.021071,1,47,2005-01-01,False,-1
4,2005-01-01,1.5,-0.9,3.8,2005-01-07,4316.40,"4.297,99","4.325,77","4.288,26",NaN,"0,36%",4224.098571,5.790357,1,48,2005-01-01,False,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4886,2024-03-01,-8.1,0.6,-16.4,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01,False,1
4887,2024-03-01,-8.1,0.6,-16.4,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39,2024-03-01,False,1
4888,2024-03-01,-8.1,0.6,-16.4,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40,2024-03-01,False,1
4889,2024-03-01,-8.1,0.6,-16.4,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41,2024-03-01,False,1
4890,2024-03-01,-8.1,0.6,-16.4,2024-03-21,18173.77,"18.019,86","18.178,47","18.019,86","79,12M","0,88%",17589.371071,40.586429,0,0,2024-03-01,False,1

In [31]:
ifoKlimaVSDax["WirtschaftserwartungBinary"]=0
ifoKlimaVSDax["WirtschaftserwartungBinary"]=np.where(ifoKlimaVSDax["Geschäftserwartungen.1"]>0,1,ifoKlimaVSDax["WirtschaftserwartungBinary"])
ifoKlimaVSDax["WirtschaftserwartungBinary"]=np.where(ifoKlimaVSDax["Geschäftserwartungen.1"]<0,-1,ifoKlimaVSDax["WirtschaftserwartungBinary"])
ifoKlimaVSDax

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month,ifoKlimaSaldoAllNeg,WirtschaftslageBinary,WirtschaftserwartungBinary
0,2005-01-01,1.5,-0.9,3.8,2005-01-03,4291.53,"4.260,92","4.310,30","4.251,37",NaN,"0,83%",4202.213214,5.983929,1,44,2005-01-01,False,-1,1
1,2005-01-01,1.5,-0.9,3.8,2005-01-04,4290.50,"4.281,63","4.306,69","4.276,55",NaN,"-0,02%",4208.539286,6.326071,1,45,2005-01-01,False,-1,1
2,2005-01-01,1.5,-0.9,3.8,2005-01-05,4258.24,"4.262,21","4.274,65","4.242,07",NaN,"-0,75%",4213.287143,4.747857,1,46,2005-01-01,False,-1,1
3,2005-01-01,1.5,-0.9,3.8,2005-01-06,4300.94,"4.260,37","4.300,99","4.260,37",NaN,"1,00%",4218.308214,5.021071,1,47,2005-01-01,False,-1,1
4,2005-01-01,1.5,-0.9,3.8,2005-01-07,4316.40,"4.297,99","4.325,77","4.288,26",NaN,"0,36%",4224.098571,5.790357,1,48,2005-01-01,False,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4886,2024-03-01,-8.1,0.6,-16.4,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01,False,1,-1
4887,2024-03-01,-8.1,0.6,-16.4,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39,2024-03-01,False,1,-1
4888,2024-03-01,-8.1,0.6,-16.4,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40,2024-03-01,False,1,-1
4889,2024-03-01,-8.1,0.6,-16.4,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41,2024-03-01,False,1,-1
4890,2024-03-01,-8.1,0.6,-16.4,2024-03-21,18173.77,"18.019,86","18.178,47","18.019,86","79,12M","0,88%",17589.371071,40.586429,0,0,2024-03-01,False,1,-1

In [32]:
ifoKlimaVSDax.drop_duplicates(subset=["Year-Month"]).to_csv("binarized_wirschaft.csv",index=False)

In [33]:
ifoKlimaVSDax.drop_duplicates(subset=["Year-Month"])

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month,ifoKlimaSaldoAllNeg,WirtschaftslageBinary,WirtschaftserwartungBinary
0,2005-01-01,1.5,-0.9,3.8,2005-01-03,4291.53,"4.260,92","4.310,30","4.251,37",NaN,"0,83%",4202.213214,5.983929,1,44,2005-01-01,False,-1,1
21,2005-02-01,1.0,0.4,1.6,2005-02-01,4279.97,"4.256,65","4.281,05","4.249,69",NaN,"0,59%",4248.181786,2.342143,1,3,2005-02-01,False,1,1
41,2005-03-01,-3.1,-4.4,-1.8,2005-03-01,4383.62,"4.345,24","4.388,42","4.335,04",NaN,"0,76%",4314.829643,5.828214,1,23,2005-03-01,True,-1,-1
62,2005-04-01,-3.4,-3.3,-3.5,2005-04-01,4373.53,"4.348,03","4.393,20","4.347,53",NaN,"0,57%",4352.485357,0.502143,0,0,2005-04-01,True,-1,-1
83,2005-05-01,-4.7,-3.7,-5.6,2005-05-02,4224.02,"4.208,63","4.235,64","4.205,05",NaN,"0,94%",4300.844643,-2.583571,-1,-12,2005-05-01,True,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4792,2023-11-01,-9.5,3.6,-21.8,2023-11-01,14923.27,"14.851,96","14.949,58","14.786,32","63,59M","0,76%",15100.510357,-22.643571,-1,-33,2023-11-01,False,1,-1
4814,2023-12-01,-11.4,1.7,-23.7,2023-12-01,16397.52,"16.296,92","16.399,06","16.279,45","68,14M","1,12%",15504.803214,54.199286,1,17,2023-12-01,False,1,-1
4833,2024-01-01,-13.9,-1.9,-25.1,2024-01-02,16769.36,"16.828,75","16.963,47","16.648,80","59,89M","0,11%",16498.058929,31.001071,1,36,2024-01-01,True,-1,-1
4855,2024-02-01,-12.7,-1.9,-23.0,2024-02-01,16859.04,"16.834,13","16.915,92","16.821,60","89,45M","-0,26%",16712.426429,4.499643,1,7,2024-02-01,True,-1,-1
4876,2024-03-01,-8.1,0.6,-16.4,2024-03-01,17735.07,"17.793,47","17.816,52","17.690,89","85,78M","0,32%",17114.052143,39.570714,1,28,2024-03-01,False,1,-1

In [34]:
ifoKlimaVSDax[["Datum","28daysSmoothened","daysOfTrend"]].to_csv("smoothened_dax.csv",index=False)

In [35]:
listOfSuchDays=(ifoKlimaVSDax_pos_dax_neg_ifo["Monat/Jahr"].unique())
listOfSuchDays

<DatetimeArray>
['2005-03-01 00:00:00', '2009-05-01 00:00:00', '2009-06-01 00:00:00',
 '2020-06-01 00:00:00', '2020-07-01 00:00:00', '2024-01-01 00:00:00']
Length: 6, dtype: datetime64[ns]

In [36]:
these_days.to_csv("occurence.csv",index=False)

NameError: name 'these_days' is not defined