In [1]:
import pandas as pd

In [2]:
import sys
#!pip3 install openpyxl

sys.path.append('/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages')
import openpyxl

In [303]:
days_to_check=125
elections=pd.read_csv("/Users/halukamb/Documents/CodeRelated/HBDataviz_new/2025/02_EuropasAnleihenUndKrisen/Wrangle/data/Legislation.csv")
elections["Actual"]=elections["Actual"].str.replace(",",".").astype(float)
elections["Diff"]=elections["Legislative"]-elections["Actual"]
elections.sort_values("Diff",ascending=False)

,Country,Actual,Legislative,Early1A,Early1B,Early2A,Early2B,Early3A,Early3B,Early4A,Early4B,Early5A,Early5B,Early6A,Early6B,Early7A,Early7B,Diff
0,Austria,3.25,5,15.05.17,15.10.17,18.05.19,29.10.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.75
7,Greece,2.56,4,01.11.11,06.05.12,16.05.12,17.06.12,29.12.14,25.01.15,20.08.15,20.09.15,26.05.19,07.07.19,22.04.23,21.05.23,25.05.23,25.06.23,1.44
17,Spain,2.88,4,29.07.11,20.11.11,20.12.15,26.06.16,28.04.19,10.11.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.12
1,Belgium,4.00,5,24.04.10,13.06.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00
13,Netherlands,3.29,4,20.02.10,09.06.10,23.04.12,12.09.12,15.01.21,17.03.21,07.07.23,22.11.23,NaN,NaN,NaN,NaN,NaN,NaN,0.71
10,Italy,4.40,5,28.12.17,04.03.18,21.07.22,25.09.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.60
16,Portugal,3.43,4,23.03.11,05.06.11,01.12.18,06.10.19,27.10.21,30.01.22,01.11.23,10.03.24,NaN,NaN,NaN,NaN,NaN,NaN,0.57
3,Denmark,3.50,4,05.10.22,01.11.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.50
2,Czech Republic,3.57,4,17.06.13,26.10.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.43
9,Ireland,4.60,5,20.01.11,25.02.11,03.02.16,26.02.16,14.01.20,08.02.20,08.11.24,29.11.24,NaN,NaN,NaN,NaN,NaN,NaN,0.40
15,Poland,3.67,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33
19,UK,3.67,4,19.04.17,08.06.17,01.10.19,12.12.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33
11,Luxembourg,4.75,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25
12,Malta,4.75,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25
6,Germany,3.83,4,06.11.24,23.02.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.17
5,France,5.00,5,09.06.24,07.07.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
8,Hungary,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
4,Finland,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
14,Norway,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
18,Sweden,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00

In [304]:
elections.Country=elections.Country.str.upper()
elections

,Country,Actual,Legislative,Early1A,Early1B,Early2A,Early2B,Early3A,Early3B,Early4A,Early4B,Early5A,Early5B,Early6A,Early6B,Early7A,Early7B,Diff
0,AUSTRIA,3.25,5,15.05.17,15.10.17,18.05.19,29.10.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.75
1,BELGIUM,4.00,5,24.04.10,13.06.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00
2,CZECH REPUBLIC,3.57,4,17.06.13,26.10.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.43
3,DENMARK,3.50,4,05.10.22,01.11.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.50
4,FINLAND,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
5,FRANCE,5.00,5,09.06.24,07.07.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
6,GERMANY,3.83,4,06.11.24,23.02.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.17
7,GREECE,2.56,4,01.11.11,06.05.12,16.05.12,17.06.12,29.12.14,25.01.15,20.08.15,20.09.15,26.05.19,07.07.19,22.04.23,21.05.23,25.05.23,25.06.23,1.44
8,HUNGARY,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
9,IRELAND,4.60,5,20.01.11,25.02.11,03.02.16,26.02.16,14.01.20,08.02.20,08.11.24,29.11.24,NaN,NaN,NaN,NaN,NaN,NaN,0.40
10,ITALY,4.40,5,28.12.17,04.03.18,21.07.22,25.09.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.60
11,LUXEMBOURG,4.75,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25
12,MALTA,4.75,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25
13,NETHERLANDS,3.29,4,20.02.10,09.06.10,23.04.12,12.09.12,15.01.21,17.03.21,07.07.23,22.11.23,NaN,NaN,NaN,NaN,NaN,NaN,0.71
14,NORWAY,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
15,POLAND,3.67,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33
16,PORTUGAL,3.43,4,23.03.11,05.06.11,01.12.18,06.10.19,27.10.21,30.01.22,01.11.23,10.03.24,NaN,NaN,NaN,NaN,NaN,NaN,0.57
17,SPAIN,2.88,4,29.07.11,20.11.11,20.12.15,26.06.16,28.04.19,10.11.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.12
18,SWEDEN,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
19,UK,3.67,4,19.04.17,08.06.17,01.10.19,12.12.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33

In [305]:
yields=pd.ExcelFile("/Users/halukamb/Documents/CodeRelated/HBDataviz_new/2025/02_EuropasAnleihenUndKrisen/Wrangle/data/Anleihen_historisch.xlsx")
yields.sheet_names

['Tabelle1', 'Tabelle4', 'Tabelle5', 'Tabelle3']

In [306]:
 df1 = pd.read_excel("/Users/halukamb/Documents/CodeRelated/HBDataviz_new/2025/02_EuropasAnleihenUndKrisen/Wrangle/data/Anleihen_historisch.xlsx", "Tabelle1",skiprows=3)  
df1

,Name,BELGIUM GVT BMK BID YLD 2Y - RED. YIELD,BG BENCHMARK 2 YEAR DS GOVT. INDEX - CLEAN PRICE INDEX,DK BENCHMARK 2 YEAR DS GOVT. INDEX - CLEAN PRICE INDEX,DENMARK GVT BMK BID YLD 2Y - RED. YIELD,GERMANY GVT BMK BID YLD 2Y - RED. YIELD,SWEDEN GVT BMK BID YLD 2Y - RED. YIELD,SPAIN GVT BMK BID YLD 2Y - RED. YIELD,FRANCE GVT BMK BID YLD 2Y - RED. YIELD,ITALY GVT BMK BID YLD 2Y - RED. YIELD,...,DK BENCHMARK 2 YEAR DS GOVT. INDEX - RED. YIELD,ES BENCHMARK 2 YEAR DS GOVT. INDEX - RED. YIELD,IR BMK 2Y DS GVT INDEX (DISC) - RED. YIELD,NL BENCHMARK 2 YEAR DS GOVT. INDEX - RED. YIELD,OE BENCHMARK 2 YEAR DS GOVT. INDEX - RED. YIELD,SD BENCHMARK 2 YEAR DS GOVT. INDEX - RED. YIELD,UK BENCHMARK 2 YEAR DS GOVT. INDEX - RED. YIELD,PT BENCHMARK 2 YEAR DS GOVT. INDEX - RED. YIELD,GR BENCHMARK 2 YEAR GOVT.INDEX(DISC) - RED. YIELD,BG BENCHMARK 2 YEAR DS GOVT. INDEX - RED. YIELD
0,Code,TRBG2YT,BMBG02Y,BMDK02Y,TRDK2YT,TRBD2YT,TRSD2YT,TRES2YT,TRFR2YT,TRIT2YT,...,BMDK02Y(RY),BMES02Y(RY),BMIR02Y(RY),BMNL02Y(RY),BMOE02Y(RY),BMSD02Y(RY),BMUK02Y(RY),BMPT02Y(RY),BMGR02Y(RY),BMBG02y(RY)
1,1980-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.814,NaN,NaN,NaN
2,1980-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.786,NaN,NaN,NaN
3,1980-01-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.2,NaN,NaN,NaN
4,1980-01-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.248,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2346,2024-12-10 00:00:00,2.029,55.888,80.259,2.003,1.971,1.818,2.166,2.112,2.322,...,1.767,2.218,3.716,2.031,2.411,1.813,4.084,2.637,165.641,2.082
2347,2024-12-17 00:00:00,2.239,55.742,80.336,2.06,2.053,1.926,2.218,2.225,2.42,...,1.711,2.286,3.716,2.095,2.372,1.922,4.22,2.669,165.641,2.275
2348,2024-12-24 00:00:00,2.244,55.719,80.248,2.278,2.073,2.029,2.262,2.263,2.434,...,1.764,2.305,3.716,2.095,2.36,2.026,4.218,2.634,165.641,2.319
2349,2024-12-31 00:00:00,2.322,55.799,80.109,2.011,2.09,2.06,2.259,2.272,2.457,...,1.855,2.299,3.716,2.108,2.355,2.083,4.141,2.431,165.641,2.237
2350,2025-01-07 00:00:00,2.389,55.657,80.078,2.091,2.206,2.062,2.313,2.393,2.526,...,1.872,2.363,3.716,2.233,2.431,2.051,4.221,2.614,165.641,2.433

In [307]:
col_list=["Name"]
yield_list=(df1.columns[df1.columns.str.contains("2Y - RED. YIELD")].tolist())
ext_list=col_list+yield_list
ext_list

['Name',
 'BELGIUM GVT BMK BID YLD 2Y - RED. YIELD',
 'DENMARK GVT BMK BID YLD 2Y - RED. YIELD',
 'GERMANY GVT BMK BID YLD 2Y - RED. YIELD',
 'SWEDEN GVT BMK BID YLD 2Y - RED. YIELD',
 'SPAIN GVT BMK BID YLD 2Y - RED. YIELD',
 'FRANCE GVT BMK BID YLD 2Y - RED. YIELD',
 'ITALY GVT BMK BID YLD 2Y - RED. YIELD',
 'FINLAND GVT BMK BID YLD 2Y - RED. YIELD',
 'PORTUGAL GVT BMK BID YLD 2Y - RED. YIELD',
 'IRELAND GVT BMK BID YLD 2Y - RED. YIELD',
 'AUSTRIA GVT BMK BID YLD 2Y - RED. YIELD',
 'NETHERLANDS GVT BMK BID YLD 2Y - RED. YIELD',
 'UK GVT BMK BID YLD 2Y - RED. YIELD',
 'GREECE GVT BMK BID YLD 2Y - RED. YIELD']

In [308]:
yields_2ys=df1[ext_list]
yields_2ys

,Name,BELGIUM GVT BMK BID YLD 2Y - RED. YIELD,DENMARK GVT BMK BID YLD 2Y - RED. YIELD,GERMANY GVT BMK BID YLD 2Y - RED. YIELD,SWEDEN GVT BMK BID YLD 2Y - RED. YIELD,SPAIN GVT BMK BID YLD 2Y - RED. YIELD,FRANCE GVT BMK BID YLD 2Y - RED. YIELD,ITALY GVT BMK BID YLD 2Y - RED. YIELD,FINLAND GVT BMK BID YLD 2Y - RED. YIELD,PORTUGAL GVT BMK BID YLD 2Y - RED. YIELD,IRELAND GVT BMK BID YLD 2Y - RED. YIELD,AUSTRIA GVT BMK BID YLD 2Y - RED. YIELD,NETHERLANDS GVT BMK BID YLD 2Y - RED. YIELD,UK GVT BMK BID YLD 2Y - RED. YIELD,GREECE GVT BMK BID YLD 2Y - RED. YIELD
0,Code,TRBG2YT,TRDK2YT,TRBD2YT,TRSD2YT,TRES2YT,TRFR2YT,TRIT2YT,TRFN2YT,TRPT2YT,TRIE2YT,TROE2YT,TRNL2YT,TRUK2yT,TRGR2yT
1,1980-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1980-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1980-01-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1980-01-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2346,2024-12-10 00:00:00,2.029,2.003,1.971,1.818,2.166,2.112,2.322,2.002,2.087,2.125,2.11,1.962,4.28,2.18
2347,2024-12-17 00:00:00,2.239,2.06,2.053,1.926,2.218,2.225,2.42,2.287,2.161,2.19,2.162,2.068,4.446,2.158
2348,2024-12-24 00:00:00,2.244,2.278,2.073,2.029,2.262,2.263,2.434,2.25,2.216,2.363,2.184,2.055,4.387,2.241
2349,2024-12-31 00:00:00,2.322,2.011,2.09,2.06,2.259,2.272,2.457,2.403,2.218,2.198,2.2,2.078,4.379,2.158
2350,2025-01-07 00:00:00,2.389,2.091,2.206,2.062,2.313,2.393,2.526,2.319,2.235,2.275,2.318,2.234,4.469,2.205

In [309]:
yields_2ys[ext_list]=yields_2ys[ext_list].apply(pd.to_numeric, errors='coerce')
yields_2ys["Name"]=df1["Name"]
yields_2ys

/var/folders/jf/2jm804y50jv2nrhclzdyvvdh0000gn/T/ipykernel_8318/2165220795.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yields_2ys[ext_list]=yields_2ys[ext_list].apply(pd.to_numeric, errors='coerce')
/var/folders/jf/2jm804y50jv2nrhclzdyvvdh0000gn/T/ipykernel_8318/2165220795.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yields_2ys["Name"]=df1["Name"]

,Name,BELGIUM GVT BMK BID YLD 2Y - RED. YIELD,DENMARK GVT BMK BID YLD 2Y - RED. YIELD,GERMANY GVT BMK BID YLD 2Y - RED. YIELD,SWEDEN GVT BMK BID YLD 2Y - RED. YIELD,SPAIN GVT BMK BID YLD 2Y - RED. YIELD,FRANCE GVT BMK BID YLD 2Y - RED. YIELD,ITALY GVT BMK BID YLD 2Y - RED. YIELD,FINLAND GVT BMK BID YLD 2Y - RED. YIELD,PORTUGAL GVT BMK BID YLD 2Y - RED. YIELD,IRELAND GVT BMK BID YLD 2Y - RED. YIELD,AUSTRIA GVT BMK BID YLD 2Y - RED. YIELD,NETHERLANDS GVT BMK BID YLD 2Y - RED. YIELD,UK GVT BMK BID YLD 2Y - RED. YIELD,GREECE GVT BMK BID YLD 2Y - RED. YIELD
0,Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1980-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1980-01-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1980-01-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2346,2024-12-10 00:00:00,2.029,2.003,1.971,1.818,2.166,2.112,2.322,2.002,2.087,2.125,2.110,1.962,4.280,2.180
2347,2024-12-17 00:00:00,2.239,2.060,2.053,1.926,2.218,2.225,2.420,2.287,2.161,2.190,2.162,2.068,4.446,2.158
2348,2024-12-24 00:00:00,2.244,2.278,2.073,2.029,2.262,2.263,2.434,2.250,2.216,2.363,2.184,2.055,4.387,2.241
2349,2024-12-31 00:00:00,2.322,2.011,2.090,2.060,2.259,2.272,2.457,2.403,2.218,2.198,2.200,2.078,4.379,2.158
2350,2025-01-07 00:00:00,2.389,2.091,2.206,2.062,2.313,2.393,2.526,2.319,2.235,2.275,2.318,2.234,4.469,2.205

In [310]:
yields_data=yields_2ys.iloc[1:]
yields_data

,Name,BELGIUM GVT BMK BID YLD 2Y - RED. YIELD,DENMARK GVT BMK BID YLD 2Y - RED. YIELD,GERMANY GVT BMK BID YLD 2Y - RED. YIELD,SWEDEN GVT BMK BID YLD 2Y - RED. YIELD,SPAIN GVT BMK BID YLD 2Y - RED. YIELD,FRANCE GVT BMK BID YLD 2Y - RED. YIELD,ITALY GVT BMK BID YLD 2Y - RED. YIELD,FINLAND GVT BMK BID YLD 2Y - RED. YIELD,PORTUGAL GVT BMK BID YLD 2Y - RED. YIELD,IRELAND GVT BMK BID YLD 2Y - RED. YIELD,AUSTRIA GVT BMK BID YLD 2Y - RED. YIELD,NETHERLANDS GVT BMK BID YLD 2Y - RED. YIELD,UK GVT BMK BID YLD 2Y - RED. YIELD,GREECE GVT BMK BID YLD 2Y - RED. YIELD
1,1980-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1980-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1980-01-15 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1980-01-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1980-01-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2346,2024-12-10 00:00:00,2.029,2.003,1.971,1.818,2.166,2.112,2.322,2.002,2.087,2.125,2.110,1.962,4.280,2.180
2347,2024-12-17 00:00:00,2.239,2.060,2.053,1.926,2.218,2.225,2.420,2.287,2.161,2.190,2.162,2.068,4.446,2.158
2348,2024-12-24 00:00:00,2.244,2.278,2.073,2.029,2.262,2.263,2.434,2.250,2.216,2.363,2.184,2.055,4.387,2.241
2349,2024-12-31 00:00:00,2.322,2.011,2.090,2.060,2.259,2.272,2.457,2.403,2.218,2.198,2.200,2.078,4.379,2.158
2350,2025-01-07 00:00:00,2.389,2.091,2.206,2.062,2.313,2.393,2.526,2.319,2.235,2.275,2.318,2.234,4.469,2.205

In [311]:
yields_data["Name"]

1       1980-01-01 00:00:00
2       1980-01-08 00:00:00
3       1980-01-15 00:00:00
4       1980-01-22 00:00:00
5       1980-01-29 00:00:00
               ...
2346    2024-12-10 00:00:00
2347    2024-12-17 00:00:00
2348    2024-12-24 00:00:00
2349    2024-12-31 00:00:00
2350    2025-01-07 00:00:00
Name: Name, Length: 2350, dtype: object

In [312]:
import datetime

In [313]:
yields_data['Name'] = pd.to_datetime(yields_data['Name'])

/var/folders/jf/2jm804y50jv2nrhclzdyvvdh0000gn/T/ipykernel_8318/3965227263.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yields_data['Name'] = pd.to_datetime(yields_data['Name'])

In [314]:
since_2010=yields_data[(yields_data["Name"]>"2011-01-01")]

In [315]:
since_2010

,Name,BELGIUM GVT BMK BID YLD 2Y - RED. YIELD,DENMARK GVT BMK BID YLD 2Y - RED. YIELD,GERMANY GVT BMK BID YLD 2Y - RED. YIELD,SWEDEN GVT BMK BID YLD 2Y - RED. YIELD,SPAIN GVT BMK BID YLD 2Y - RED. YIELD,FRANCE GVT BMK BID YLD 2Y - RED. YIELD,ITALY GVT BMK BID YLD 2Y - RED. YIELD,FINLAND GVT BMK BID YLD 2Y - RED. YIELD,PORTUGAL GVT BMK BID YLD 2Y - RED. YIELD,IRELAND GVT BMK BID YLD 2Y - RED. YIELD,AUSTRIA GVT BMK BID YLD 2Y - RED. YIELD,NETHERLANDS GVT BMK BID YLD 2Y - RED. YIELD,UK GVT BMK BID YLD 2Y - RED. YIELD,GREECE GVT BMK BID YLD 2Y - RED. YIELD
1619,2011-01-04,1.618,0.983,0.825,1.845,3.541,1.069,2.641,0.790,4.880,5.540,1.328,0.731,1.141,14.090
1620,2011-01-11,1.634,1.048,0.894,1.804,3.594,1.117,2.649,0.906,4.273,5.223,1.363,0.843,1.292,12.323
1621,2011-01-18,1.562,1.279,1.179,1.885,3.475,1.337,2.673,1.159,4.388,5.136,1.536,1.098,1.365,10.807
1622,2011-01-25,2.249,1.334,1.255,1.938,3.081,1.457,2.655,1.220,4.446,5.019,1.707,1.172,1.192,11.241
1623,2011-02-01,2.256,1.485,1.414,2.005,2.922,1.592,2.450,1.365,4.318,5.067,1.836,1.281,1.400,10.987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2346,2024-12-10,2.029,2.003,1.971,1.818,2.166,2.112,2.322,2.002,2.087,2.125,2.110,1.962,4.280,2.180
2347,2024-12-17,2.239,2.060,2.053,1.926,2.218,2.225,2.420,2.287,2.161,2.190,2.162,2.068,4.446,2.158
2348,2024-12-24,2.244,2.278,2.073,2.029,2.262,2.263,2.434,2.250,2.216,2.363,2.184,2.055,4.387,2.241
2349,2024-12-31,2.322,2.011,2.090,2.060,2.259,2.272,2.457,2.403,2.218,2.198,2.200,2.078,4.379,2.158
2350,2025-01-07,2.389,2.091,2.206,2.062,2.313,2.393,2.526,2.319,2.235,2.275,2.318,2.234,4.469,2.205

In [316]:
yield_diff=pd.DataFrame()

In [317]:
yield_diff["min"]=since_2010[yield_list].min()

In [318]:
yield_diff["max"]=since_2010[yield_list].max()

In [319]:
yield_diff_name=yield_diff.reset_index()
yield_diff_name=yield_diff_name.rename(columns={"index":"Country"})
yield_diff_name.Country=yield_diff_name.Country.str[:-32]
yield_diff_name

        Country    min      max
0       BELGIUM -0.779    4.266
1       DENMARK -0.918    3.790
2       GERMANY -0.954    3.364
3        SWEDEN -0.889    3.585
4         SPAIN -0.654    6.927
5        FRANCE -0.831    3.501
6         ITALY -0.571    7.172
7       FINLAND -0.822    3.659
8      PORTUGAL -0.764   20.486
9       IRELAND -0.711   22.924
10      AUSTRIA -0.790    3.567
11  NETHERLANDS -0.871    3.350
12           UK -0.150    5.419
13       GREECE -0.142  349.152

In [320]:
elections

,Country,Actual,Legislative,Early1A,Early1B,Early2A,Early2B,Early3A,Early3B,Early4A,Early4B,Early5A,Early5B,Early6A,Early6B,Early7A,Early7B,Diff
0,AUSTRIA,3.25,5,15.05.17,15.10.17,18.05.19,29.10.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.75
1,BELGIUM,4.00,5,24.04.10,13.06.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00
2,CZECH REPUBLIC,3.57,4,17.06.13,26.10.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.43
3,DENMARK,3.50,4,05.10.22,01.11.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.50
4,FINLAND,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
5,FRANCE,5.00,5,09.06.24,07.07.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
6,GERMANY,3.83,4,06.11.24,23.02.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.17
7,GREECE,2.56,4,01.11.11,06.05.12,16.05.12,17.06.12,29.12.14,25.01.15,20.08.15,20.09.15,26.05.19,07.07.19,22.04.23,21.05.23,25.05.23,25.06.23,1.44
8,HUNGARY,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
9,IRELAND,4.60,5,20.01.11,25.02.11,03.02.16,26.02.16,14.01.20,08.02.20,08.11.24,29.11.24,NaN,NaN,NaN,NaN,NaN,NaN,0.40
10,ITALY,4.40,5,28.12.17,04.03.18,21.07.22,25.09.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.60
11,LUXEMBOURG,4.75,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25
12,MALTA,4.75,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.25
13,NETHERLANDS,3.29,4,20.02.10,09.06.10,23.04.12,12.09.12,15.01.21,17.03.21,07.07.23,22.11.23,NaN,NaN,NaN,NaN,NaN,NaN,0.71
14,NORWAY,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
15,POLAND,3.67,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33
16,PORTUGAL,3.43,4,23.03.11,05.06.11,01.12.18,06.10.19,27.10.21,30.01.22,01.11.23,10.03.24,NaN,NaN,NaN,NaN,NaN,NaN,0.57
17,SPAIN,2.88,4,29.07.11,20.11.11,20.12.15,26.06.16,28.04.19,10.11.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.12
18,SWEDEN,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
19,UK,3.67,4,19.04.17,08.06.17,01.10.19,12.12.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33

In [321]:
yield_to_change=pd.merge(yield_diff_name,elections,on="Country")
yield_to_change

,Country,min,max,Actual,Legislative,Early1A,Early1B,Early2A,Early2B,Early3A,Early3B,Early4A,Early4B,Early5A,Early5B,Early6A,Early6B,Early7A,Early7B,Diff
0,BELGIUM,-0.779,4.266,4.00,5,24.04.10,13.06.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00
1,DENMARK,-0.918,3.790,3.50,4,05.10.22,01.11.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.50
2,GERMANY,-0.954,3.364,3.83,4,06.11.24,23.02.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.17
3,SWEDEN,-0.889,3.585,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
4,SPAIN,-0.654,6.927,2.88,4,29.07.11,20.11.11,20.12.15,26.06.16,28.04.19,10.11.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.12
5,FRANCE,-0.831,3.501,5.00,5,09.06.24,07.07.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
6,ITALY,-0.571,7.172,4.40,5,28.12.17,04.03.18,21.07.22,25.09.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.60
7,FINLAND,-0.822,3.659,4.00,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
8,PORTUGAL,-0.764,20.486,3.43,4,23.03.11,05.06.11,01.12.18,06.10.19,27.10.21,30.01.22,01.11.23,10.03.24,NaN,NaN,NaN,NaN,NaN,NaN,0.57
9,IRELAND,-0.711,22.924,4.60,5,20.01.11,25.02.11,03.02.16,26.02.16,14.01.20,08.02.20,08.11.24,29.11.24,NaN,NaN,NaN,NaN,NaN,NaN,0.40
10,AUSTRIA,-0.790,3.567,3.25,5,15.05.17,15.10.17,18.05.19,29.10.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.75
11,NETHERLANDS,-0.871,3.350,3.29,4,20.02.10,09.06.10,23.04.12,12.09.12,15.01.21,17.03.21,07.07.23,22.11.23,NaN,NaN,NaN,NaN,NaN,NaN,0.71
12,UK,-0.150,5.419,3.67,4,19.04.17,08.06.17,01.10.19,12.12.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33
13,GREECE,-0.142,349.152,2.56,4,01.11.11,06.05.12,16.05.12,17.06.12,29.12.14,25.01.15,20.08.15,20.09.15,26.05.19,07.07.19,22.04.23,21.05.23,25.05.23,25.06.23,1.44

In [322]:
yield_to_change["yield_diff"]=yield_to_change["max"]-yield_to_change["min"]
early_elections=yield_to_change[yield_to_change["Diff"]>0]
early_elections

,Country,min,max,Actual,Legislative,Early1A,Early1B,Early2A,Early2B,Early3A,...,Early4A,Early4B,Early5A,Early5B,Early6A,Early6B,Early7A,Early7B,Diff,yield_diff
0,BELGIUM,-0.779,4.266,4.00,5,24.04.10,13.06.10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,5.045
1,DENMARK,-0.918,3.790,3.50,4,05.10.22,01.11.22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.50,4.708
2,GERMANY,-0.954,3.364,3.83,4,06.11.24,23.02.25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.17,4.318
4,SPAIN,-0.654,6.927,2.88,4,29.07.11,20.11.11,20.12.15,26.06.16,28.04.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.12,7.581
6,ITALY,-0.571,7.172,4.40,5,28.12.17,04.03.18,21.07.22,25.09.22,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.60,7.743
8,PORTUGAL,-0.764,20.486,3.43,4,23.03.11,05.06.11,01.12.18,06.10.19,27.10.21,...,01.11.23,10.03.24,NaN,NaN,NaN,NaN,NaN,NaN,0.57,21.250
9,IRELAND,-0.711,22.924,4.60,5,20.01.11,25.02.11,03.02.16,26.02.16,14.01.20,...,08.11.24,29.11.24,NaN,NaN,NaN,NaN,NaN,NaN,0.40,23.635
10,AUSTRIA,-0.790,3.567,3.25,5,15.05.17,15.10.17,18.05.19,29.10.19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.75,4.357
11,NETHERLANDS,-0.871,3.350,3.29,4,20.02.10,09.06.10,23.04.12,12.09.12,15.01.21,...,07.07.23,22.11.23,NaN,NaN,NaN,NaN,NaN,NaN,0.71,4.221
12,UK,-0.150,5.419,3.67,4,19.04.17,08.06.17,01.10.19,12.12.19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33,5.569
13,GREECE,-0.142,349.152,2.56,4,01.11.11,06.05.12,16.05.12,17.06.12,29.12.14,...,20.08.15,20.09.15,26.05.19,07.07.19,22.04.23,21.05.23,25.05.23,25.06.23,1.44,349.294

In [323]:
early_elections[["Diff","yield_diff"]].corr(method='spearman')

                Diff  yield_diff
Diff        1.000000    0.090909
yield_diff  0.090909    1.000000

In [324]:
yield_to_change

,Country,min,max,Actual,Legislative,Early1A,Early1B,Early2A,Early2B,Early3A,...,Early4A,Early4B,Early5A,Early5B,Early6A,Early6B,Early7A,Early7B,Diff,yield_diff
0,BELGIUM,-0.779,4.266,4.00,5,24.04.10,13.06.10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00,5.045
1,DENMARK,-0.918,3.790,3.50,4,05.10.22,01.11.22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.50,4.708
2,GERMANY,-0.954,3.364,3.83,4,06.11.24,23.02.25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.17,4.318
3,SWEDEN,-0.889,3.585,4.00,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4.474
4,SPAIN,-0.654,6.927,2.88,4,29.07.11,20.11.11,20.12.15,26.06.16,28.04.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.12,7.581
5,FRANCE,-0.831,3.501,5.00,5,09.06.24,07.07.24,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4.332
6,ITALY,-0.571,7.172,4.40,5,28.12.17,04.03.18,21.07.22,25.09.22,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.60,7.743
7,FINLAND,-0.822,3.659,4.00,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,4.481
8,PORTUGAL,-0.764,20.486,3.43,4,23.03.11,05.06.11,01.12.18,06.10.19,27.10.21,...,01.11.23,10.03.24,NaN,NaN,NaN,NaN,NaN,NaN,0.57,21.250
9,IRELAND,-0.711,22.924,4.60,5,20.01.11,25.02.11,03.02.16,26.02.16,14.01.20,...,08.11.24,29.11.24,NaN,NaN,NaN,NaN,NaN,NaN,0.40,23.635
10,AUSTRIA,-0.790,3.567,3.25,5,15.05.17,15.10.17,18.05.19,29.10.19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.75,4.357
11,NETHERLANDS,-0.871,3.350,3.29,4,20.02.10,09.06.10,23.04.12,12.09.12,15.01.21,...,07.07.23,22.11.23,NaN,NaN,NaN,NaN,NaN,NaN,0.71,4.221
12,UK,-0.150,5.419,3.67,4,19.04.17,08.06.17,01.10.19,12.12.19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.33,5.569
13,GREECE,-0.142,349.152,2.56,4,01.11.11,06.05.12,16.05.12,17.06.12,29.12.14,...,20.08.15,20.09.15,26.05.19,07.07.19,22.04.23,21.05.23,25.05.23,25.06.23,1.44,349.294

In [325]:
election_dates_cols=yield_to_change.columns[yield_to_change.columns.str.contains("B")]
election_dates_cols

Index(['Early1B', 'Early2B', 'Early3B', 'Early4B', 'Early5B', 'Early6B',
       'Early7B'],
      dtype='object')

In [326]:
re_election_dates=["Country"]
re_election_dates.extend(election_dates_cols)
re_election_dates

['Country',
 'Early1B',
 'Early2B',
 'Early3B',
 'Early4B',
 'Early5B',
 'Early6B',
 'Early7B']

In [327]:
df=pd.DataFrame()
for index, row in yield_to_change[re_election_dates].iterrows():
    country=(row["Country"])
    list_of_snapelections=(row.dropna().tolist()[1:])
    if len(list_of_snapelections)>0:
        for snapelection in list_of_snapelections:
            snapelection_date=(snapelection[:6]+"20"+snapelection[6:])
            snapelection_date=pd.to_datetime(snapelection_date,format='%d.%m.%Y')
            after_date = snapelection_date + pd.Timedelta(days=days_to_check)
            before_date = snapelection_date - pd.Timedelta(days=days_to_check)
            election_yield_df=yields_data[(yields_data["Name"]>before_date)&(yields_data["Name"]<after_date)]
            yield_df_country_col=(election_yield_df.columns[election_yield_df.columns.str.contains(country)])
            cols=yield_df_country_col.tolist()
            snapelection_date_str=snapelection_date.strftime('%d.%m.%Y')
            sub_df=election_yield_df[cols]
            sub_df=sub_df.rename(columns={cols[0]:country+"_"+snapelection_date_str})

            sub_df=sub_df.reset_index(drop=True)
            df=pd.concat([df,sub_df],axis=1)

In [328]:
sub_df

    GREECE_25.06.2023
0               3.368
1               3.422
2               3.743
3               3.559
4               3.415
5               3.335
6               3.358
7               3.400
8               3.354
9               3.448
10              3.408
11              3.337
12              3.418
13              3.283
14              3.253
15              3.307
16              3.486
17              3.534
18              3.400
19              3.380
20              3.418
21              3.375
22              3.398
23              3.486
24              3.315
25              3.381
26              3.409
27              3.389
28              3.441
29              3.476
30              3.569
31              3.455
32              3.611
33              3.577
34              3.697
35              3.536

In [329]:
df

,BELGIUM_13.06.2010,DENMARK_01.11.2022,GERMANY_23.02.2025,SPAIN_20.11.2011,SPAIN_26.06.2016,SPAIN_10.11.2019,FRANCE_07.07.2024,ITALY_04.03.2018,ITALY_25.09.2022,PORTUGAL_05.06.2011,...,NETHERLANDS_22.11.2023,UK_08.06.2017,UK_12.12.2019,GREECE_06.05.2012,GREECE_17.06.2012,GREECE_25.01.2015,GREECE_20.09.2015,GREECE_07.07.2019,GREECE_21.05.2023,GREECE_25.06.2023
0,1.445,0.894,2.199,4.273,0.055,-0.449,2.940,-0.218,0.961,4.318,...,3.131,0.094,0.460,171.020,244.719,349.152,23.092,1.444,3.315,3.368
1,1.301,0.782,2.168,4.158,-0.032,-0.468,2.916,-0.262,1.026,4.315,...,3.161,0.118,0.488,198.963,266.523,349.152,24.960,1.444,3.229,3.422
2,1.178,1.051,2.333,4.580,-0.036,-0.468,2.984,-0.236,1.163,5.510,...,2.984,0.110,0.385,209.729,279.651,349.152,23.479,1.444,3.137,3.743
3,1.098,0.638,2.129,3.283,0.065,-0.474,2.960,-0.308,2.055,5.586,...,3.192,0.095,0.341,228.421,293.039,349.152,25.386,1.444,3.230,3.559
4,1.129,0.609,2.141,3.208,0.049,-0.503,2.945,-0.310,1.579,5.697,...,3.189,0.096,0.483,225.239,349.152,349.152,29.921,1.444,3.356,3.415
5,1.161,0.802,2.035,3.319,0.031,-0.482,2.990,-0.350,1.437,6.344,...,3.105,0.075,0.529,234.176,349.152,349.152,21.145,1.444,3.368,3.335
6,1.083,0.873,1.946,3.317,0.033,-0.528,3.048,-0.344,1.017,6.317,...,3.147,0.146,0.445,244.719,349.152,349.152,37.323,1.444,3.422,3.358
7,1.059,1.121,1.971,3.514,0.028,-0.547,3.088,-0.258,0.978,6.482,...,3.178,0.177,0.344,266.523,349.152,349.152,49.624,1.444,3.743,3.400
8,1.080,1.422,2.053,3.905,-0.026,-0.572,3.139,-0.245,1.363,7.775,...,3.350,0.122,0.322,279.651,349.152,349.152,27.191,1.444,3.559,3.354
9,1.066,1.453,2.073,3.690,-0.018,-0.544,3.023,-0.137,1.615,9.168,...,3.280,0.096,0.534,293.039,349.152,349.152,21.910,1.444,3.415,3.448
10,1.005,1.629,2.090,3.417,-0.077,-0.443,3.089,-0.226,1.312,9.112,...,3.300,0.097,0.539,349.152,349.152,349.152,21.190,1.444,3.335,3.408
11,1.016,1.958,2.206,3.480,-0.061,-0.493,3.079,-0.231,1.361,10.181,...,3.169,0.109,0.540,349.152,349.152,349.152,20.908,1.444,3.358,3.337
12,0.975,2.257,NaN,3.411,-0.051,-0.480,3.159,-0.254,1.287,12.100,...,3.347,0.078,0.585,349.152,349.152,349.152,14.735,1.444,3.400,3.418
13,0.997,1.956,NaN,3.869,-0.091,-0.494,3.102,-0.221,1.864,11.876,...,3.250,0.159,0.561,349.152,349.152,349.152,10.922,1.444,3.354,3.283
14,0.820,2.249,NaN,4.024,-0.098,-0.433,3.211,-0.242,2.113,12.244,...,3.151,0.127,0.568,349.152,349.152,349.152,13.247,1.444,3.448,3.253
15,0.753,2.266,NaN,4.048,-0.102,-0.423,3.103,-0.240,2.200,11.138,...,3.146,0.103,0.496,349.152,349.152,349.152,12.411,1.444,3.408,3.307
16,0.768,2.279,NaN,4.394,0.055,-0.431,3.093,-0.234,2.453,11.743,...,3.145,0.087,0.500,349.152,349.152,349.152,10.355,1.444,3.337,3.486
17,1.150,2.172,NaN,5.428,-0.002,-0.450,3.169,-0.083,2.718,11.189,...,3.132,0.092,0.592,349.152,349.152,349.152,11.734,1.444,3.418,3.534
18,0.971,2.373,NaN,5.920,-0.075,-0.408,3.153,-0.101,3.289,11.054,...,3.072,0.139,0.537,349.152,349.152,349.152,10.783,1.444,3.283,3.400
19,0.904,2.291,NaN,5.634,-0.152,-0.406,2.963,-0.147,2.599,12.127,...,2.809,0.135,0.555,349.152,349.152,349.152,11.056,1.444,3.253,3.380
20,0.978,2.260,NaN,4.097,-0.109,-0.416,2.965,-0.195,2.917,13.622,...,2.761,0.255,0.536,349.152,349.152,19.078,9.846,1.444,3.307,3.418
21,0.827,2.205,NaN,4.234,-0.128,-0.411,2.820,-0.219,2.988,14.469,...,2.521,0.328,0.609,349.152,349.152,18.537,10.056,1.444,3.486,3.375
22,0.963,2.237,NaN,3.408,-0.145,-0.418,2.652,-0.256,2.744,13.606,...,2.423,0.299,0.494,349.152,349.152,12.721,8.269,1.444,3.534,3.398
23,0.967,2.257,NaN,3.670,-0.155,-0.417,2.601,-0.231,2.720,17.801,...,2.480,0.271,0.433,349.152,349.152,13.705,8.442,1.444,3.400,3.486
24,0.998,2.760,NaN,3.446,-0.163,-0.402,2.640,-0.257,2.877,20.201,...,2.644,0.309,0.452,349.152,349.152,16.046,7.953,1.444,3.380,3.315
25,0.859,2.786,NaN,3.548,-0.144,-0.403,2.660,-0.170,2.711,15.491,...,2.591,0.261,0.504,349.152,349.152,20.305,7.853,1.444,3.418,3.381
26,0.870,2.846,NaN,3.021,-0.179,-0.431,2.636,-0.167,2.737,15.494,...,2.721,0.228,0.508,349.152,349.152,20.053,5.911,1.444,3.375,3.409
27,0.832,2.747,NaN,2.818,-0.186,-0.392,2.460,-0.161,2.661,12.491,...,2.643,0.229,0.531,349.152,349.152,21.888,7.648,1.444,3.398,3.389
28,0.718,2.647,NaN,2.362,-0.180,-0.419,2.465,-0.072,2.569,12.851,...,2.740,0.219,0.390,349.152,349.152,21.816,7.578,1.444,3.486,3.441
29,0.816,2.749,NaN,2.615,-0.118,-0.458,2.336,0.190,2.636,13.498,...,2.902,0.164,0.225,349.152,349.152,23.470,8.466,1.444,3.315,3.476
30,0.847,2.890,NaN,2.820,-0.188,-0.462,2.259,2.429,3.168,13.140,...,2.922,0.171,0.149,349.152,349.152,29.661,9.279,1.444,3.381,3.569
31,1.147,2.745,NaN,2.765,-0.187,-0.446,2.426,0.994,3.228,15.210,...,3.061,0.283,0.303,349.152,349.152,20.071,7.679,1.444,3.409,3.455
32,1.156,3.006,NaN,2.486,-0.229,-0.460,2.402,1.043,3.216,16.511,...,2.971,0.410,0.123,349.152,349.152,21.050,7.732,1.444,3.389,3.611
33,1.085,3.078,NaN,2.420,-0.227,-0.469,2.379,0.613,3.124,17.459,...,2.953,0.448,0.134,349.152,349.152,21.170,8.875,1.444,3.441,3.577
34,1.115,3.264,NaN,2.417,-0.196,-0.459,2.356,1.041,2.858,18.691,...,2.972,0.447,0.177,349.152,349.152,23.092,8.397,1.444,3.476,3.697
35,1.069,NaN,NaN,2.351,-0.206,-0.384,2.483,0.681,3.003,18.225,...,NaN,0.443,0.074,349.152,349.152,24.960,10.790,1.444,3.569,3.536

In [330]:
yield_diff=df.iloc[0:1].mean()-df.iloc[-2:-1].mean()
yield_diff

BELGIUM_13.06.2010          0.330
DENMARK_01.11.2022         -2.370
GERMANY_23.02.2025            NaN
SPAIN_20.11.2011            1.856
SPAIN_26.06.2016            0.251
SPAIN_10.11.2019            0.010
FRANCE_07.07.2024           0.584
ITALY_04.03.2018           -1.259
ITALY_25.09.2022           -1.897
PORTUGAL_05.06.2011       -14.373
PORTUGAL_06.10.2019         0.056
PORTUGAL_30.01.2022        -1.154
PORTUGAL_10.03.2024         0.056
IRELAND_25.02.2011         -9.165
IRELAND_26.02.2016          0.039
IRELAND_08.02.2020         -0.052
IRELAND_29.11.2024            NaN
AUSTRIA_15.10.2017         -0.089
AUSTRIA_29.10.2019         -0.019
NETHERLANDS_09.06.2010      0.278
NETHERLANDS_12.09.2012      0.157
NETHERLANDS_17.03.2021     -0.011
NETHERLANDS_22.11.2023      0.159
UK_08.06.2017              -0.353
UK_12.12.2019               0.283
GREECE_06.05.2012        -178.132
GREECE_17.06.2012        -104.433
GREECE_25.01.2015         326.060
GREECE_20.09.2015          14.695
GREECE_07.07.2019           0.000
GREECE_21.05.2023          -0.161
GREECE_25.06.2023          -0.329
dtype: float64

In [331]:
print(yield_diff[yield_diff>0])
len(yield_diff[yield_diff>0])

BELGIUM_13.06.2010          0.330
SPAIN_20.11.2011            1.856
SPAIN_26.06.2016            0.251
SPAIN_10.11.2019            0.010
FRANCE_07.07.2024           0.584
PORTUGAL_06.10.2019         0.056
PORTUGAL_10.03.2024         0.056
IRELAND_26.02.2016          0.039
NETHERLANDS_09.06.2010      0.278
NETHERLANDS_12.09.2012      0.157
NETHERLANDS_22.11.2023      0.159
UK_12.12.2019               0.283
GREECE_25.01.2015         326.060
GREECE_20.09.2015          14.695
dtype: float64

14

In [332]:
print(yield_diff[yield_diff<0])
len(yield_diff[yield_diff<0])

DENMARK_01.11.2022         -2.370
ITALY_04.03.2018           -1.259
ITALY_25.09.2022           -1.897
PORTUGAL_05.06.2011       -14.373
PORTUGAL_30.01.2022        -1.154
IRELAND_25.02.2011         -9.165
IRELAND_08.02.2020         -0.052
AUSTRIA_15.10.2017         -0.089
AUSTRIA_29.10.2019         -0.019
NETHERLANDS_17.03.2021     -0.011
UK_08.06.2017              -0.353
GREECE_06.05.2012        -178.132
GREECE_17.06.2012        -104.433
GREECE_21.05.2023          -0.161
GREECE_25.06.2023          -0.329
dtype: float64

15

In [333]:
len((yield_diff[yield_diff<0]))/(len((yield_diff[yield_diff<0]))+len((yield_diff[yield_diff>0])))

0.5172413793103449

In [334]:
#Österreich und Italien nur anders

In [335]:
yields_data

,Name,BELGIUM GVT BMK BID YLD 2Y - RED. YIELD,DENMARK GVT BMK BID YLD 2Y - RED. YIELD,GERMANY GVT BMK BID YLD 2Y - RED. YIELD,SWEDEN GVT BMK BID YLD 2Y - RED. YIELD,SPAIN GVT BMK BID YLD 2Y - RED. YIELD,FRANCE GVT BMK BID YLD 2Y - RED. YIELD,ITALY GVT BMK BID YLD 2Y - RED. YIELD,FINLAND GVT BMK BID YLD 2Y - RED. YIELD,PORTUGAL GVT BMK BID YLD 2Y - RED. YIELD,IRELAND GVT BMK BID YLD 2Y - RED. YIELD,AUSTRIA GVT BMK BID YLD 2Y - RED. YIELD,NETHERLANDS GVT BMK BID YLD 2Y - RED. YIELD,UK GVT BMK BID YLD 2Y - RED. YIELD,GREECE GVT BMK BID YLD 2Y - RED. YIELD
1,1980-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1980-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1980-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1980-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1980-01-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2346,2024-12-10,2.029,2.003,1.971,1.818,2.166,2.112,2.322,2.002,2.087,2.125,2.110,1.962,4.280,2.180
2347,2024-12-17,2.239,2.060,2.053,1.926,2.218,2.225,2.420,2.287,2.161,2.190,2.162,2.068,4.446,2.158
2348,2024-12-24,2.244,2.278,2.073,2.029,2.262,2.263,2.434,2.250,2.216,2.363,2.184,2.055,4.387,2.241
2349,2024-12-31,2.322,2.011,2.090,2.060,2.259,2.272,2.457,2.403,2.218,2.198,2.200,2.078,4.379,2.158
2350,2025-01-07,2.389,2.091,2.206,2.062,2.313,2.393,2.526,2.319,2.235,2.275,2.318,2.234,4.469,2.205

In [336]:
last_years=yields_data[yields_data["Name"]>"2010-01-01"]
last_years

,Name,BELGIUM GVT BMK BID YLD 2Y - RED. YIELD,DENMARK GVT BMK BID YLD 2Y - RED. YIELD,GERMANY GVT BMK BID YLD 2Y - RED. YIELD,SWEDEN GVT BMK BID YLD 2Y - RED. YIELD,SPAIN GVT BMK BID YLD 2Y - RED. YIELD,FRANCE GVT BMK BID YLD 2Y - RED. YIELD,ITALY GVT BMK BID YLD 2Y - RED. YIELD,FINLAND GVT BMK BID YLD 2Y - RED. YIELD,PORTUGAL GVT BMK BID YLD 2Y - RED. YIELD,IRELAND GVT BMK BID YLD 2Y - RED. YIELD,AUSTRIA GVT BMK BID YLD 2Y - RED. YIELD,NETHERLANDS GVT BMK BID YLD 2Y - RED. YIELD,UK GVT BMK BID YLD 2Y - RED. YIELD,GREECE GVT BMK BID YLD 2Y - RED. YIELD
1567,2010-01-05,1.060,2.108,1.294,1.764,1.530,1.192,1.538,0.906,1.344,1.887,1.738,0.823,1.371,3.346
1568,2010-01-12,0.957,2.010,1.220,1.635,1.402,1.097,1.413,0.809,1.173,1.772,1.625,0.733,1.226,3.137
1569,2010-01-19,1.464,1.898,1.197,1.635,1.444,1.080,1.431,0.780,1.304,1.741,1.652,0.701,1.340,3.911
1570,2010-01-26,1.394,1.903,1.125,1.561,1.518,1.186,1.667,0.777,1.390,1.653,1.588,1.171,1.232,4.483
1571,2010-02-02,1.426,1.925,1.143,1.638,1.714,1.187,1.810,0.782,2.256,2.089,1.603,1.175,1.279,6.138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2346,2024-12-10,2.029,2.003,1.971,1.818,2.166,2.112,2.322,2.002,2.087,2.125,2.110,1.962,4.280,2.180
2347,2024-12-17,2.239,2.060,2.053,1.926,2.218,2.225,2.420,2.287,2.161,2.190,2.162,2.068,4.446,2.158
2348,2024-12-24,2.244,2.278,2.073,2.029,2.262,2.263,2.434,2.250,2.216,2.363,2.184,2.055,4.387,2.241
2349,2024-12-31,2.322,2.011,2.090,2.060,2.259,2.272,2.457,2.403,2.218,2.198,2.200,2.078,4.379,2.158
2350,2025-01-07,2.389,2.091,2.206,2.062,2.313,2.393,2.526,2.319,2.235,2.275,2.318,2.234,4.469,2.205

In [337]:
df=pd.DataFrame()
for i in range(len(last_years)):
    end_of_200_days=last_years["Name"].iloc[i]+ pd.Timedelta(days=days_to_check*2)
    if last_years["Name"].iloc[-1]>end_of_200_days:
        vals_end_of_200_days=last_years[last_years["Name"]<end_of_200_days].iloc[-1]
        diff_series=last_years.iloc[i]-vals_end_of_200_days
        df=pd.concat([df,diff_series],axis=1)
df=df.T
df

,Name,BELGIUM GVT BMK BID YLD 2Y - RED. YIELD,DENMARK GVT BMK BID YLD 2Y - RED. YIELD,GERMANY GVT BMK BID YLD 2Y - RED. YIELD,SWEDEN GVT BMK BID YLD 2Y - RED. YIELD,SPAIN GVT BMK BID YLD 2Y - RED. YIELD,FRANCE GVT BMK BID YLD 2Y - RED. YIELD,ITALY GVT BMK BID YLD 2Y - RED. YIELD,FINLAND GVT BMK BID YLD 2Y - RED. YIELD,PORTUGAL GVT BMK BID YLD 2Y - RED. YIELD,IRELAND GVT BMK BID YLD 2Y - RED. YIELD,AUSTRIA GVT BMK BID YLD 2Y - RED. YIELD,NETHERLANDS GVT BMK BID YLD 2Y - RED. YIELD,UK GVT BMK BID YLD 2Y - RED. YIELD,GREECE GVT BMK BID YLD 2Y - RED. YIELD
0,-245 days +00:00:00,0.213,1.312,0.72,0.424,-0.599,0.484,-0.236,0.25,-2.243,-2.043,0.941,0.288,0.707,-7.276
0,-245 days +00:00:00,-0.19,1.066,0.496,0.211,-0.758,0.237,-0.351,0.009,-2.355,-1.936,0.697,0.055,0.552,-6.941
0,-245 days +00:00:00,0.308,0.91,0.406,0.236,-0.744,0.17,-0.377,-0.084,-2.783,-2.4,0.69,-0.012,0.628,-6.074
0,-245 days +00:00:00,0.309,0.927,0.39,0.266,-0.75,0.248,-0.228,-0.053,-3.275,-3.086,0.61,0.423,0.568,-5.279
0,-245 days +00:00:00,0.311,0.907,0.33,0.261,-0.414,0.18,-0.023,-0.116,-1.825,-1.801,0.497,0.333,0.578,-2.559
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,-245 days +00:00:00,0.834,1.019,0.869,1.107,0.869,0.785,1.094,0.86,0.69,0.764,0.883,0.944,0.014,0.785
0,-245 days +00:00:00,0.907,0.978,0.918,1.016,0.886,0.878,1.124,0.948,0.719,0.746,0.828,0.973,-0.087,0.613
0,-245 days +00:00:00,0.77,0.994,0.88,0.915,0.931,0.823,1.105,0.759,0.763,0.734,0.846,0.942,0.032,0.736
0,-245 days +00:00:00,0.798,0.821,0.914,0.776,0.896,0.825,1.059,0.859,0.698,0.626,0.892,1.004,-0.031,0.689
0,-245 days +00:00:00,0.83,1.163,0.938,0.803,0.993,0.867,1.126,0.801,0.79,0.889,1.021,0.945,0.128,0.831

In [338]:
yield_on_average=pd.DataFrame(df[df.columns[1:]].mean())
yield_on_average=yield_on_average.reset_index()
yield_on_average["country"]=yield_on_average["index"].str.split(" GVT").str[0]
yield_on_average

                                          index         0      country
0       BELGIUM GVT BMK BID YLD 2Y - RED. YIELD -0.073499      BELGIUM
1       DENMARK GVT BMK BID YLD 2Y - RED. YIELD -0.057366      DENMARK
2       GERMANY GVT BMK BID YLD 2Y - RED. YIELD -0.076234      GERMANY
3        SWEDEN GVT BMK BID YLD 2Y - RED. YIELD -0.029786       SWEDEN
4         SPAIN GVT BMK BID YLD 2Y - RED. YIELD -0.037834        SPAIN
5        FRANCE GVT BMK BID YLD 2Y - RED. YIELD -0.083366       FRANCE
6         ITALY GVT BMK BID YLD 2Y - RED. YIELD  -0.05658        ITALY
7       FINLAND GVT BMK BID YLD 2Y - RED. YIELD -0.087267      FINLAND
8      PORTUGAL GVT BMK BID YLD 2Y - RED. YIELD   0.00331     PORTUGAL
9       IRELAND GVT BMK BID YLD 2Y - RED. YIELD -0.014703      IRELAND
10      AUSTRIA GVT BMK BID YLD 2Y - RED. YIELD -0.071417      AUSTRIA
11  NETHERLANDS GVT BMK BID YLD 2Y - RED. YIELD -0.079701  NETHERLANDS
12           UK GVT BMK BID YLD 2Y - RED. YIELD -0.148632           UK
13       GREECE GVT BMK BID YLD 2Y - RED. YIELD   0.24646       GREECE

In [339]:
yield_diff_df=pd.DataFrame(yield_diff)
yield_diff_df=yield_diff_df.reset_index()
yield_diff_df["country"]=yield_diff_df["index"].str.split("_").str[0]
yield_diff_df

                     index        0      country
0       BELGIUM_13.06.2010    0.330      BELGIUM
1       DENMARK_01.11.2022   -2.370      DENMARK
2       GERMANY_23.02.2025      NaN      GERMANY
3         SPAIN_20.11.2011    1.856        SPAIN
4         SPAIN_26.06.2016    0.251        SPAIN
5         SPAIN_10.11.2019    0.010        SPAIN
6        FRANCE_07.07.2024    0.584       FRANCE
7         ITALY_04.03.2018   -1.259        ITALY
8         ITALY_25.09.2022   -1.897        ITALY
9      PORTUGAL_05.06.2011  -14.373     PORTUGAL
10     PORTUGAL_06.10.2019    0.056     PORTUGAL
11     PORTUGAL_30.01.2022   -1.154     PORTUGAL
12     PORTUGAL_10.03.2024    0.056     PORTUGAL
13      IRELAND_25.02.2011   -9.165      IRELAND
14      IRELAND_26.02.2016    0.039      IRELAND
15      IRELAND_08.02.2020   -0.052      IRELAND
16      IRELAND_29.11.2024      NaN      IRELAND
17      AUSTRIA_15.10.2017   -0.089      AUSTRIA
18      AUSTRIA_29.10.2019   -0.019      AUSTRIA
19  NETHERLANDS_09.06.2010    0.278  NETHERLANDS
20  NETHERLANDS_12.09.2012    0.157  NETHERLANDS
21  NETHERLANDS_17.03.2021   -0.011  NETHERLANDS
22  NETHERLANDS_22.11.2023    0.159  NETHERLANDS
23           UK_08.06.2017   -0.353           UK
24           UK_12.12.2019    0.283           UK
25       GREECE_06.05.2012 -178.132       GREECE
26       GREECE_17.06.2012 -104.433       GREECE
27       GREECE_25.01.2015  326.060       GREECE
28       GREECE_20.09.2015   14.695       GREECE
29       GREECE_07.07.2019    0.000       GREECE
30       GREECE_21.05.2023   -0.161       GREECE
31       GREECE_25.06.2023   -0.329       GREECE

In [340]:
crisis_avg=pd.merge(yield_on_average,yield_diff_df,on="country",suffixes=["_avg","_crisis"])
crisis_avg["crisis_avg_diff"]=crisis_avg["0_crisis"]-crisis_avg["0_avg"]
crisis_avg.sort_values(by="crisis_avg_diff")

,index_avg,0_avg,country,index_crisis,0_crisis,crisis_avg_diff
25,GREECE GVT BMK BID YLD 2Y - RED. YIELD,0.24646,GREECE,GREECE_06.05.2012,-178.132,-178.37846
26,GREECE GVT BMK BID YLD 2Y - RED. YIELD,0.24646,GREECE,GREECE_17.06.2012,-104.433,-104.67946
9,PORTUGAL GVT BMK BID YLD 2Y - RED. YIELD,0.00331,PORTUGAL,PORTUGAL_05.06.2011,-14.373,-14.37631
13,IRELAND GVT BMK BID YLD 2Y - RED. YIELD,-0.014703,IRELAND,IRELAND_25.02.2011,-9.165,-9.150297
1,DENMARK GVT BMK BID YLD 2Y - RED. YIELD,-0.057366,DENMARK,DENMARK_01.11.2022,-2.370,-2.312634
8,ITALY GVT BMK BID YLD 2Y - RED. YIELD,-0.05658,ITALY,ITALY_25.09.2022,-1.897,-1.84042
7,ITALY GVT BMK BID YLD 2Y - RED. YIELD,-0.05658,ITALY,ITALY_04.03.2018,-1.259,-1.20242
11,PORTUGAL GVT BMK BID YLD 2Y - RED. YIELD,0.00331,PORTUGAL,PORTUGAL_30.01.2022,-1.154,-1.15731
31,GREECE GVT BMK BID YLD 2Y - RED. YIELD,0.24646,GREECE,GREECE_25.06.2023,-0.329,-0.57546
30,GREECE GVT BMK BID YLD 2Y - RED. YIELD,0.24646,GREECE,GREECE_21.05.2023,-0.161,-0.40746
29,GREECE GVT BMK BID YLD 2Y - RED. YIELD,0.24646,GREECE,GREECE_07.07.2019,0.000,-0.24646
23,UK GVT BMK BID YLD 2Y - RED. YIELD,-0.148632,UK,UK_08.06.2017,-0.353,-0.204368
15,IRELAND GVT BMK BID YLD 2Y - RED. YIELD,-0.014703,IRELAND,IRELAND_08.02.2020,-0.052,-0.037297
17,AUSTRIA GVT BMK BID YLD 2Y - RED. YIELD,-0.071417,AUSTRIA,AUSTRIA_15.10.2017,-0.089,-0.017583
5,SPAIN GVT BMK BID YLD 2Y - RED. YIELD,-0.037834,SPAIN,SPAIN_10.11.2019,0.010,0.047834
18,AUSTRIA GVT BMK BID YLD 2Y - RED. YIELD,-0.071417,AUSTRIA,AUSTRIA_29.10.2019,-0.019,0.052417
10,PORTUGAL GVT BMK BID YLD 2Y - RED. YIELD,0.00331,PORTUGAL,PORTUGAL_06.10.2019,0.056,0.05269
12,PORTUGAL GVT BMK BID YLD 2Y - RED. YIELD,0.00331,PORTUGAL,PORTUGAL_10.03.2024,0.056,0.05269
14,IRELAND GVT BMK BID YLD 2Y - RED. YIELD,-0.014703,IRELAND,IRELAND_26.02.2016,0.039,0.053703
21,NETHERLANDS GVT BMK BID YLD 2Y - RED. YIELD,-0.079701,NETHERLANDS,NETHERLANDS_17.03.2021,-0.011,0.068701
20,NETHERLANDS GVT BMK BID YLD 2Y - RED. YIELD,-0.079701,NETHERLANDS,NETHERLANDS_12.09.2012,0.157,0.236701
22,NETHERLANDS GVT BMK BID YLD 2Y - RED. YIELD,-0.079701,NETHERLANDS,NETHERLANDS_22.11.2023,0.159,0.238701
4,SPAIN GVT BMK BID YLD 2Y - RED. YIELD,-0.037834,SPAIN,SPAIN_26.06.2016,0.251,0.288834
19,NETHERLANDS GVT BMK BID YLD 2Y - RED. YIELD,-0.079701,NETHERLANDS,NETHERLANDS_09.06.2010,0.278,0.357701
0,BELGIUM GVT BMK BID YLD 2Y - RED. YIELD,-0.073499,BELGIUM,BELGIUM_13.06.2010,0.330,0.403499
24,UK GVT BMK BID YLD 2Y - RED. YIELD,-0.148632,UK,UK_12.12.2019,0.283,0.431632
6,FRANCE GVT BMK BID YLD 2Y - RED. YIELD,-0.083366,FRANCE,FRANCE_07.07.2024,0.584,0.667366
3,SPAIN GVT BMK BID YLD 2Y - RED. YIELD,-0.037834,SPAIN,SPAIN_20.11.2011,1.856,1.893834
28,GREECE GVT BMK BID YLD 2Y - RED. YIELD,0.24646,GREECE,GREECE_20.09.2015,14.695,14.44854
27,GREECE GVT BMK BID YLD 2Y - RED. YIELD,0.24646,GREECE,GREECE_25.01.2015,326.060,325.81354
2,GERMANY GVT BMK BID YLD 2Y - RED. YIELD,-0.076234,GERMANY,GERMANY_23.02.2025,NaN,NaN
16,IRELAND GVT BMK BID YLD 2Y - RED. YIELD,-0.014703,IRELAND,IRELAND_29.11.2024,NaN,NaN