In [1]:
import pandas as pd

In [2]:
import json
!pip3 install openpyxl
import openpyxl

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 23.2.1 -> 24.3.1
[notice] To update, run: pip3 install --upgrade pip

In [101]:
excel=pd.read_excel("data/GehaltsTabellen.xlsx",sheet_name="Single")
excel

    Gehalt  Single
0     1000       0
1     1500      51
2     2000      80
3     2500      88
4     3000      99
5     3500     112
6     4000     127
7     4500     144
8     5000     163
9     5500     -79
10    6000     -54
11    6500     -17
12    7000      23
13    7500     225
14    8000    -111
15    8500    -149
16    9000    -149
17    9500    -149
18   10000    -149
19   15000    -349

In [102]:
prototype_json=[]
for index, row in excel.iloc[:-1].iterrows():
    inner_dict={"status":"Single"}

    print(row)
    inner_dict["Gehalt1"]=int(row["Gehalt"])
    inner_dict["Gehalt2"]=None
    #key = frozenset(inner_dict.items())
    inner_dict["taxChange"]=int(row["Single"])
    prototype_json.append(inner_dict)
prototype_json

Gehalt    1000
Single       0
Name: 0, dtype: int64
Gehalt    1500
Single      51
Name: 1, dtype: int64
Gehalt    2000
Single      80
Name: 2, dtype: int64
Gehalt    2500
Single      88
Name: 3, dtype: int64
Gehalt    3000
Single      99
Name: 4, dtype: int64
Gehalt    3500
Single     112
Name: 5, dtype: int64
Gehalt    4000
Single     127
Name: 6, dtype: int64
Gehalt    4500
Single     144
Name: 7, dtype: int64
Gehalt    5000
Single     163
Name: 8, dtype: int64
Gehalt    5500
Single     -79
Name: 9, dtype: int64
Gehalt    6000
Single     -54
Name: 10, dtype: int64
Gehalt    6500
Single     -17
Name: 11, dtype: int64
Gehalt    7000
Single      23
Name: 12, dtype: int64
Gehalt    7500
Single     225
Name: 13, dtype: int64
Gehalt    8000
Single    -111
Name: 14, dtype: int64
Gehalt    8500
Single    -149
Name: 15, dtype: int64
Gehalt    9000
Single    -149
Name: 16, dtype: int64
Gehalt    9500
Single    -149
Name: 17, dtype: int64
Gehalt    10000
Single     -149
Name: 18, dtype: int64

[{'status': 'Single', 'Gehalt1': 1000, 'Gehalt2': None, 'taxChange': 0},
 {'status': 'Single', 'Gehalt1': 1500, 'Gehalt2': None, 'taxChange': 51},
 {'status': 'Single', 'Gehalt1': 2000, 'Gehalt2': None, 'taxChange': 80},
 {'status': 'Single', 'Gehalt1': 2500, 'Gehalt2': None, 'taxChange': 88},
 {'status': 'Single', 'Gehalt1': 3000, 'Gehalt2': None, 'taxChange': 99},
 {'status': 'Single', 'Gehalt1': 3500, 'Gehalt2': None, 'taxChange': 112},
 {'status': 'Single', 'Gehalt1': 4000, 'Gehalt2': None, 'taxChange': 127},
 {'status': 'Single', 'Gehalt1': 4500, 'Gehalt2': None, 'taxChange': 144},
 {'status': 'Single', 'Gehalt1': 5000, 'Gehalt2': None, 'taxChange': 163},
 {'status': 'Single', 'Gehalt1': 5500, 'Gehalt2': None, 'taxChange': -79},
 {'status': 'Single', 'Gehalt1': 6000, 'Gehalt2': None, 'taxChange': -54},
 {'status': 'Single', 'Gehalt1': 6500, 'Gehalt2': None, 'taxChange': -17},
 {'status': 'Single', 'Gehalt1': 7000, 'Gehalt2': None, 'taxChange': 23},
 {'status': 'Single', 'Gehalt1': 7500, 'Gehalt2': None, 'taxChange': 225},
 {'status': 'Single', 'Gehalt1': 8000, 'Gehalt2': None, 'taxChange': -111},
 {'status': 'Single', 'Gehalt1': 8500, 'Gehalt2': None, 'taxChange': -149},
 {'status': 'Single', 'Gehalt1': 9000, 'Gehalt2': None, 'taxChange': -149},
 {'status': 'Single', 'Gehalt1': 9500, 'Gehalt2': None, 'taxChange': -149},
 {'status': 'Single', 'Gehalt1': 10000, 'Gehalt2': None, 'taxChange': -149}]

In [103]:
excel=pd.read_excel("data/GehaltsTabellen.xlsx",sheet_name="SingleKind")
excel

    Gehalt  SingleKind
0     1000          60
1     1500          60
2     2000         115
3     2500         140
4     3000         150
5     3500         161
6     4000         174
7     4500         190
8     5000         181
9     5500        -117
10    6000         -98
11    6500         -67
12    7000         -33
13    7500           3
14    8000        -320
15    8500        -141
16    9000        -107
17    9500        -107
18   10000        -107
19   15000        -308

In [104]:
for index, row in excel.iloc[:-1].iterrows():
    inner_dict={"status":"SingleMitKind"}

    print(row)
    inner_dict["Gehalt1"]=int(row["Gehalt"])
    inner_dict["Gehalt2"]=None
    #key = frozenset(inner_dict.items())
    inner_dict["taxChange"]=int(row["SingleKind"])
    prototype_json.append(inner_dict)
prototype_json

Gehalt        1000
SingleKind      60
Name: 0, dtype: int64
Gehalt        1500
SingleKind      60
Name: 1, dtype: int64
Gehalt        2000
SingleKind     115
Name: 2, dtype: int64
Gehalt        2500
SingleKind     140
Name: 3, dtype: int64
Gehalt        3000
SingleKind     150
Name: 4, dtype: int64
Gehalt        3500
SingleKind     161
Name: 5, dtype: int64
Gehalt        4000
SingleKind     174
Name: 6, dtype: int64
Gehalt        4500
SingleKind     190
Name: 7, dtype: int64
Gehalt        5000
SingleKind     181
Name: 8, dtype: int64
Gehalt        5500
SingleKind    -117
Name: 9, dtype: int64
Gehalt        6000
SingleKind     -98
Name: 10, dtype: int64
Gehalt        6500
SingleKind     -67
Name: 11, dtype: int64
Gehalt        7000
SingleKind     -33
Name: 12, dtype: int64
Gehalt        7500
SingleKind       3
Name: 13, dtype: int64
Gehalt        8000
SingleKind    -320
Name: 14, dtype: int64
Gehalt        8500
SingleKind    -141
Name: 15, dtype: int64
Gehalt        9000
SingleKind    -107
Name: 16, dtype: int64
Gehalt        9500
SingleKind    -107
Name: 17, dtype: int64
Gehalt        10000
SingleKind     -107
Name: 18, dtype: int64

[{'status': 'Single', 'Gehalt1': 1000, 'Gehalt2': None, 'taxChange': 0},
 {'status': 'Single', 'Gehalt1': 1500, 'Gehalt2': None, 'taxChange': 51},
 {'status': 'Single', 'Gehalt1': 2000, 'Gehalt2': None, 'taxChange': 80},
 {'status': 'Single', 'Gehalt1': 2500, 'Gehalt2': None, 'taxChange': 88},
 {'status': 'Single', 'Gehalt1': 3000, 'Gehalt2': None, 'taxChange': 99},
 {'status': 'Single', 'Gehalt1': 3500, 'Gehalt2': None, 'taxChange': 112},
 {'status': 'Single', 'Gehalt1': 4000, 'Gehalt2': None, 'taxChange': 127},
 {'status': 'Single', 'Gehalt1': 4500, 'Gehalt2': None, 'taxChange': 144},
 {'status': 'Single', 'Gehalt1': 5000, 'Gehalt2': None, 'taxChange': 163},
 {'status': 'Single', 'Gehalt1': 5500, 'Gehalt2': None, 'taxChange': -79},
 {'status': 'Single', 'Gehalt1': 6000, 'Gehalt2': None, 'taxChange': -54},
 {'status': 'Single', 'Gehalt1': 6500, 'Gehalt2': None, 'taxChange': -17},
 {'status': 'Single', 'Gehalt1': 7000, 'Gehalt2': None, 'taxChange': 23},
 {'status': 'Single', 'Gehalt1': 7500, 'Gehalt2': None, 'taxChange': 225},
 {'status': 'Single', 'Gehalt1': 8000, 'Gehalt2': None, 'taxChange': -111},
 {'status': 'Single', 'Gehalt1': 8500, 'Gehalt2': None, 'taxChange': -149},
 {'status': 'Single', 'Gehalt1': 9000, 'Gehalt2': None, 'taxChange': -149},
 {'status': 'Single', 'Gehalt1': 9500, 'Gehalt2': None, 'taxChange': -149},
 {'status': 'Single', 'Gehalt1': 10000, 'Gehalt2': None, 'taxChange': -149},
 {'status': 'SingleMitKind',
  'Gehalt1': 1000,
  'Gehalt2': None,
  'taxChange': 60},
 {'status': 'SingleMitKind',
  'Gehalt1': 1500,
  'Gehalt2': None,
  'taxChange': 60},
 {'status': 'SingleMitKind',
  'Gehalt1': 2000,
  'Gehalt2': None,
  'taxChange': 115},
 {'status': 'SingleMitKind',
  'Gehalt1': 2500,
  'Gehalt2': None,
  'taxChange': 140},
 {'status': 'SingleMitKind',
  'Gehalt1': 3000,
  'Gehalt2': None,
  'taxChange': 150},
 {'status': 'SingleMitKind',
  'Gehalt1': 3500,
  'Gehalt2': None,
  'taxChange': 161},
 {'status': 'SingleMitKind',
  'Gehalt1': 4000,
  'Gehalt2': None,
  'taxChange': 174},
 {'status': 'SingleMitKind',
  'Gehalt1': 4500,
  'Gehalt2': None,
  'taxChange': 190},
 {'status': 'SingleMitKind',
  'Gehalt1': 5000,
  'Gehalt2': None,
  'taxChange': 181},
 {'status': 'SingleMitKind',
  'Gehalt1': 5500,
  'Gehalt2': None,
  'taxChange': -117},
 {'status': 'SingleMitKind',
  'Gehalt1': 6000,
  'Gehalt2': None,
  'taxChange': -98},
 {'status': 'SingleMitKind',
  'Gehalt1': 6500,
  'Gehalt2': None,
  'taxChange': -67},
 {'status': 'SingleMitKind',
  'Gehalt1': 7000,
  'Gehalt2': None,
  'taxChange': -33},
 {'status': 'SingleMitKind', 'Gehalt1': 7500, 'Gehalt2': None, 'taxChange': 3},
 {'status': 'SingleMitKind',
  'Gehalt1': 8000,
  'Gehalt2': None,
  'taxChange': -320},
 {'status': 'SingleMitKind',
  'Gehalt1': 8500,
  'Gehalt2': None,
  'taxChange': -141},
 {'status': 'SingleMitKind',
  'Gehalt1': 9000,
  'Gehalt2': None,
  'taxChange': -107},
 {'status': 'SingleMitKind',
  'Gehalt1': 9500,
  'Gehalt2': None,
  'taxChange': -107},
 {'status': 'SingleMitKind',
  'Gehalt1': 10000,
  'Gehalt2': None,
  'taxChange': -107}]

In [105]:
excel=pd.read_excel("data/GehaltsTabellen.xlsx",sheet_name="VerheiratetZweiKinder")
excel

    Einkommen    0  1000  2000  3000  4000  5000  7000  10000
0        1000  120   120   222   282   298   322   117   -333
1        1500  120   120   258   290   308   332    85   -305
2        2000  120   222   280   298   318   346    73   -277
3        2500  120   258   288   308   332   360    47   -245
4        3000  226   282   298   318   346   376    33   -213
5        3500  264   290   308   332   360   386    53   -179
6        4000  282   298   318   346   376   336    77   -143
7        4500  290   310   334   360   386   340   101   -107
8        5000  300   322   346   376   336   294   125    -69
9        5500   34    64    98   122    78    58   -91   -205
10       6000   43    75   107    69    27    73   -68     58
11       6500   61    95    97    55    51    97   -32    170
12       7000   81   117    73    33    77   125     4    170
13       7500   99    71    39    57   103   155    42    170
14       8000 -295  -333  -373  -319  -261  -199  -282   -168
15       8500 -393  -435  -387  -329  -267  -203  -282   -205
16       9000 -411  -403  -351  -291  -227  -159     2   -205
17       9500 -421  -369  -315  -251  -187  -115   170   -205
18      10000 -387  -333  -277  -213  -143   -69   170   -205
19      15000  373   382   382   381   381   382    77   -606

In [106]:
excel=pd.read_excel("data/GehaltsTabellen.xlsx",sheet_name="VerheiratetZweiKinder")
excel

    Einkommen    0  1000  2000  3000  4000  5000  7000  10000
0        1000  120   120   222   282   298   322   117   -333
1        1500  120   120   258   290   308   332    85   -305
2        2000  120   222   280   298   318   346    73   -277
3        2500  120   258   288   308   332   360    47   -245
4        3000  226   282   298   318   346   376    33   -213
5        3500  264   290   308   332   360   386    53   -179
6        4000  282   298   318   346   376   336    77   -143
7        4500  290   310   334   360   386   340   101   -107
8        5000  300   322   346   376   336   294   125    -69
9        5500   34    64    98   122    78    58   -91   -205
10       6000   43    75   107    69    27    73   -68     58
11       6500   61    95    97    55    51    97   -32    170
12       7000   81   117    73    33    77   125     4    170
13       7500   99    71    39    57   103   155    42    170
14       8000 -295  -333  -373  -319  -261  -199  -282   -168
15       8500 -393  -435  -387  -329  -267  -203  -282   -205
16       9000 -411  -403  -351  -291  -227  -159     2   -205
17       9500 -421  -369  -315  -251  -187  -115   170   -205
18      10000 -387  -333  -277  -213  -143   -69   170   -205
19      15000  373   382   382   381   381   382    77   -606

In [107]:
transposed_couple=excel.T

transposed_couple.columns=transposed_couple.iloc[0].tolist()
transposed_couple=transposed_couple.iloc[1:]
transposed_couple=transposed_couple.rename(columns={"index":"Einkommen"})
transposed_couple

,1000,1500,2000,2500,3000,3500,4000,4500,5000,5500,6000,6500,7000,7500,8000,8500,9000,9500,10000,15000
0,120,120,120,120,226,264,282,290,300,34,43,61,81,99,-295,-393,-411,-421,-387,373
1000,120,120,222,258,282,290,298,310,322,64,75,95,117,71,-333,-435,-403,-369,-333,382
2000,222,258,280,288,298,308,318,334,346,98,107,97,73,39,-373,-387,-351,-315,-277,382
3000,282,290,298,308,318,332,346,360,376,122,69,55,33,57,-319,-329,-291,-251,-213,381
4000,298,308,318,332,346,360,376,386,336,78,27,51,77,103,-261,-267,-227,-187,-143,381
5000,322,332,346,360,376,386,336,340,294,58,73,97,125,155,-199,-203,-159,-115,-69,382
7000,117,85,73,47,33,53,77,101,125,-91,-68,-32,4,42,-282,-282,2,170,170,77
10000,-333,-305,-277,-245,-213,-179,-143,-107,-69,-205,58,170,170,170,-168,-205,-205,-205,-205,-606

In [108]:
transposed_couple[[6000,8000,9000]]

       6000  8000  9000
0        43  -295  -411
1000     75  -333  -403
2000    107  -373  -351
3000     69  -319  -291
4000     27  -261  -227
5000     73  -199  -159
7000    -68  -282     2
10000    58  -168  -205

In [109]:
excel.index=excel["Einkommen"]
excel

           Einkommen    0  1000  2000  3000  4000  5000  7000  10000
Einkommen
1000            1000  120   120   222   282   298   322   117   -333
1500            1500  120   120   258   290   308   332    85   -305
2000            2000  120   222   280   298   318   346    73   -277
2500            2500  120   258   288   308   332   360    47   -245
3000            3000  226   282   298   318   346   376    33   -213
3500            3500  264   290   308   332   360   386    53   -179
4000            4000  282   298   318   346   376   336    77   -143
4500            4500  290   310   334   360   386   340   101   -107
5000            5000  300   322   346   376   336   294   125    -69
5500            5500   34    64    98   122    78    58   -91   -205
6000            6000   43    75   107    69    27    73   -68     58
6500            6500   61    95    97    55    51    97   -32    170
7000            7000   81   117    73    33    77   125     4    170
7500            7500   99    71    39    57   103   155    42    170
8000            8000 -295  -333  -373  -319  -261  -199  -282   -168
8500            8500 -393  -435  -387  -329  -267  -203  -282   -205
9000            9000 -411  -403  -351  -291  -227  -159     2   -205
9500            9500 -421  -369  -315  -251  -187  -115   170   -205
10000          10000 -387  -333  -277  -213  -143   -69   170   -205
15000          15000  373   382   382   381   381   382    77   -606

In [110]:
excel_restruct=pd.concat([excel,transposed_couple[[6000,8000,9000]]],axis=1)
excel_restruct=excel_restruct[[ 0, 1000, 2000, 3000, 4000, 5000, 6000,7000,  8000,
       9000,10000 ]]
excel_restruct=excel_restruct.iloc[:-2]
excel_restruct

,0,1000,2000,3000,4000,5000,6000,7000,8000,9000,10000
1000,120.0,120.0,222.0,282.0,298.0,322.0,75.0,117.0,-333.0,-403.0,-333.0
1500,120.0,120.0,258.0,290.0,308.0,332.0,NaN,85.0,NaN,NaN,-305.0
2000,120.0,222.0,280.0,298.0,318.0,346.0,107.0,73.0,-373.0,-351.0,-277.0
2500,120.0,258.0,288.0,308.0,332.0,360.0,NaN,47.0,NaN,NaN,-245.0
3000,226.0,282.0,298.0,318.0,346.0,376.0,69.0,33.0,-319.0,-291.0,-213.0
3500,264.0,290.0,308.0,332.0,360.0,386.0,NaN,53.0,NaN,NaN,-179.0
4000,282.0,298.0,318.0,346.0,376.0,336.0,27.0,77.0,-261.0,-227.0,-143.0
4500,290.0,310.0,334.0,360.0,386.0,340.0,NaN,101.0,NaN,NaN,-107.0
5000,300.0,322.0,346.0,376.0,336.0,294.0,73.0,125.0,-199.0,-159.0,-69.0
5500,34.0,64.0,98.0,122.0,78.0,58.0,NaN,-91.0,NaN,NaN,-205.0
6000,43.0,75.0,107.0,69.0,27.0,73.0,NaN,-68.0,NaN,NaN,58.0
6500,61.0,95.0,97.0,55.0,51.0,97.0,NaN,-32.0,NaN,NaN,170.0
7000,81.0,117.0,73.0,33.0,77.0,125.0,-68.0,4.0,-282.0,2.0,170.0
7500,99.0,71.0,39.0,57.0,103.0,155.0,NaN,42.0,NaN,NaN,170.0
8000,-295.0,-333.0,-373.0,-319.0,-261.0,-199.0,NaN,-282.0,NaN,NaN,-168.0
8500,-393.0,-435.0,-387.0,-329.0,-267.0,-203.0,NaN,-282.0,NaN,NaN,-205.0
9000,-411.0,-403.0,-351.0,-291.0,-227.0,-159.0,NaN,2.0,NaN,NaN,-205.0
9500,-421.0,-369.0,-315.0,-251.0,-187.0,-115.0,NaN,170.0,NaN,NaN,-205.0
10000,-387.0,-333.0,-277.0,-213.0,-143.0,-69.0,58.0,170.0,-168.0,-205.0,-205.0

In [111]:
excel_restruct.columns=excel_restruct.columns.astype(int)
excel_restruct.index=excel_restruct.index.astype(int)

excel_restruct_interpolated=excel_restruct.interpolate(method='polynomial', order=2, limit_direction='forward', axis=1)
excel_restruct_interpolated

,0,1000,2000,3000,4000,5000,6000,7000,8000,9000,10000
1000,120.0,120.0,222.0,282.0,298.0,322.0,75.000000,117.0,-333.000000,-403.000000,-333.0
1500,120.0,120.0,258.0,290.0,308.0,332.0,239.709276,85.0,-57.354638,-187.354638,-305.0
2000,120.0,222.0,280.0,298.0,318.0,346.0,107.000000,73.0,-373.000000,-351.000000,-277.0
2500,120.0,258.0,288.0,308.0,332.0,360.0,236.519043,47.0,-96.426188,-193.759522,-245.0
3000,226.0,282.0,298.0,318.0,346.0,376.0,69.000000,33.0,-319.000000,-291.000000,-213.0
3500,264.0,290.0,308.0,332.0,360.0,386.0,251.315959,53.0,-84.824646,-162.157979,-179.0
4000,282.0,298.0,318.0,346.0,376.0,336.0,27.000000,77.0,-261.000000,-227.000000,-143.0
4500,290.0,310.0,334.0,360.0,386.0,340.0,228.709893,101.0,2.478387,-66.854947,-107.0
5000,300.0,322.0,346.0,376.0,336.0,294.0,73.000000,125.0,-199.000000,-159.000000,-69.0
5500,34.0,64.0,98.0,122.0,78.0,58.0,-7.206718,-91.0,-151.896641,-189.896641,-205.0
6000,43.0,75.0,107.0,69.0,27.0,73.0,19.717951,-68.0,-90.858975,-48.858975,58.0
6500,61.0,95.0,97.0,55.0,51.0,97.0,45.203727,-32.0,-36.935197,30.398136,170.0
7000,81.0,117.0,73.0,33.0,77.0,125.0,-68.000000,4.0,-282.000000,2.000000,170.0
7500,99.0,71.0,39.0,57.0,103.0,155.0,112.265243,42.0,28.200712,70.867378,170.0
8000,-295.0,-333.0,-373.0,-319.0,-261.0,-199.0,-225.913398,-282.0,-291.043301,-253.043301,-168.0
8500,-393.0,-435.0,-387.0,-329.0,-267.0,-203.0,-226.821507,-282.0,-296.755913,-271.089246,-205.0
9000,-411.0,-403.0,-351.0,-291.0,-227.0,-159.0,-67.783124,2.0,2.391562,-66.608438,-205.0
9500,-421.0,-369.0,-315.0,-251.0,-187.0,-115.0,36.813005,170.0,174.093497,49.093497,-205.0
10000,-387.0,-333.0,-277.0,-213.0,-143.0,-69.0,58.000000,170.0,-168.000000,-205.000000,-205.0

In [112]:
excel_restruct_interpolated["Einkommen"]=excel_restruct_interpolated.index
excel_restruct_interpolated

,0,1000,2000,3000,4000,5000,6000,7000,8000,9000,10000,Einkommen
1000,120.0,120.0,222.0,282.0,298.0,322.0,75.000000,117.0,-333.000000,-403.000000,-333.0,1000
1500,120.0,120.0,258.0,290.0,308.0,332.0,239.709276,85.0,-57.354638,-187.354638,-305.0,1500
2000,120.0,222.0,280.0,298.0,318.0,346.0,107.000000,73.0,-373.000000,-351.000000,-277.0,2000
2500,120.0,258.0,288.0,308.0,332.0,360.0,236.519043,47.0,-96.426188,-193.759522,-245.0,2500
3000,226.0,282.0,298.0,318.0,346.0,376.0,69.000000,33.0,-319.000000,-291.000000,-213.0,3000
3500,264.0,290.0,308.0,332.0,360.0,386.0,251.315959,53.0,-84.824646,-162.157979,-179.0,3500
4000,282.0,298.0,318.0,346.0,376.0,336.0,27.000000,77.0,-261.000000,-227.000000,-143.0,4000
4500,290.0,310.0,334.0,360.0,386.0,340.0,228.709893,101.0,2.478387,-66.854947,-107.0,4500
5000,300.0,322.0,346.0,376.0,336.0,294.0,73.000000,125.0,-199.000000,-159.000000,-69.0,5000
5500,34.0,64.0,98.0,122.0,78.0,58.0,-7.206718,-91.0,-151.896641,-189.896641,-205.0,5500
6000,43.0,75.0,107.0,69.0,27.0,73.0,19.717951,-68.0,-90.858975,-48.858975,58.0,6000
6500,61.0,95.0,97.0,55.0,51.0,97.0,45.203727,-32.0,-36.935197,30.398136,170.0,6500
7000,81.0,117.0,73.0,33.0,77.0,125.0,-68.000000,4.0,-282.000000,2.000000,170.0,7000
7500,99.0,71.0,39.0,57.0,103.0,155.0,112.265243,42.0,28.200712,70.867378,170.0,7500
8000,-295.0,-333.0,-373.0,-319.0,-261.0,-199.0,-225.913398,-282.0,-291.043301,-253.043301,-168.0,8000
8500,-393.0,-435.0,-387.0,-329.0,-267.0,-203.0,-226.821507,-282.0,-296.755913,-271.089246,-205.0,8500
9000,-411.0,-403.0,-351.0,-291.0,-227.0,-159.0,-67.783124,2.0,2.391562,-66.608438,-205.0,9000
9500,-421.0,-369.0,-315.0,-251.0,-187.0,-115.0,36.813005,170.0,174.093497,49.093497,-205.0,9500
10000,-387.0,-333.0,-277.0,-213.0,-143.0,-69.0,58.000000,170.0,-168.000000,-205.000000,-205.0,10000

In [113]:
list_of_2nd_cols=excel_restruct_interpolated.columns.tolist()[:-1]
list_of_2nd_cols

[0, 1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000]

In [114]:
for index, row in excel_restruct_interpolated.iterrows():
    for column in list_of_2nd_cols:
        inner_dict={"status":"VerheiratetMitKind"}
        inner_dict["Gehalt1"]=int(row["Einkommen"])
        inner_dict["Gehalt2"]=column
        print(column)
        print(row[column])

        inner_dict["taxChange"]=int(row[column])
        prototype_json.append(inner_dict)
prototype_json

0
120.0
1000
120.0
2000
222.0
3000
282.0
4000
298.0
5000
322.0
6000
75.0
7000
117.0
8000
-333.0
9000
-403.0
10000
-333.0
0
120.0
1000
120.0
2000
258.0
3000
290.0
4000
308.0
5000
332.0
6000
239.70927559872473
7000
85.0
8000
-57.35463779936242
9000
-187.3546377993624
10000
-305.0
0
120.0
1000
222.0
2000
280.0
3000
298.0
4000
318.0
5000
346.0
6000
107.0
7000
73.0
8000
-373.0
9000
-351.0
10000
-277.0
0
120.0
1000
258.0
2000
288.0
3000
308.0
4000
332.0
5000
360.0
6000
236.51904302908972
7000
47.0
8000
-96.42618818121161
9000
-193.75952151454493
10000
-245.0
0
226.0
1000
282.0
2000
298.0
3000
318.0
4000
346.0
5000
376.0
6000
69.0
7000
33.0
8000
-319.0
9000
-291.0
10000
-213.0
0
264.0
1000
290.0
2000
308.0
3000
332.0
4000
360.0
5000
386.0
6000
251.31595857739555
7000
53.0
8000
-84.82464595536449
9000
-162.1579792886978
10000
-179.0
0
282.0
1000
298.0
2000
318.0
3000
346.0
4000
376.0
5000
336.0
6000
27.0
7000
77.0
8000
-261.0
9000
-227.0
10000
-143.0
0
290.0
1000
310.0
2000
334.0
3000
360.0
4000
386.0
5000
340.0
6000
228.70989347766985
7000
101.0
8000
2.4783865944983283
9000
-66.85494673883498
10000
-107.0
0
300.0
1000
322.0
2000
346.0
3000
376.0
4000
336.0
5000
294.0
6000
73.0
7000
125.0
8000
-199.0
9000
-159.0
10000
-69.0
0
34.0
1000
64.0
2000
98.0
3000
122.0
4000
78.0
5000
58.0
6000
-7.206717579891732
7000
-91.0
8000
-151.89664121005416
9000
-189.89664121005413
10000
-205.0
0
43.0
1000
75.0
2000
107.0
3000
69.0
4000
27.0
5000
73.0
6000
19.717950619114717
7000
-68.0
8000
-90.85897530955738
9000
-48.858975309557366
10000
58.0
0
61.0
1000
95.0
2000
97.0
3000
55.0
4000
51.0
5000
97.0
6000
45.20372704579721
7000
-32.0
8000
-36.93519685623194
9000
30.398136477101403
10000
170.0
0
81.0
1000
117.0
2000
73.0
3000
33.0
4000
77.0
5000
125.0
6000
-68.0
7000
4.0
8000
-282.0
9000
2.0
10000
170.0
0
99.0
1000
71.0
2000
39.0
3000
57.0
4000
103.0
5000
155.0
6000
112.26524307357703
7000
42.0
8000
28.200711796544788
9000
70.86737846321147
10000
170.0
0
-295.0
1000
-333.0
2000
-373.0
3000
-319.0
4000
-261.0
5000
-199.0
6000
-225.91339808704677
7000
-282.0
8000
-291.04330095647657
9000
-253.04330095647657
10000
-168.0
0
-393.0
1000
-435.0
2000
-387.0
3000
-329.0
4000
-267.0
5000
-203.0
6000
-226.82150713032303
7000
-282.0
8000
-296.75591310150514
9000
-271.0892464348384
10000
-205.0
0
-411.0
1000
-403.0
2000
-351.0
3000
-291.0
4000
-227.0
5000
-159.0
6000
-67.78312449024989
7000
2.0
8000
2.391562245124973
9000
-66.60843775487504
10000
-205.0
0
-421.0
1000
-369.0
2000
-315.0
3000
-251.0
4000
-187.0
5000
-115.0
6000
36.81300511603764
7000
170.0
8000
174.09349744198119
9000
49.09349744198116
10000
-205.0
0
-387.0
1000
-333.0
2000
-277.0
3000
-213.0
4000
-143.0
5000
-69.0
6000
58.0
7000
170.0
8000
-168.0
9000
-205.0
10000
-205.0

[{'status': 'Single', 'Gehalt1': 1000, 'Gehalt2': None, 'taxChange': 0},
 {'status': 'Single', 'Gehalt1': 1500, 'Gehalt2': None, 'taxChange': 51},
 {'status': 'Single', 'Gehalt1': 2000, 'Gehalt2': None, 'taxChange': 80},
 {'status': 'Single', 'Gehalt1': 2500, 'Gehalt2': None, 'taxChange': 88},
 {'status': 'Single', 'Gehalt1': 3000, 'Gehalt2': None, 'taxChange': 99},
 {'status': 'Single', 'Gehalt1': 3500, 'Gehalt2': None, 'taxChange': 112},
 {'status': 'Single', 'Gehalt1': 4000, 'Gehalt2': None, 'taxChange': 127},
 {'status': 'Single', 'Gehalt1': 4500, 'Gehalt2': None, 'taxChange': 144},
 {'status': 'Single', 'Gehalt1': 5000, 'Gehalt2': None, 'taxChange': 163},
 {'status': 'Single', 'Gehalt1': 5500, 'Gehalt2': None, 'taxChange': -79},
 {'status': 'Single', 'Gehalt1': 6000, 'Gehalt2': None, 'taxChange': -54},
 {'status': 'Single', 'Gehalt1': 6500, 'Gehalt2': None, 'taxChange': -17},
 {'status': 'Single', 'Gehalt1': 7000, 'Gehalt2': None, 'taxChange': 23},
 {'status': 'Single', 'Gehalt1': 7500, 'Gehalt2': None, 'taxChange': 225},
 {'status': 'Single', 'Gehalt1': 8000, 'Gehalt2': None, 'taxChange': -111},
 {'status': 'Single', 'Gehalt1': 8500, 'Gehalt2': None, 'taxChange': -149},
 {'status': 'Single', 'Gehalt1': 9000, 'Gehalt2': None, 'taxChange': -149},
 {'status': 'Single', 'Gehalt1': 9500, 'Gehalt2': None, 'taxChange': -149},
 {'status': 'Single', 'Gehalt1': 10000, 'Gehalt2': None, 'taxChange': -149},
 {'status': 'SingleMitKind',
  'Gehalt1': 1000,
  'Gehalt2': None,
  'taxChange': 60},
 {'status': 'SingleMitKind',
  'Gehalt1': 1500,
  'Gehalt2': None,
  'taxChange': 60},
 {'status': 'SingleMitKind',
  'Gehalt1': 2000,
  'Gehalt2': None,
  'taxChange': 115},
 {'status': 'SingleMitKind',
  'Gehalt1': 2500,
  'Gehalt2': None,
  'taxChange': 140},
 {'status': 'SingleMitKind',
  'Gehalt1': 3000,
  'Gehalt2': None,
  'taxChange': 150},
 {'status': 'SingleMitKind',
  'Gehalt1': 3500,
  'Gehalt2': None,
  'taxChange': 161},
 {'status': 'SingleMitKind',
  'Gehalt1': 4000,
  'Gehalt2': None,
  'taxChange': 174},
 {'status': 'SingleMitKind',
  'Gehalt1': 4500,
  'Gehalt2': None,
  'taxChange': 190},
 {'status': 'SingleMitKind',
  'Gehalt1': 5000,
  'Gehalt2': None,
  'taxChange': 181},
 {'status': 'SingleMitKind',
  'Gehalt1': 5500,
  'Gehalt2': None,
  'taxChange': -117},
 {'status': 'SingleMitKind',
  'Gehalt1': 6000,
  'Gehalt2': None,
  'taxChange': -98},
 {'status': 'SingleMitKind',
  'Gehalt1': 6500,
  'Gehalt2': None,
  'taxChange': -67},
 {'status': 'SingleMitKind',
  'Gehalt1': 7000,
  'Gehalt2': None,
  'taxChange': -33},
 {'status': 'SingleMitKind', 'Gehalt1': 7500, 'Gehalt2': None, 'taxChange': 3},
 {'status': 'SingleMitKind',
  'Gehalt1': 8000,
  'Gehalt2': None,
  'taxChange': -320},
 {'status': 'SingleMitKind',
  'Gehalt1': 8500,
  'Gehalt2': None,
  'taxChange': -141},
 {'status': 'SingleMitKind',
  'Gehalt1': 9000,
  'Gehalt2': None,
  'taxChange': -107},
 {'status': 'SingleMitKind',
  'Gehalt1': 9500,
  'Gehalt2': None,
  'taxChange': -107},
 {'status': 'SingleMitKind',
  'Gehalt1': 10000,
  'Gehalt2': None,
  'taxChange': -107},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1000,
  'Gehalt2': 0,
  'taxChange': 120},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1000,
  'Gehalt2': 1000,
  'taxChange': 120},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1000,
  'Gehalt2': 2000,
  'taxChange': 222},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1000,
  'Gehalt2': 3000,
  'taxChange': 282},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1000,
  'Gehalt2': 4000,
  'taxChange': 298},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1000,
  'Gehalt2': 5000,
  'taxChange': 322},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1000,
  'Gehalt2': 6000,
  'taxChange': 75},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1000,
  'Gehalt2': 7000,
  'taxChange': 117},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1000,
  'Gehalt2': 8000,
  'taxChange': -333},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1000,
  'Gehalt2': 9000,
  'taxChange': -403},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1000,
  'Gehalt2': 10000,
  'taxChange': -333},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1500,
  'Gehalt2': 0,
  'taxChange': 120},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1500,
  'Gehalt2': 1000,
  'taxChange': 120},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1500,
  'Gehalt2': 2000,
  'taxChange': 258},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1500,
  'Gehalt2': 3000,
  'taxChange': 290},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1500,
  'Gehalt2': 4000,
  'taxChange': 308},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1500,
  'Gehalt2': 5000,
  'taxChange': 332},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1500,
  'Gehalt2': 6000,
  'taxChange': 239},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1500,
  'Gehalt2': 7000,
  'taxChange': 85},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1500,
  'Gehalt2': 8000,
  'taxChange': -57},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1500,
  'Gehalt2': 9000,
  'taxChange': -187},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 1500,
  'Gehalt2': 10000,
  'taxChange': -305},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2000,
  'Gehalt2': 0,
  'taxChange': 120},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2000,
  'Gehalt2': 1000,
  'taxChange': 222},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2000,
  'Gehalt2': 2000,
  'taxChange': 280},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2000,
  'Gehalt2': 3000,
  'taxChange': 298},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2000,
  'Gehalt2': 4000,
  'taxChange': 318},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2000,
  'Gehalt2': 5000,
  'taxChange': 346},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2000,
  'Gehalt2': 6000,
  'taxChange': 107},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2000,
  'Gehalt2': 7000,
  'taxChange': 73},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2000,
  'Gehalt2': 8000,
  'taxChange': -373},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2000,
  'Gehalt2': 9000,
  'taxChange': -351},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2000,
  'Gehalt2': 10000,
  'taxChange': -277},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2500,
  'Gehalt2': 0,
  'taxChange': 120},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2500,
  'Gehalt2': 1000,
  'taxChange': 258},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2500,
  'Gehalt2': 2000,
  'taxChange': 288},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2500,
  'Gehalt2': 3000,
  'taxChange': 308},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2500,
  'Gehalt2': 4000,
  'taxChange': 332},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2500,
  'Gehalt2': 5000,
  'taxChange': 360},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2500,
  'Gehalt2': 6000,
  'taxChange': 236},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2500,
  'Gehalt2': 7000,
  'taxChange': 47},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2500,
  'Gehalt2': 8000,
  'taxChange': -96},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2500,
  'Gehalt2': 9000,
  'taxChange': -193},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 2500,
  'Gehalt2': 10000,
  'taxChange': -245},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3000,
  'Gehalt2': 0,
  'taxChange': 226},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3000,
  'Gehalt2': 1000,
  'taxChange': 282},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3000,
  'Gehalt2': 2000,
  'taxChange': 298},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3000,
  'Gehalt2': 3000,
  'taxChange': 318},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3000,
  'Gehalt2': 4000,
  'taxChange': 346},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3000,
  'Gehalt2': 5000,
  'taxChange': 376},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3000,
  'Gehalt2': 6000,
  'taxChange': 69},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3000,
  'Gehalt2': 7000,
  'taxChange': 33},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3000,
  'Gehalt2': 8000,
  'taxChange': -319},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3000,
  'Gehalt2': 9000,
  'taxChange': -291},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3000,
  'Gehalt2': 10000,
  'taxChange': -213},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3500,
  'Gehalt2': 0,
  'taxChange': 264},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3500,
  'Gehalt2': 1000,
  'taxChange': 290},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3500,
  'Gehalt2': 2000,
  'taxChange': 308},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3500,
  'Gehalt2': 3000,
  'taxChange': 332},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3500,
  'Gehalt2': 4000,
  'taxChange': 360},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3500,
  'Gehalt2': 5000,
  'taxChange': 386},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3500,
  'Gehalt2': 6000,
  'taxChange': 251},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3500,
  'Gehalt2': 7000,
  'taxChange': 53},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3500,
  'Gehalt2': 8000,
  'taxChange': -84},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3500,
  'Gehalt2': 9000,
  'taxChange': -162},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 3500,
  'Gehalt2': 10000,
  'taxChange': -179},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4000,
  'Gehalt2': 0,
  'taxChange': 282},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4000,
  'Gehalt2': 1000,
  'taxChange': 298},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4000,
  'Gehalt2': 2000,
  'taxChange': 318},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4000,
  'Gehalt2': 3000,
  'taxChange': 346},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4000,
  'Gehalt2': 4000,
  'taxChange': 376},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4000,
  'Gehalt2': 5000,
  'taxChange': 336},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4000,
  'Gehalt2': 6000,
  'taxChange': 27},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4000,
  'Gehalt2': 7000,
  'taxChange': 77},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4000,
  'Gehalt2': 8000,
  'taxChange': -261},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4000,
  'Gehalt2': 9000,
  'taxChange': -227},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4000,
  'Gehalt2': 10000,
  'taxChange': -143},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4500,
  'Gehalt2': 0,
  'taxChange': 290},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4500,
  'Gehalt2': 1000,
  'taxChange': 310},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4500,
  'Gehalt2': 2000,
  'taxChange': 334},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4500,
  'Gehalt2': 3000,
  'taxChange': 360},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4500,
  'Gehalt2': 4000,
  'taxChange': 386},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4500,
  'Gehalt2': 5000,
  'taxChange': 340},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4500,
  'Gehalt2': 6000,
  'taxChange': 228},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4500,
  'Gehalt2': 7000,
  'taxChange': 101},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4500,
  'Gehalt2': 8000,
  'taxChange': 2},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4500,
  'Gehalt2': 9000,
  'taxChange': -66},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 4500,
  'Gehalt2': 10000,
  'taxChange': -107},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5000,
  'Gehalt2': 0,
  'taxChange': 300},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5000,
  'Gehalt2': 1000,
  'taxChange': 322},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5000,
  'Gehalt2': 2000,
  'taxChange': 346},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5000,
  'Gehalt2': 3000,
  'taxChange': 376},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5000,
  'Gehalt2': 4000,
  'taxChange': 336},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5000,
  'Gehalt2': 5000,
  'taxChange': 294},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5000,
  'Gehalt2': 6000,
  'taxChange': 73},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5000,
  'Gehalt2': 7000,
  'taxChange': 125},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5000,
  'Gehalt2': 8000,
  'taxChange': -199},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5000,
  'Gehalt2': 9000,
  'taxChange': -159},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5000,
  'Gehalt2': 10000,
  'taxChange': -69},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5500,
  'Gehalt2': 0,
  'taxChange': 34},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5500,
  'Gehalt2': 1000,
  'taxChange': 64},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5500,
  'Gehalt2': 2000,
  'taxChange': 98},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5500,
  'Gehalt2': 3000,
  'taxChange': 122},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5500,
  'Gehalt2': 4000,
  'taxChange': 78},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5500,
  'Gehalt2': 5000,
  'taxChange': 58},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5500,
  'Gehalt2': 6000,
  'taxChange': -7},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5500,
  'Gehalt2': 7000,
  'taxChange': -91},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5500,
  'Gehalt2': 8000,
  'taxChange': -151},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5500,
  'Gehalt2': 9000,
  'taxChange': -189},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 5500,
  'Gehalt2': 10000,
  'taxChange': -205},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6000,
  'Gehalt2': 0,
  'taxChange': 43},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6000,
  'Gehalt2': 1000,
  'taxChange': 75},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6000,
  'Gehalt2': 2000,
  'taxChange': 107},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6000,
  'Gehalt2': 3000,
  'taxChange': 69},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6000,
  'Gehalt2': 4000,
  'taxChange': 27},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6000,
  'Gehalt2': 5000,
  'taxChange': 73},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6000,
  'Gehalt2': 6000,
  'taxChange': 19},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6000,
  'Gehalt2': 7000,
  'taxChange': -68},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6000,
  'Gehalt2': 8000,
  'taxChange': -90},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6000,
  'Gehalt2': 9000,
  'taxChange': -48},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6000,
  'Gehalt2': 10000,
  'taxChange': 58},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6500,
  'Gehalt2': 0,
  'taxChange': 61},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6500,
  'Gehalt2': 1000,
  'taxChange': 95},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6500,
  'Gehalt2': 2000,
  'taxChange': 97},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6500,
  'Gehalt2': 3000,
  'taxChange': 55},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6500,
  'Gehalt2': 4000,
  'taxChange': 51},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6500,
  'Gehalt2': 5000,
  'taxChange': 97},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6500,
  'Gehalt2': 6000,
  'taxChange': 45},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6500,
  'Gehalt2': 7000,
  'taxChange': -32},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6500,
  'Gehalt2': 8000,
  'taxChange': -36},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6500,
  'Gehalt2': 9000,
  'taxChange': 30},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 6500,
  'Gehalt2': 10000,
  'taxChange': 170},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7000,
  'Gehalt2': 0,
  'taxChange': 81},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7000,
  'Gehalt2': 1000,
  'taxChange': 117},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7000,
  'Gehalt2': 2000,
  'taxChange': 73},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7000,
  'Gehalt2': 3000,
  'taxChange': 33},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7000,
  'Gehalt2': 4000,
  'taxChange': 77},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7000,
  'Gehalt2': 5000,
  'taxChange': 125},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7000,
  'Gehalt2': 6000,
  'taxChange': -68},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7000,
  'Gehalt2': 7000,
  'taxChange': 4},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7000,
  'Gehalt2': 8000,
  'taxChange': -282},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7000,
  'Gehalt2': 9000,
  'taxChange': 2},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7000,
  'Gehalt2': 10000,
  'taxChange': 170},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7500,
  'Gehalt2': 0,
  'taxChange': 99},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7500,
  'Gehalt2': 1000,
  'taxChange': 71},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7500,
  'Gehalt2': 2000,
  'taxChange': 39},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7500,
  'Gehalt2': 3000,
  'taxChange': 57},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7500,
  'Gehalt2': 4000,
  'taxChange': 103},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7500,
  'Gehalt2': 5000,
  'taxChange': 155},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7500,
  'Gehalt2': 6000,
  'taxChange': 112},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7500,
  'Gehalt2': 7000,
  'taxChange': 42},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7500,
  'Gehalt2': 8000,
  'taxChange': 28},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7500,
  'Gehalt2': 9000,
  'taxChange': 70},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 7500,
  'Gehalt2': 10000,
  'taxChange': 170},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8000,
  'Gehalt2': 0,
  'taxChange': -295},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8000,
  'Gehalt2': 1000,
  'taxChange': -333},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8000,
  'Gehalt2': 2000,
  'taxChange': -373},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8000,
  'Gehalt2': 3000,
  'taxChange': -319},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8000,
  'Gehalt2': 4000,
  'taxChange': -261},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8000,
  'Gehalt2': 5000,
  'taxChange': -199},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8000,
  'Gehalt2': 6000,
  'taxChange': -225},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8000,
  'Gehalt2': 7000,
  'taxChange': -282},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8000,
  'Gehalt2': 8000,
  'taxChange': -291},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8000,
  'Gehalt2': 9000,
  'taxChange': -253},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8000,
  'Gehalt2': 10000,
  'taxChange': -168},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8500,
  'Gehalt2': 0,
  'taxChange': -393},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8500,
  'Gehalt2': 1000,
  'taxChange': -435},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8500,
  'Gehalt2': 2000,
  'taxChange': -387},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8500,
  'Gehalt2': 3000,
  'taxChange': -329},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8500,
  'Gehalt2': 4000,
  'taxChange': -267},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8500,
  'Gehalt2': 5000,
  'taxChange': -203},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8500,
  'Gehalt2': 6000,
  'taxChange': -226},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8500,
  'Gehalt2': 7000,
  'taxChange': -282},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8500,
  'Gehalt2': 8000,
  'taxChange': -296},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8500,
  'Gehalt2': 9000,
  'taxChange': -271},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 8500,
  'Gehalt2': 10000,
  'taxChange': -205},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 9000,
  'Gehalt2': 0,
  'taxChange': -411},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 9000,
  'Gehalt2': 1000,
  'taxChange': -403},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 9000,
  'Gehalt2': 2000,
  'taxChange': -351},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 9000,
  'Gehalt2': 3000,
  'taxChange': -291},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 9000,
  'Gehalt2': 4000,
  'taxChange': -227},
 {'status': 'VerheiratetMitKind',
  'Gehalt1': 9000,
  'Gehalt2': 5000,
  'taxChange': -159},

In [116]:
with open('data.json', 'w') as f:
    json.dump(prototype_json, f)