In [220]:
import pandas as pd
import numpy as np

In [221]:
data2010=pd.read_csv("../data/2010before.csv")
data2010["Zuletzt"]=data2010["Zuletzt"].str.replace(".","")
data2010["Zuletzt"]=data2010["Zuletzt"].str.replace(",",".")
data2010

           Datum  Zuletzt   Eröffn.      Hoch      Tief     Vol.   +/- %
0     22.10.2010  6605.84  6.594,90  6.623,94  6.586,40   67,47M  -0,08%
1     21.10.2010  6611.01  6.514,99  6.621,84  6.504,66   95,69M   1,33%
2     20.10.2010  6524.55  6.470,30  6.527,85  6.461,48   95,16M   0,52%
3     19.10.2010  6490.69  6.508,36  6.544,79  6.472,18  101,37M  -0,40%
4     18.10.2010  6516.63  6.465,83  6.533,83  6.462,59   91,06M   0,37%
...          ...      ...       ...       ...       ...      ...     ...
4995  11.01.1990  1843.42  1.843,42  1.843,42  1.843,42      NaN  -1,18%
4996  09.01.1990  1865.52  1.865,52  1.865,52  1.865,52      NaN   1,31%
4997  08.01.1990  1841.47  1.841,47  1.841,47  1.841,47      NaN   0,58%
4998  04.01.1990  1830.92  1.830,92  1.830,92  1.830,92      NaN  -1,95%
4999  03.01.1990  1867.29  1.867,29  1.867,29  1.867,29      NaN   5,01%

[5000 rows x 7 columns]

In [230]:
data2024=pd.read_csv("../data/2024_2.csv")
data2024["Zuletzt"]=data2024["Zuletzt"].str.replace(".","")
data2024["Zuletzt"]=data2024["Zuletzt"].str.replace(",",".")
data2024.iloc[1:]

           Datum   Zuletzt    Eröffn.       Hoch       Tief     Vol.   +/- %
1     20.03.2024  18015.13  17.987,91  18.044,49  17.955,69   61,71M   0,15%
2     19.03.2024  17987.49  17.932,18  17.998,04  17.914,18   73,42M   0,31%
3     18.03.2024  17932.68  17.936,31  18.015,49  17.902,92   63,02M  -0,02%
4     15.03.2024  17936.65  17.938,14  18.038,11  17.926,72  202,91M  -0,03%
5     14.03.2024  17942.04  18.002,97  18.039,05  17.899,93   93,59M  -0,11%
...          ...       ...        ...        ...        ...      ...     ...
3610  08.01.2010   6037.61   6.028,62   6.053,04   5.972,24      NaN   0,30%
3611  07.01.2010   6019.36   6.016,80   6.037,57   5.961,25      NaN  -0,25%
3612  06.01.2010   6034.33   6.032,39   6.047,57   5.997,09      NaN   0,04%
3613  05.01.2010   6031.86   6.043,94   6.058,02   6.015,67      NaN  -0,27%
3614  04.01.2010   6048.30   5.975,52   6.048,30   5.974,43      NaN   1,53%

[3614 rows x 7 columns]

In [231]:
WendeToNow=pd.concat([data2010,data2024],axis=0).drop_duplicates(subset=["Datum"])
WendeToNow

           Datum  Zuletzt   Eröffn.      Hoch      Tief     Vol.   +/- %
0     22.10.2010  6605.84  6.594,90  6.623,94  6.586,40   67,47M  -0,08%
1     21.10.2010  6611.01  6.514,99  6.621,84  6.504,66   95,69M   1,33%
2     20.10.2010  6524.55  6.470,30  6.527,85  6.461,48   95,16M   0,52%
3     19.10.2010  6490.69  6.508,36  6.544,79  6.472,18  101,37M  -0,40%
4     18.10.2010  6516.63  6.465,83  6.533,83  6.462,59   91,06M   0,37%
...          ...      ...       ...       ...       ...      ...     ...
3401  29.10.2010  6601.37  6.585,97  6.630,98  6.569,25   93,68M   0,09%
3402  28.10.2010  6595.28  6.600,28  6.644,61  6.576,02  104,32M   0,42%
3403  27.10.2010  6568.00  6.591,24  6.629,13  6.553,25  117,91M  -0,69%
3404  26.10.2010  6613.80  6.634,24  6.645,70  6.580,28   95,12M  -0,38%
3405  25.10.2010  6639.21  6.645,45  6.668,54  6.625,83   75,74M   0,51%

[8406 rows x 7 columns]

In [232]:
WendeToNow["Datum"]=pd.to_datetime(WendeToNow["Datum"])

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_95547/1363230040.py:1: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  WendeToNow["Datum"]=pd.to_datetime(WendeToNow["Datum"])

In [233]:
WendeToNow=WendeToNow.sort_values(by=["Datum"]).reset_index(drop=True)
WendeToNow

          Datum   Zuletzt    Eröffn.       Hoch       Tief     Vol.   +/- %
0    1990-01-03   1867.29   1.867,29   1.867,29   1.867,29      NaN   5,01%
1    1990-01-04   1830.92   1.830,92   1.830,92   1.830,92      NaN  -1,95%
2    1990-01-08   1841.47   1.841,47   1.841,47   1.841,47      NaN   0,58%
3    1990-01-09   1865.52   1.865,52   1.865,52   1.865,52      NaN   1,31%
4    1990-01-11   1843.42   1.843,42   1.843,42   1.843,42      NaN  -1,18%
...         ...       ...        ...        ...        ...      ...     ...
8401 2024-03-15  17936.65  17.938,14  18.038,11  17.926,72  202,91M  -0,03%
8402 2024-03-18  17932.68  17.936,31  18.015,49  17.902,92   63,02M  -0,02%
8403 2024-03-19  17987.49  17.932,18  17.998,04  17.914,18   73,42M   0,31%
8404 2024-03-20  18015.13  17.987,91  18.044,49  17.955,69   61,71M   0,15%
8405 2024-03-21  18121.35  18.184,50  18.182,55  18.107,85   12,91M   0,59%

[8406 rows x 7 columns]

In [234]:
WendeToNow

          Datum   Zuletzt    Eröffn.       Hoch       Tief     Vol.   +/- %
0    1990-01-03   1867.29   1.867,29   1.867,29   1.867,29      NaN   5,01%
1    1990-01-04   1830.92   1.830,92   1.830,92   1.830,92      NaN  -1,95%
2    1990-01-08   1841.47   1.841,47   1.841,47   1.841,47      NaN   0,58%
3    1990-01-09   1865.52   1.865,52   1.865,52   1.865,52      NaN   1,31%
4    1990-01-11   1843.42   1.843,42   1.843,42   1.843,42      NaN  -1,18%
...         ...       ...        ...        ...        ...      ...     ...
8401 2024-03-15  17936.65  17.938,14  18.038,11  17.926,72  202,91M  -0,03%
8402 2024-03-18  17932.68  17.936,31  18.015,49  17.902,92   63,02M  -0,02%
8403 2024-03-19  17987.49  17.932,18  17.998,04  17.914,18   73,42M   0,31%
8404 2024-03-20  18015.13  17.987,91  18.044,49  17.955,69   61,71M   0,15%
8405 2024-03-21  18121.35  18.184,50  18.182,55  18.107,85   12,91M   0,59%

[8406 rows x 7 columns]

In [235]:
WendeToNow["28daysSmoothened"]=WendeToNow["Zuletzt"].rolling(window=28).mean()
WendeToNow["diffSmoothened"]=WendeToNow["28daysSmoothened"]-WendeToNow["28daysSmoothened"].shift(1)
WendeToNow

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened
0,1990-01-03,1867.29,"1.867,29","1.867,29","1.867,29",NaN,"5,01%",NaN,NaN
1,1990-01-04,1830.92,"1.830,92","1.830,92","1.830,92",NaN,"-1,95%",NaN,NaN
2,1990-01-08,1841.47,"1.841,47","1.841,47","1.841,47",NaN,"0,58%",NaN,NaN
3,1990-01-09,1865.52,"1.865,52","1.865,52","1.865,52",NaN,"1,31%",NaN,NaN
4,1990-01-11,1843.42,"1.843,42","1.843,42","1.843,42",NaN,"-1,18%",NaN,NaN
...,...,...,...,...,...,...,...,...,...
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643
8402,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143
8403,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286
8404,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643
8405,2024-03-21,18121.35,"18.184,50","18.182,55","18.107,85","12,91M","0,59%",17587.498929,38.714286

In [256]:
WendeToNow[WendeToNow["Datum"]>"2023-01-01"]

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month
8093,2023-01-02,14069.26,"13.992,71","14.095,91","13.976,44","34,98M","1,05%",14223.606429,-12.610357,-1,-9,2023-01-01
8094,2023-01-03,14181.67,"14.116,07","14.293,87","14.083,76","57,91M","0,80%",14214.823571,-8.782857,-1,-10,2023-01-01
8095,2023-01-04,14490.78,"14.266,98","14.492,78","14.264,60","76,22M","2,18%",14213.081429,-1.742143,-1,-11,2023-01-01
8096,2023-01-05,14436.31,"14.451,23","14.501,60","14.403,73","60,95M","-0,38%",14209.328929,-3.752500,0,0,2023-01-01
8097,2023-01-06,14610.02,"14.476,72","14.610,23","14.388,98","55,43M","1,20%",14217.423929,8.095000,1,1,2023-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01
8402,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39,2024-03-01
8403,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40,2024-03-01
8404,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41,2024-03-01
8405,2024-03-21,18121.35,"18.184,50","18.182,55","18.107,85","12,91M","0,59%",17587.498929,38.714286,0,0,2024-03-01

In [257]:
WendeToNow[WendeToNow["Datum"]>"2023-01-01"].to_csv("recent_dax.csv",index=False)

In [258]:
negative_to_positve = (WendeToNow["diffSmoothened"] > 0) & (WendeToNow["diffSmoothened"].shift(-1) > 0)
positive_to_negative = (WendeToNow["diffSmoothened"] < 0) & (WendeToNow["diffSmoothened"].shift(-1) < 0)
WendeToNow["Trend"]=0
WendeToNow["Trend"]=np.where(positive_to_negative,-1,WendeToNow["Trend"])
WendeToNow["Trend"]=np.where(negative_to_positve,1,WendeToNow["Trend"])
WendeToNow

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month
0,1990-01-03,1867.29,"1.867,29","1.867,29","1.867,29",NaN,"5,01%",NaN,NaN,0,0,1990-01-01
1,1990-01-04,1830.92,"1.830,92","1.830,92","1.830,92",NaN,"-1,95%",NaN,NaN,0,0,1990-01-01
2,1990-01-08,1841.47,"1.841,47","1.841,47","1.841,47",NaN,"0,58%",NaN,NaN,0,0,1990-01-01
3,1990-01-09,1865.52,"1.865,52","1.865,52","1.865,52",NaN,"1,31%",NaN,NaN,0,0,1990-01-01
4,1990-01-11,1843.42,"1.843,42","1.843,42","1.843,42",NaN,"-1,18%",NaN,NaN,0,0,1990-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01
8402,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39,2024-03-01
8403,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40,2024-03-01
8404,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41,2024-03-01
8405,2024-03-21,18121.35,"18.184,50","18.182,55","18.107,85","12,91M","0,59%",17587.498929,38.714286,0,0,2024-03-01

In [259]:
listOfTrends=[]
trendcounter=0
for index, row in WendeToNow.iterrows():
    if (row["Trend"]==0):
        trendcounter=0
    else:
        trendcounter=trendcounter+row["Trend"]
    listOfTrends.append(trendcounter)

WendeToNow["daysOfTrend"]=listOfTrends

In [260]:
WendeToNow

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month
0,1990-01-03,1867.29,"1.867,29","1.867,29","1.867,29",NaN,"5,01%",NaN,NaN,0,0,1990-01-01
1,1990-01-04,1830.92,"1.830,92","1.830,92","1.830,92",NaN,"-1,95%",NaN,NaN,0,0,1990-01-01
2,1990-01-08,1841.47,"1.841,47","1.841,47","1.841,47",NaN,"0,58%",NaN,NaN,0,0,1990-01-01
3,1990-01-09,1865.52,"1.865,52","1.865,52","1.865,52",NaN,"1,31%",NaN,NaN,0,0,1990-01-01
4,1990-01-11,1843.42,"1.843,42","1.843,42","1.843,42",NaN,"-1,18%",NaN,NaN,0,0,1990-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01
8402,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39,2024-03-01
8403,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40,2024-03-01
8404,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41,2024-03-01
8405,2024-03-21,18121.35,"18.184,50","18.182,55","18.107,85","12,91M","0,59%",17587.498929,38.714286,0,0,2024-03-01

In [261]:
len(WendeToNow[WendeToNow["daysOfTrend"]==28])

67

In [262]:
WendeToNow["Year-Month"]=WendeToNow["Datum"].astype(str).str[:-3]+"-01"
WendeToNow["Year-Month"]=pd.to_datetime(WendeToNow["Year-Month"])
WendeToNow

,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month
0,1990-01-03,1867.29,"1.867,29","1.867,29","1.867,29",NaN,"5,01%",NaN,NaN,0,0,1990-01-01
1,1990-01-04,1830.92,"1.830,92","1.830,92","1.830,92",NaN,"-1,95%",NaN,NaN,0,0,1990-01-01
2,1990-01-08,1841.47,"1.841,47","1.841,47","1.841,47",NaN,"0,58%",NaN,NaN,0,0,1990-01-01
3,1990-01-09,1865.52,"1.865,52","1.865,52","1.865,52",NaN,"1,31%",NaN,NaN,0,0,1990-01-01
4,1990-01-11,1843.42,"1.843,42","1.843,42","1.843,42",NaN,"-1,18%",NaN,NaN,0,0,1990-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
8401,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01
8402,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39,2024-03-01
8403,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40,2024-03-01
8404,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41,2024-03-01
8405,2024-03-21,18121.35,"18.184,50","18.182,55","18.107,85","12,91M","0,59%",17587.498929,38.714286,0,0,2024-03-01

In [263]:
ifoKlima=pd.read_excel("../data/gsk-d-202402.xlsx",sheet_name="Wirtschaftsbereiche", skiprows=7)
ifoKlima["Monat/Jahr"]=ifoKlima["Monat/Jahr"].str.strip()
ifoKlima["Monat/Jahr"]=pd.to_datetime(ifoKlima["Monat/Jahr"],format="%m/%Y")
ifoKlima["Monat/Jahr"]=ifoKlima["Monat/Jahr"]+ pd.DateOffset(months=1)
ifoKlima.columns=ifoKlima.columns.str.strip()

ifoKlima=ifoKlima[["Monat/Jahr",'Geschäftsklima.1', 'Geschäftslage.1', 'Geschäftserwartungen.1']]
ifoKlima

    Monat/Jahr  Geschäftsklima.1  Geschäftslage.1  Geschäftserwartungen.1
0          NaT               NaN              NaN                     NaN
1   1991-02-01               9.8             17.9                     2.1
2   1991-03-01              10.1             19.9                     0.8
3   1991-04-01               7.5             14.6                     0.5
4   1991-05-01               7.5             12.8                     2.3
..         ...               ...              ...                     ...
394 2023-11-01             -20.4             -9.7                   -30.4
395 2023-12-01             -18.3             -7.1                   -28.9
396 2024-01-01             -21.4            -10.6                   -31.6
397 2024-02-01             -22.3             -9.8                   -33.9
398 2024-03-01             -23.8            -12.7                   -34.2

[399 rows x 4 columns]

In [264]:
ifoKlimaVSDax=pd.merge(ifoKlima,WendeToNow,left_on="Monat/Jahr",right_on="Year-Month")
ifoKlimaVSDax

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month
0,1991-02-01,9.8,17.9,2.1,1991-02-01,1417.52,"1.417,52","1.417,52","1.417,52",NaN,"-0,26%",1383.565000,-2.242857,-1,-25,1991-02-01
1,1991-02-01,9.8,17.9,2.1,1991-02-04,1446.23,"1.446,23","1.446,23","1.446,23",NaN,"2,03%",1383.038214,-0.526786,0,0,1991-02-01
2,1991-02-01,9.8,17.9,2.1,1991-02-05,1442.73,"1.442,73","1.442,73","1.442,73",NaN,"-0,24%",1383.922857,0.884643,1,1,1991-02-01
3,1991-02-01,9.8,17.9,2.1,1991-02-06,1425.22,"1.425,22","1.425,22","1.425,22",NaN,"-1,21%",1384.065357,0.142500,1,2,1991-02-01
4,1991-02-01,9.8,17.9,2.1,1991-02-07,1442.83,"1.442,83","1.442,83","1.442,83",NaN,"1,24%",1385.119286,1.053929,1,3,1991-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8134,2024-03-01,-23.8,-12.7,-34.2,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01
8135,2024-03-01,-23.8,-12.7,-34.2,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39,2024-03-01
8136,2024-03-01,-23.8,-12.7,-34.2,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40,2024-03-01
8137,2024-03-01,-23.8,-12.7,-34.2,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41,2024-03-01
8138,2024-03-01,-23.8,-12.7,-34.2,2024-03-21,18121.35,"18.184,50","18.182,55","18.107,85","12,91M","0,59%",17587.498929,38.714286,0,0,2024-03-01

In [265]:
ifoKlimaVSDax[ifoKlimaVSDax["daysOfTrend"]==28]

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month
29,1991-03-01,10.1,19.9,0.8,1991-03-14,1563.64,"1.563,64","1.563,64","1.563,64",NaN,"0,31%",1535.371071,4.193214,1,28,1991-03-01
81,1991-06-01,5.0,7.8,2.3,1991-06-04,1689.30,"1.689,30","1.689,30","1.689,30",NaN,"-0,87%",1631.811429,3.195357,1,28,1991-06-01
258,1992-02-01,-2.8,-2.6,-2.9,1992-02-17,1688.46,"1.688,46","1.688,46","1.688,46",NaN,"0,73%",1670.700357,3.813571,1,28,1992-02-01
513,1993-02-01,-27.8,-33.4,-21.9,1993-02-23,1658.09,"1.658,09","1.658,09","1.658,09",NaN,"-1,27%",1616.568571,4.685000,1,28,1993-02-01
610,1993-07-01,-28.5,-39.4,-16.9,1993-07-15,1807.12,"1.807,12","1.807,12","1.807,12",NaN,"-0,47%",1717.268214,6.023214,1,28,1993-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7805,2022-12-01,-16.2,7.0,-36.9,2022-12-01,14490.30,"14.543,80","14.563,70","14.423,79","61,60M","0,65%",13927.256071,55.673214,1,28,2022-12-01
7857,2023-02-01,-7.8,12.0,-25.8,2023-02-14,15380.56,"15.419,00","15.526,28","15.366,37","56,43M","-0,11%",15157.015714,33.723214,1,28,2023-02-01
7916,2023-05-01,-1.2,10.6,-12.3,2023-05-11,15834.91,"15.943,85","15.970,54","15.754,76","67,89M","-0,39%",15775.921429,18.076071,1,28,2023-05-01
8073,2023-12-01,-18.3,-7.1,-28.9,2023-12-18,16650.55,"16.683,69","16.744,27","16.624,65","56,72M","-0,60%",16178.985714,50.748214,1,28,2023-12-01
8124,2024-03-01,-23.8,-12.7,-34.2,2024-03-01,17735.07,"17.793,47","17.816,52","17.690,89","85,78M","0,32%",17114.052143,39.570714,1,28,2024-03-01

In [266]:
ifoKlimaVSDax["ifoKlimaSaldoAllNeg"]=(ifoKlimaVSDax[["Geschäftslage.1","Geschäftserwartungen.1"]]<0).all(axis=1)

In [267]:
ifoKlimaVSDax[ifoKlimaVSDax["daysOfTrend"]>28]["Monat/Jahr"].unique()

<DatetimeArray>
['1991-03-01 00:00:00', '1991-06-01 00:00:00', '1992-02-01 00:00:00',
 '1992-03-01 00:00:00', '1993-02-01 00:00:00', '1993-03-01 00:00:00',
 '1993-07-01 00:00:00', '1993-08-01 00:00:00', '1993-09-01 00:00:00',
 '1993-11-01 00:00:00',
 ...
 '2021-01-01 00:00:00', '2021-04-01 00:00:00', '2021-05-01 00:00:00',
 '2022-12-01 00:00:00', '2023-02-01 00:00:00', '2023-03-01 00:00:00',
 '2023-05-01 00:00:00', '2023-12-01 00:00:00', '2024-01-01 00:00:00',
 '2024-03-01 00:00:00']
Length: 142, dtype: datetime64[ns]

In [268]:
ifoKlimaVSDax[ifoKlimaVSDax["ifoKlimaSaldoAllNeg"]==True]["Monat/Jahr"].unique()

<DatetimeArray>
['1992-02-01 00:00:00', '1992-03-01 00:00:00', '1992-04-01 00:00:00',
 '1992-05-01 00:00:00', '1992-06-01 00:00:00', '1992-07-01 00:00:00',
 '1992-08-01 00:00:00', '1992-09-01 00:00:00', '1992-10-01 00:00:00',
 '1992-11-01 00:00:00',
 ...
 '2020-06-01 00:00:00', '2020-07-01 00:00:00', '2023-08-01 00:00:00',
 '2023-09-01 00:00:00', '2023-10-01 00:00:00', '2023-11-01 00:00:00',
 '2023-12-01 00:00:00', '2024-01-01 00:00:00', '2024-02-01 00:00:00',
 '2024-03-01 00:00:00']
Length: 127, dtype: datetime64[ns]

In [269]:
ifoKlimaVSDax_pos_dax_neg_ifo=ifoKlimaVSDax[(ifoKlimaVSDax["ifoKlimaSaldoAllNeg"]==True) & (ifoKlimaVSDax["daysOfTrend"]>28)]
ifoKlimaVSDax_pos_dax_neg_ifo

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month,ifoKlimaSaldoAllNeg
259,1992-02-01,-2.8,-2.6,-2.9,1992-02-18,1696.55,"1.696,55","1.696,55","1.696,55",NaN,"0,48%",1674.179286,3.478929,1,29,1992-02-01,True
260,1992-02-01,-2.8,-2.6,-2.9,1992-02-19,1690.24,"1.690,24","1.690,24","1.690,24",NaN,"-0,37%",1676.908571,2.729286,1,30,1992-02-01,True
261,1992-02-01,-2.8,-2.6,-2.9,1992-02-20,1711.35,"1.711,35","1.711,35","1.711,35",NaN,"1,25%",1680.155000,3.246429,1,31,1992-02-01,True
262,1992-02-01,-2.8,-2.6,-2.9,1992-02-21,1711.29,"1.711,29","1.711,29","1.711,29",NaN,"0,00%",1683.075714,2.920714,1,32,1992-02-01,True
263,1992-02-01,-2.8,-2.6,-2.9,1992-02-24,1729.86,"1.729,86","1.729,86","1.729,86",NaN,"1,09%",1685.438571,2.362857,1,33,1992-02-01,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8133,2024-03-01,-23.8,-12.7,-34.2,2024-03-14,17942.04,"18.002,97","18.039,05","17.899,93","93,59M","-0,11%",17404.983929,37.070714,1,37,2024-03-01,True
8134,2024-03-01,-23.8,-12.7,-34.2,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01,True
8135,2024-03-01,-23.8,-12.7,-34.2,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39,2024-03-01,True
8136,2024-03-01,-23.8,-12.7,-34.2,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40,2024-03-01,True
8137,2024-03-01,-23.8,-12.7,-34.2,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41,2024-03-01,True

In [270]:
len(ifoKlimaVSDax_pos_dax_neg_ifo["Monat/Jahr"].unique())

50

In [271]:
(ifoKlimaVSDax_pos_dax_neg_ifo["Monat/Jahr"].unique())

<DatetimeArray>
['1992-02-01 00:00:00', '1992-03-01 00:00:00', '1993-02-01 00:00:00',
 '1993-03-01 00:00:00', '1993-07-01 00:00:00', '1993-08-01 00:00:00',
 '1993-09-01 00:00:00', '1993-11-01 00:00:00', '1993-12-01 00:00:00',
 '1994-01-01 00:00:00', '1995-06-01 00:00:00', '1995-08-01 00:00:00',
 '1995-09-01 00:00:00', '1996-01-01 00:00:00', '1996-02-01 00:00:00',
 '1996-03-01 00:00:00', '1996-04-01 00:00:00', '1996-10-01 00:00:00',
 '1996-11-01 00:00:00', '1996-12-01 00:00:00', '1997-01-01 00:00:00',
 '1997-02-01 00:00:00', '1997-03-01 00:00:00', '1997-04-01 00:00:00',
 '1997-06-01 00:00:00', '1997-07-01 00:00:00', '1999-05-01 00:00:00',
 '2001-02-01 00:00:00', '2001-11-01 00:00:00', '2001-12-01 00:00:00',
 '2002-01-01 00:00:00', '2002-12-01 00:00:00', '2003-05-01 00:00:00',
 '2003-06-01 00:00:00', '2003-07-01 00:00:00', '2003-08-01 00:00:00',
 '2004-12-01 00:00:00', '2005-01-01 00:00:00', '2005-03-01 00:00:00',
 '2005-07-01 00:00:00', '2005-08-01 00:00:00', '2009-05-01 00:00:00',
 '2009-06-01 00:00:00', '2009-08-01 00:00:00', '2009-09-01 00:00:00',
 '2020-06-01 00:00:00', '2020-07-01 00:00:00', '2023-12-01 00:00:00',
 '2024-01-01 00:00:00', '2024-03-01 00:00:00']
Length: 50, dtype: datetime64[ns]

In [250]:
ifoKlimaVSDax_pos_dax_neg_ifo

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month,ifoKlimaSaldoAllNeg
268,1992-03-01,-3.4,-1.5,-5.3,1992-03-02,1749.29,"1.749,29","1.749,29","1.749,29",NaN,"0,14%",1696.706071,2.470000,1,38,1992-03-01,True
269,1992-03-01,-3.4,-1.5,-5.3,1992-03-03,1763.86,"1.763,86","1.763,86","1.763,86",NaN,"0,83%",1699.992500,3.286429,1,39,1992-03-01,True
270,1992-03-01,-3.4,-1.5,-5.3,1992-03-04,1762.27,"1.762,27","1.762,27","1.762,27",NaN,"-0,09%",1703.305000,3.312500,1,40,1992-03-01,True
271,1992-03-01,-3.4,-1.5,-5.3,1992-03-05,1762.29,"1.762,29","1.762,29","1.762,29",NaN,"0,00%",1706.004286,2.699286,1,41,1992-03-01,True
272,1992-03-01,-3.4,-1.5,-5.3,1992-03-06,1746.77,"1.746,77","1.746,77","1.746,77",NaN,"-0,88%",1708.192143,2.187857,1,42,1992-03-01,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8090,2024-01-01,-21.4,-10.6,-31.6,2024-01-15,16622.22,"16.723,24","16.736,16","16.609,22","47,80M","-0,49%",16680.106429,8.025000,1,45,2024-01-01,True
8134,2024-03-01,-23.8,-12.7,-34.2,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01,True
8135,2024-03-01,-23.8,-12.7,-34.2,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39,2024-03-01,True
8136,2024-03-01,-23.8,-12.7,-34.2,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40,2024-03-01,True
8137,2024-03-01,-23.8,-12.7,-34.2,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41,2024-03-01,True

In [251]:
ifoKlimaVSDax

,Monat/Jahr,Geschäftsklima.1,Geschäftslage.1,Geschäftserwartungen.1,Datum,Zuletzt,Eröffn.,Hoch,Tief,Vol.,+/- %,28daysSmoothened,diffSmoothened,Trend,daysOfTrend,Year-Month,ifoKlimaSaldoAllNeg
0,1991-02-01,9.8,17.9,2.1,1991-02-01,1417.52,"1.417,52","1.417,52","1.417,52",NaN,"-0,26%",1383.565000,-2.242857,-1,-25,1991-02-01,False
1,1991-02-01,9.8,17.9,2.1,1991-02-04,1446.23,"1.446,23","1.446,23","1.446,23",NaN,"2,03%",1383.038214,-0.526786,0,0,1991-02-01,False
2,1991-02-01,9.8,17.9,2.1,1991-02-05,1442.73,"1.442,73","1.442,73","1.442,73",NaN,"-0,24%",1383.922857,0.884643,1,1,1991-02-01,False
3,1991-02-01,9.8,17.9,2.1,1991-02-06,1425.22,"1.425,22","1.425,22","1.425,22",NaN,"-1,21%",1384.065357,0.142500,1,2,1991-02-01,False
4,1991-02-01,9.8,17.9,2.1,1991-02-07,1442.83,"1.442,83","1.442,83","1.442,83",NaN,"1,24%",1385.119286,1.053929,1,3,1991-02-01,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8134,2024-03-01,-23.8,-12.7,-34.2,2024-03-15,17936.65,"17.938,14","18.038,11","17.926,72","202,91M","-0,03%",17437.248571,32.264643,1,38,2024-03-01,True
8135,2024-03-01,-23.8,-12.7,-34.2,2024-03-18,17932.68,"17.936,31","18.015,49","17.902,92","63,02M","-0,02%",17473.345714,36.097143,1,39,2024-03-01,True
8136,2024-03-01,-23.8,-12.7,-34.2,2024-03-19,17987.49,"17.932,18","17.998,04","17.914,18","73,42M","0,31%",17509.905000,36.559286,1,40,2024-03-01,True
8137,2024-03-01,-23.8,-12.7,-34.2,2024-03-20,18015.13,"17.987,91","18.044,49","17.955,69","61,71M","0,15%",17548.784643,38.879643,1,41,2024-03-01,True
8138,2024-03-01,-23.8,-12.7,-34.2,2024-03-21,18121.35,"18.184,50","18.182,55","18.107,85","12,91M","0,59%",17587.498929,38.714286,0,0,2024-03-01,True