In [1]:
import urllib.request, json , time, os, difflib, itertools
import pandas as pd
from multiprocessing.dummy import Pool
from datetime import datetime
import datetime
import numpy as np
#difflib.get_close_matches

In [26]:
df_translate=pd.read_csv("../data/translate.csv")

In [27]:
name="Puma"
shortener_name=df_translate[df_translate["name"]==name].shortener.values[0]
pumadata=pd.read_csv("../historic_data/csv/"+shortener_name+".csv")
pumadata

,Date,Low,Open,Volume,High,Close,Adjusted Close
0,17-03-1998,1.124100,1.124100,390000,1.143700,1.143700,0.942174
1,18-03-1998,1.133300,1.150200,900000,1.171200,1.160700,0.956178
2,19-03-1998,1.150200,1.171200,240000,1.173800,1.165900,0.960462
3,20-03-1998,1.137200,1.163300,85000,1.163300,1.137200,0.936819
4,23-03-1998,1.111000,1.150200,95000,1.150200,1.122800,0.924957
...,...,...,...,...,...,...,...
6754,31-07-2024,45.709999,46.439999,324910,46.709999,45.900002,45.900002
6755,01-08-2024,45.020000,45.680000,333303,46.310001,45.020000,45.020000
6756,02-08-2024,43.240002,44.500000,383563,44.820000,43.529999,43.529999
6757,05-08-2024,40.349998,42.110001,617836,42.869999,42.020000,42.020000
6758,06-08-2024,40.709999,42.130001,444902,42.430000,41.439999,41.439999

In [28]:
pumadata=pd.read_csv("../historic_data/csv/"+shortener_name+".csv")
pumadata

,Date,Low,Open,Volume,High,Close,Adjusted Close
0,17-03-1998,1.124100,1.124100,390000,1.143700,1.143700,0.942174
1,18-03-1998,1.133300,1.150200,900000,1.171200,1.160700,0.956178
2,19-03-1998,1.150200,1.171200,240000,1.173800,1.165900,0.960462
3,20-03-1998,1.137200,1.163300,85000,1.163300,1.137200,0.936819
4,23-03-1998,1.111000,1.150200,95000,1.150200,1.122800,0.924957
...,...,...,...,...,...,...,...
6754,31-07-2024,45.709999,46.439999,324910,46.709999,45.900002,45.900002
6755,01-08-2024,45.020000,45.680000,333303,46.310001,45.020000,45.020000
6756,02-08-2024,43.240002,44.500000,383563,44.820000,43.529999,43.529999
6757,05-08-2024,40.349998,42.110001,617836,42.869999,42.020000,42.020000
6758,06-08-2024,40.709999,42.130001,444902,42.430000,41.439999,41.439999

In [29]:
#https://de.investing.com/indices/germany-30-historical-data
dax_base_data=pd.read_csv("../data/DAX Historische Daten.csv",dtype=str)
dax_base_data["Datum"]=pd.to_datetime(dax_base_data["Datum"],format='%d.%m.%Y')
dax_base_data

          Datum    Zuletzt    ErÃ¶ffn.       Hoch       Tief    Vol.   +/- %
0    2004-08-06   3.727,74   3.818,78   3.818,78   3.719,46     NaN  -2,65%
1    2004-08-09   3.690,33   3.726,51   3.736,55   3.666,05     NaN  -1,00%
2    2004-08-10   3.720,64   3.691,61   3.721,31   3.685,92     NaN   0,82%
3    2004-08-11   3.678,91   3.722,61   3.731,45   3.636,96     NaN  -1,12%
4    2004-08-12   3.658,11   3.683,66   3.708,33   3.632,45     NaN  -0,57%
...         ...        ...        ...        ...        ...     ...     ...
4995 2024-03-22  18.205,94  18.175,08  18.225,97  18.140,99  68,62M   0,15%
4996 2024-03-25  18.261,31  18.206,36  18.285,58  18.176,85  53,80M   0,30%
4997 2024-03-26  18.384,35  18.262,11  18.411,98  18.256,81  58,79M   0,67%
4998 2024-03-27  18.477,09  18.385,17  18.511,17  18.385,17  66,34M   0,50%
4999 2024-03-28  18.492,49  18.477,40  18.513,83  18.468,87  75,72M   0,08%

[5000 rows x 7 columns]

In [30]:
dax_base_current_data=pd.read_csv("../data/DAX Historische Daten (2).csv",dtype=str)
dax_base_current_data["Datum"]=pd.to_datetime(dax_base_current_data["Datum"],format='%d.%m.%Y')
dax_base_current_data=dax_base_current_data.sort_values("Datum")
dax_base_current_data

         Datum    Zuletzt    ErÃ¶ffn.       Hoch       Tief     Vol.   +/- %
152 2024-01-02  16.769,36  16.828,75  16.963,47  16.648,80   59,89M   0,11%
151 2024-01-03  16.538,39  16.771,35  16.784,07  16.479,92   70,85M  -1,38%
150 2024-01-04  16.617,29  16.563,69  16.626,84  16.501,40   65,87M   0,48%
149 2024-01-05  16.594,21  16.504,88  16.645,89  16.448,71   66,76M  -0,14%
148 2024-01-08  16.716,47  16.618,51  16.716,47  16.517,49   55,07M   0,74%
..         ...        ...        ...        ...        ...      ...     ...
4   2024-07-31  18.508,65  18.503,18  18.564,39  18.434,82   62,45M   0,53%
3   2024-08-01  18.083,05  18.432,50  18.440,92  18.069,62   71,40M  -2,30%
2   2024-08-02  17.661,22  17.884,86  17.918,02  17.623,97   93,52M  -2,33%
1   2024-08-05  17.339,00  17.525,59  17.525,59  17.024,82  101,88M  -1,82%
0   2024-08-06  17.292,85  17.420,15  17.504,65  17.261,35   19,66M  -0,27%

[153 rows x 7 columns]

In [31]:
merged_historic=pd.concat([dax_base_data,dax_base_current_data],axis=0,ignore_index=True)
merged_historic

          Datum    Zuletzt    ErÃ¶ffn.       Hoch       Tief     Vol.   +/- %
0    2004-08-06   3.727,74   3.818,78   3.818,78   3.719,46      NaN  -2,65%
1    2004-08-09   3.690,33   3.726,51   3.736,55   3.666,05      NaN  -1,00%
2    2004-08-10   3.720,64   3.691,61   3.721,31   3.685,92      NaN   0,82%
3    2004-08-11   3.678,91   3.722,61   3.731,45   3.636,96      NaN  -1,12%
4    2004-08-12   3.658,11   3.683,66   3.708,33   3.632,45      NaN  -0,57%
...         ...        ...        ...        ...        ...      ...     ...
5148 2024-07-31  18.508,65  18.503,18  18.564,39  18.434,82   62,45M   0,53%
5149 2024-08-01  18.083,05  18.432,50  18.440,92  18.069,62   71,40M  -2,30%
5150 2024-08-02  17.661,22  17.884,86  17.918,02  17.623,97   93,52M  -2,33%
5151 2024-08-05  17.339,00  17.525,59  17.525,59  17.024,82  101,88M  -1,82%
5152 2024-08-06  17.292,85  17.420,15  17.504,65  17.261,35   19,66M  -0,27%

[5153 rows x 7 columns]

In [32]:
merged_historic=merged_historic.drop_duplicates(subset=["Datum"],keep="last")
merged_historic

          Datum    Zuletzt    ErÃ¶ffn.       Hoch       Tief     Vol.   +/- %
0    2004-08-06   3.727,74   3.818,78   3.818,78   3.719,46      NaN  -2,65%
1    2004-08-09   3.690,33   3.726,51   3.736,55   3.666,05      NaN  -1,00%
2    2004-08-10   3.720,64   3.691,61   3.721,31   3.685,92      NaN   0,82%
3    2004-08-11   3.678,91   3.722,61   3.731,45   3.636,96      NaN  -1,12%
4    2004-08-12   3.658,11   3.683,66   3.708,33   3.632,45      NaN  -0,57%
...         ...        ...        ...        ...        ...      ...     ...
5148 2024-07-31  18.508,65  18.503,18  18.564,39  18.434,82   62,45M   0,53%
5149 2024-08-01  18.083,05  18.432,50  18.440,92  18.069,62   71,40M  -2,30%
5150 2024-08-02  17.661,22  17.884,86  17.918,02  17.623,97   93,52M  -2,33%
5151 2024-08-05  17.339,00  17.525,59  17.525,59  17.024,82  101,88M  -1,82%
5152 2024-08-06  17.292,85  17.420,15  17.504,65  17.261,35   19,66M  -0,27%

[5090 rows x 7 columns]

In [33]:
merged_historic["+/- %"]=merged_historic["+/- %"].str.replace(",",".").str.replace("%","")
merged_historic["+/- %"]=pd.to_numeric(merged_historic["+/- %"])
#Zuletzt vom Vortag vs. Zuletzt jetzt#
merged_historic["+/- %"]

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_60433/4163775939.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_historic["+/- %"]=merged_historic["+/- %"].str.replace(",",".").str.replace("%","")
/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_60433/4163775939.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_historic["+/- %"]=pd.to_numeric(merged_historic["+/- %"])

0      -2.65
1      -1.00
2       0.82
3      -1.12
4      -0.57
        ...
5148    0.53
5149   -2.30
5150   -2.33
5151   -1.82
5152   -0.27
Name: +/- %, Length: 5090, dtype: float64

In [34]:
merged_historic["cleaned_last"]=merged_historic["Zuletzt"].str.replace(".","").str.replace(",",".")
merged_historic["cleaned_last"]=pd.to_numeric(merged_historic["cleaned_last"])
merged_historic

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_60433/541875032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_historic["cleaned_last"]=merged_historic["Zuletzt"].str.replace(".","").str.replace(",",".")
/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_60433/541875032.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_historic["cleaned_last"]=pd.to_numeric(merged_historic["cleaned_last"])

,Datum,Zuletzt,ErÃ¶ffn.,Hoch,Tief,Vol.,+/- %,cleaned_last
0,2004-08-06,"3.727,74","3.818,78","3.818,78","3.719,46",NaN,-2.65,3727.74
1,2004-08-09,"3.690,33","3.726,51","3.736,55","3.666,05",NaN,-1.00,3690.33
2,2004-08-10,"3.720,64","3.691,61","3.721,31","3.685,92",NaN,0.82,3720.64
3,2004-08-11,"3.678,91","3.722,61","3.731,45","3.636,96",NaN,-1.12,3678.91
4,2004-08-12,"3.658,11","3.683,66","3.708,33","3.632,45",NaN,-0.57,3658.11
...,...,...,...,...,...,...,...,...
5148,2024-07-31,"18.508,65","18.503,18","18.564,39","18.434,82","62,45M",0.53,18508.65
5149,2024-08-01,"18.083,05","18.432,50","18.440,92","18.069,62","71,40M",-2.30,18083.05
5150,2024-08-02,"17.661,22","17.884,86","17.918,02","17.623,97","93,52M",-2.33,17661.22
5151,2024-08-05,"17.339,00","17.525,59","17.525,59","17.024,82","101,88M",-1.82,17339.00
5152,2024-08-06,"17.292,85","17.420,15","17.504,65","17.261,35","19,66M",-0.27,17292.85

In [35]:
merged_historic["3_day_change"]=(merged_historic["cleaned_last"]-merged_historic["cleaned_last"].shift(3))/merged_historic["cleaned_last"].shift(3)
merged_historic

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_60433/149378278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_historic["3_day_change"]=(merged_historic["cleaned_last"]-merged_historic["cleaned_last"].shift(3))/merged_historic["cleaned_last"].shift(3)

,Datum,Zuletzt,ErÃ¶ffn.,Hoch,Tief,Vol.,+/- %,cleaned_last,3_day_change
0,2004-08-06,"3.727,74","3.818,78","3.818,78","3.719,46",NaN,-2.65,3727.74,NaN
1,2004-08-09,"3.690,33","3.726,51","3.736,55","3.666,05",NaN,-1.00,3690.33,NaN
2,2004-08-10,"3.720,64","3.691,61","3.721,31","3.685,92",NaN,0.82,3720.64,NaN
3,2004-08-11,"3.678,91","3.722,61","3.731,45","3.636,96",NaN,-1.12,3678.91,-0.013099
4,2004-08-12,"3.658,11","3.683,66","3.708,33","3.632,45",NaN,-0.57,3658.11,-0.008731
...,...,...,...,...,...,...,...,...,...
5148,2024-07-31,"18.508,65","18.503,18","18.564,39","18.434,82","62,45M",0.53,18508.65,0.004946
5149,2024-08-01,"18.083,05","18.432,50","18.440,92","18.069,62","71,40M",-2.30,18083.05,-0.012970
5150,2024-08-02,"17.661,22","17.884,86","17.918,02","17.623,97","93,52M",-2.33,17661.22,-0.040734
5151,2024-08-05,"17.339,00","17.525,59","17.525,59","17.024,82","101,88M",-1.82,17339.00,-0.063195
5152,2024-08-06,"17.292,85","17.420,15","17.504,65","17.261,35","19,66M",-0.27,17292.85,-0.043698

In [36]:
dip_periods=merged_historic[merged_historic["3_day_change"]<-0.06]
dip_periods

,Datum,Zuletzt,ErÃ¶ffn.,Hoch,Tief,Vol.,+/- %,cleaned_last,3_day_change
881,2008-01-21,"6.790,19","7.292,68","7.292,68","6.762,77",NaN,-7.16,6790.19,-0.091196
882,2008-01-22,"6.769,47","6.591,39","6.877,62","6.420,71",NaN,-0.31,6769.47,-0.086876
883,2008-01-23,"6.439,21","6.811,81","6.884,87","6.384,40",NaN,-4.88,6439.21,-0.119625
921,2008-03-17,"6.182,30","6.360,92","6.362,02","6.167,82",NaN,-4.18,6182.30,-0.063198
1063,2008-10-06,"5.387,01","5.606,07","5.606,07","5.292,84",NaN,-7.07,5387.01,-0.072218
...,...,...,...,...,...,...,...,...,...
4470,2022-03-07,"12.834,65","12.614,08","13.150,35","12.438,85","192,41M",-1.98,12834.65,-0.083246
4471,2022-03-08,"12.831,51","12.673,89","13.106,78","12.672,00","172,92M",-0.02,12831.51,-0.063284
4538,2022-06-13,"13.427,03","13.564,47","13.648,84","13.379,87","91,21M",-2.43,13427.03,-0.070536
4539,2022-06-14,"13.304,39","13.557,44","13.569,93","13.294,00","78,30M",-0.91,13304.39,-0.062992
5151,2024-08-05,"17.339,00","17.525,59","17.525,59","17.024,82","101,88M",-1.82,17339.00,-0.063195

In [37]:
no_covid=dip_periods[dip_periods["Datum"].astype(str).str[:4]!="2020"]
no_covid

,Datum,Zuletzt,ErÃ¶ffn.,Hoch,Tief,Vol.,+/- %,cleaned_last,3_day_change
881,2008-01-21,"6.790,19","7.292,68","7.292,68","6.762,77",NaN,-7.16,6790.19,-0.091196
882,2008-01-22,"6.769,47","6.591,39","6.877,62","6.420,71",NaN,-0.31,6769.47,-0.086876
883,2008-01-23,"6.439,21","6.811,81","6.884,87","6.384,40",NaN,-4.88,6439.21,-0.119625
921,2008-03-17,"6.182,30","6.360,92","6.362,02","6.167,82",NaN,-4.18,6182.30,-0.063198
1063,2008-10-06,"5.387,01","5.606,07","5.606,07","5.292,84",NaN,-7.07,5387.01,-0.072218
1065,2008-10-08,"5.013,62","5.237,11","5.319,15","4.870,20",NaN,-5.88,5013.62,-0.135140
1066,2008-10-09,"4.887,00","5.054,90","5.153,53","4.803,62",NaN,-2.53,4887.00,-0.092818
1067,2008-10-10,"4.544,31","4.594,53","4.653,98","4.308,00",NaN,-7.01,4544.31,-0.146870
1071,2008-10-16,"4.622,81","4.675,90","4.890,78","4.521,91",NaN,-4.91,4622.81,-0.086843
1072,2008-10-17,"4.781,33","4.757,98","4.835,90","4.576,58",NaN,3.43,4781.33,-0.080370
1076,2008-10-23,"4.519,70","4.559,71","4.576,87","4.364,20",NaN,-1.12,4519.70,-0.065214
1077,2008-10-24,"4.295,67","4.362,79","4.362,93","4.014,60",NaN,-4.96,4295.67,-0.102153
1087,2008-11-07,"4.938,46","4.827,56","5.018,41","4.751,24",NaN,2.59,4938.46,-0.064338
1090,2008-11-12,"4.620,80","4.801,90","4.875,66","4.555,44",NaN,-2.96,4620.80,-0.064324
1091,2008-11-13,"4.649,52","4.599,64","4.713,78","4.524,89",NaN,0.62,4649.52,-0.074820
1095,2008-11-19,"4.354,09","4.586,33","4.586,69","4.337,92",NaN,-4.92,4354.09,-0.075612
1096,2008-11-20,"4.220,20","4.274,98","4.313,16","4.113,49",NaN,-3.08,4220.20,-0.073963
1097,2008-11-21,"4.127,41","4.228,31","4.296,86","4.034,96",NaN,-2.20,4127.41,-0.098714
1132,2009-01-14,"4.422,35","4.661,84","4.670,84","4.379,88",NaN,-4.63,4422.35,-0.075574
1133,2009-01-15,"4.336,73","4.434,22","4.451,32","4.295,76",NaN,-1.94,4336.73,-0.081127
1160,2009-02-23,"3.936,45","4.057,25","4.111,52","3.912,71",NaN,-1.95,3936.45,-0.063856
1161,2009-02-24,"3.895,75","3.922,02","3.932,59","3.816,88",NaN,-1.03,3895.75,-0.075787
1166,2009-03-03,"3.690,72","3.724,53","3.755,88","3.667,86",NaN,-0.52,3690.72,-0.063892
1689,2011-03-16,"6.513,84","6.696,31","6.733,03","6.501,85","202,70M",-2.01,6513.84,-0.066984
1787,2011-08-03,"6.640,59","6.717,84","6.783,07","6.543,60","265,05M",-2.30,6640.59,-0.072384
1788,2011-08-04,"6.414,76","6.714,79","6.730,43","6.391,54","288,06M",-3.40,6414.76,-0.077541
1789,2011-08-05,"6.236,16","6.338,77","6.436,66","6.152,62","360,00M",-2.78,6236.16,-0.082479
1790,2011-08-08,"5.923,27","6.170,69","6.272,94","5.911,09","314,80M",-5.02,5923.27,-0.108021
1791,2011-08-09,"5.917,08","5.896,14","6.026,27","5.502,63","435,79M",-0.10,5917.08,-0.077584
1792,2011-08-10,"5.613,42","6.040,68","6.089,08","5.549,02","433,03M",-5.13,5613.42,-0.099860
1798,2011-08-18,"5.602,80","5.854,36","5.892,57","5.535,61","325,97M",-5.82,5602.80,-0.069649
1799,2011-08-19,"5.480,00","5.581,51","5.595,15","5.345,36","351,40M",-2.19,5480.00,-0.085890
1800,2011-08-22,"5.473,78","5.412,75","5.591,35","5.408,71","182,96M",-0.11,5473.78,-0.079873
1810,2011-09-05,"5.246,18","5.409,87","5.421,11","5.208,37","202,46M",-5.28,5246.18,-0.093117
1811,2011-09-06,"5.193,97","5.248,31","5.332,11","5.150,05","238,11M",-1.00,5193.97,-0.093648
1815,2011-09-12,"5.072,33","5.063,59","5.126,52","4.965,80","265,14M",-2.27,5072.33,-0.061641
1824,2011-09-23,"5.196,56","5.227,09","5.229,60","4.973,92","198,77M",0.63,5196.56,-0.067326
1831,2011-10-04,"5.216,71","5.284,11","5.288,78","5.125,44","204,74M",-2.98,5216.71,-0.074983
1851,2011-11-01,"5.834,51","5.934,54","5.947,58","5.762,26","291,72M",-5.00,5834.51,-0.079417
2268,2013-06-24,"7.692,45","7.776,88","7.823,84","7.655,83","121,38M",-1.24,7692.45,-0.061562
2815,2015-08-21,"10.124,52","10.228,70","10.437,28","10.124,52","157,94M",-2.95,10124.52,-0.072500
2816,2015-08-24,"9.648,43","9.805,72","9.935,53","9.338,20","294,38M",-4.70,9648.43,-0.096771
2837,2015-09-22,"9.570,66","9.974,41","9.974,80","9.558,96","154,64M",-3.80,9570.66,-0.064413
3029,2016-06-27,"9.268,66","9.516,92","9.589,28","9.214,10","209,92M",-3.02,9268.66,-0.079674
3030,2016-06-28,"9.447,28","9.458,38","9.554,41","9.419,38","136,52M",1.93,9447.28,-0.078946
4470,2022-03-07,"12.834,65","12.614,08","13.150,35","12.438,85","192,41M",-1.98,12834.65,-0.083246
4471,2022-03-08,"12.831,51","12.673,89","13.106,78","12.672,00","172,92M",-0.02,12831.51,-0.063284
4538,2022-06-13,"13.427,03","13.564,47","13.648,84","13.379,87","91,21M",-2.43,13427.03,-0.070536
4539,2022-06-14,"13.304,39","13.557,44","13.569,93","13.294,00","78,30M",-0.91,13304.39,-0.062992
5151,2024-08-05,"17.339,00","17.525,59","17.525,59","17.024,82","101,88M",-1.82,17339.00,-0.063195

In [38]:
end_trend_day=no_covid["Datum"]
len(end_trend_day)

50

In [39]:
pumadata

,Date,Low,Open,Volume,High,Close,Adjusted Close
0,17-03-1998,1.124100,1.124100,390000,1.143700,1.143700,0.942174
1,18-03-1998,1.133300,1.150200,900000,1.171200,1.160700,0.956178
2,19-03-1998,1.150200,1.171200,240000,1.173800,1.165900,0.960462
3,20-03-1998,1.137200,1.163300,85000,1.163300,1.137200,0.936819
4,23-03-1998,1.111000,1.150200,95000,1.150200,1.122800,0.924957
...,...,...,...,...,...,...,...
6754,31-07-2024,45.709999,46.439999,324910,46.709999,45.900002,45.900002
6755,01-08-2024,45.020000,45.680000,333303,46.310001,45.020000,45.020000
6756,02-08-2024,43.240002,44.500000,383563,44.820000,43.529999,43.529999
6757,05-08-2024,40.349998,42.110001,617836,42.869999,42.020000,42.020000
6758,06-08-2024,40.709999,42.130001,444902,42.430000,41.439999,41.439999

In [40]:
singledf=pumadata
singledf["Date"]=pd.to_datetime(singledf["Date"])
singledf["Adjusted Close"]=pd.to_numeric(singledf["Adjusted Close"])

diff_list=[]
for row in end_trend_day:
    current_val=float(singledf[singledf["Date"]==row]["Close"].iloc[0])
    previous_index=singledf[singledf["Date"]==row]["Close"].index-3
    previous_val=float(singledf[singledf.index==previous_index[0]]["Close"].iloc[0])
    diff_list.append((current_val-previous_val)/current_val)
pd.Series({name:diff_list})

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_60433/2072328688.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  singledf["Date"]=pd.to_datetime(singledf["Date"])

Puma    [-0.032430996107232886, -0.04212480681851679, ...
dtype: object

In [41]:
dax40_list=df_translate["name"].tolist()
dax40_list

['Adidas',
 'Airbus',
 'Allianz',
 'BASF',
 'Bayer',
 'Beiersdorf',
 'BMW',
 'Brenntag',
 'Continental',
 'Covestro',
 'Daimler Truck',
 'Delivery Hero',
 'Deutsche BÃ¶rse',
 'Deutsche Bank',
 'Deutsche Post',
 'Deutsche Telekom',
 'E.ON',
 'Fresenius',
 'Fresenius Medical Care',
 'Hannover RÃ¼ck',
 'HeidelbergCement',
 'Hello Fresh',
 'Henkel',
 'Infineon',
 'Mercedes Benz',
 'Merck',
 'MTU Aero Engines',
 'MÃ¼nchner RÃ¼ck',
 'Porsche',
 'Puma',
 'QIAGEN',
 'RWE',
 'SAP',
 'Sartorius',
 'Siemens',
 'Siemens Healthineers',
 'Symrise',
 'Volkswagen',
 'Vonovia',
 'Zalando']

In [42]:
overall_df=pd.DataFrame()
for name in dax40_list:
    shortener_name=df_translate[df_translate["name"]==name].shortener.values[0]
    singledf=pd.read_csv("../historic_data/csv/"+shortener_name+".csv")
    singledf["Date"]=pd.to_datetime(singledf["Date"],format='%d-%m-%Y')
    singledf["Adjusted Close"]=pd.to_numeric(singledf["Adjusted Close"])
    
    diff_list=[]
    print(name)
    
    for row in end_trend_day:
        try:
            current_val=float(singledf[singledf["Date"]==row]["Close"].iloc[0])
            previous_index=singledf[singledf["Date"]==row]["Close"].index-3
            previous_val=float(singledf[singledf.index==previous_index[0]]["Close"].iloc[0])
            diff_list.append((current_val-previous_val)/current_val)
        except:
             diff_list.append(np.nan)
    share_df=pd.DataFrame({name:diff_list})
    overall_df=pd.concat([overall_df,share_df],axis=1)
overall_df

Adidas
Airbus
Allianz
BASF
Bayer
Beiersdorf
BMW
Brenntag
Continental
Covestro
Daimler Truck
Delivery Hero
Deutsche BÃ¶rse
Deutsche Bank
Deutsche Post
Deutsche Telekom
E.ON
Fresenius
Fresenius Medical Care
Hannover RÃ¼ck
HeidelbergCement
Hello Fresh
Henkel
Infineon
Mercedes Benz
Merck
MTU Aero Engines
MÃ¼nchner RÃ¼ck
Porsche
Puma
QIAGEN
RWE
SAP
Sartorius
Siemens
Siemens Healthineers
Symrise
Volkswagen
Vonovia
Zalando

,Adidas,Airbus,Allianz,BASF,Bayer,Beiersdorf,BMW,Brenntag,Continental,Covestro,...,QIAGEN,RWE,SAP,Sartorius,Siemens,Siemens Healthineers,Symrise,Volkswagen,Vonovia,Zalando
0,-0.040275,-0.167925,-0.184685,-0.124118,-0.097200,-0.031568,-0.102811,NaN,-0.056558,NaN,...,-0.130265,-0.080634,-0.085714,-0.080851,-0.127955,NaN,-0.060457,-0.051333,NaN,NaN
1,-0.015901,-0.092401,-0.182761,-0.109591,-0.090413,-0.043451,-0.075598,NaN,-0.055946,NaN,...,-0.110015,-0.133447,-0.076825,-0.069474,-0.080630,NaN,-0.046154,-0.022043,NaN,NaN
2,-0.072841,-0.066044,-0.196461,-0.142094,-0.156961,-0.060328,-0.085566,NaN,-0.076923,NaN,...,-0.088304,-0.209527,-0.124499,-0.063830,-0.118541,NaN,-0.089981,-0.025561,NaN,NaN
3,-0.068387,-0.185185,-0.075330,-0.016117,-0.005645,-0.027267,-0.086467,NaN,-0.093852,NaN,...,-0.071611,-0.035325,-0.038424,0.024691,-0.243752,NaN,-0.080801,0.010836,NaN,NaN
4,-0.072932,-0.076460,-0.073759,-0.062776,-0.051575,-0.098519,-0.055218,NaN,-0.238000,NaN,...,-0.061794,-0.041368,-0.282420,-0.025735,-0.149531,NaN,-0.086766,-0.064395,NaN,NaN
5,-0.091283,-0.202912,-0.248929,-0.175265,-0.117609,-0.097618,-0.141659,NaN,-0.188279,NaN,...,-0.109600,-0.064295,-0.279436,-0.120897,-0.245518,NaN,-0.133584,-0.111773,NaN,NaN
6,-0.034287,-0.098631,-0.144978,-0.115019,-0.114765,-0.049495,-0.148699,NaN,-0.078103,NaN,...,-0.075365,-0.110904,-0.091804,-0.089744,-0.094571,NaN,-0.061395,-0.128592,NaN,NaN
7,-0.127866,-0.145015,-0.211557,-0.222701,-0.216019,-0.090000,-0.250127,NaN,-0.238349,NaN,...,-0.177880,-0.265943,-0.070685,-0.227907,-0.165385,NaN,-0.083170,-0.027202,NaN,NaN
8,-0.139159,-0.141959,-0.133268,-0.187396,-0.139760,-0.062500,-0.112809,NaN,-0.108488,NaN,...,-0.027434,-0.078814,-0.081251,-0.034483,-0.207272,NaN,-0.029836,0.016889,NaN,NaN
9,-0.090102,-0.109445,-0.178987,-0.186786,-0.144304,-0.029700,-0.099341,NaN,0.014963,NaN,...,-0.035842,-0.050572,-0.060363,-0.092896,-0.191593,NaN,-0.053589,-0.031319,NaN,NaN
10,-0.110463,0.029689,-0.112479,-0.057594,0.031735,-0.013971,-0.051554,NaN,-0.061795,NaN,...,0.015411,-0.023263,-0.014865,0.013060,-0.118566,NaN,-0.063000,-0.373544,NaN,NaN
11,-0.127536,0.065790,-0.214073,-0.117069,-0.041978,-0.024967,-0.152835,NaN,-0.180634,NaN,...,-0.058615,-0.037106,-0.064255,-0.070000,-0.226147,NaN,-0.087845,-0.582731,NaN,NaN
12,-0.104364,-0.136364,-0.051259,-0.120782,-0.033619,-0.009144,-0.065399,NaN,-0.085538,NaN,...,0.026496,-0.045693,-0.056343,-0.089744,-0.158427,NaN,-0.029683,-0.156654,NaN,NaN
13,-0.093439,-0.027273,-0.181507,-0.026772,-0.077173,-0.070934,-0.043058,NaN,-0.100576,NaN,...,0.013491,-0.034884,-0.021070,0.012658,-0.085080,NaN,0.003061,-0.215700,NaN,NaN
14,-0.108404,-0.023579,-0.211896,-0.068818,-0.080537,-0.038909,-0.022005,NaN,-0.088927,NaN,...,0.027161,-0.076029,-0.043526,-0.028571,-0.076996,NaN,0.007913,-0.090690,NaN,NaN
15,-0.103896,-0.113523,-0.104920,-0.178506,-0.053962,-0.015640,-0.129952,NaN,-0.040190,NaN,...,-0.079086,-0.051125,-0.085859,-0.026455,-0.042147,NaN,-0.060963,-0.033698,NaN,NaN
16,-0.089749,-0.131304,-0.085576,-0.137578,-0.050356,-0.057664,-0.164912,NaN,-0.071730,NaN,...,-0.060104,-0.072172,-0.080081,-0.048684,-0.049205,NaN,-0.118436,0.020529,NaN,NaN
17,-0.105680,-0.098922,-0.147298,-0.172970,-0.074667,-0.063433,-0.215440,NaN,-0.048203,NaN,...,-0.034783,-0.127873,-0.111368,-0.026316,-0.060780,NaN,-0.114286,0.028029,NaN,NaN
18,-0.086614,-0.093450,-0.054984,-0.068994,-0.014953,-0.013896,-0.115317,NaN,-0.212515,NaN,...,-0.009701,-0.050241,-0.056186,-0.101250,-0.199716,NaN,-0.052689,-0.085324,NaN,NaN
19,-0.051292,-0.043822,-0.143484,-0.103106,-0.031888,-0.000746,-0.135204,NaN,-0.480612,NaN,...,0.050349,-0.029338,-0.038225,-0.081250,-0.144773,NaN,-0.004269,-0.016406,NaN,NaN
20,-0.059861,-0.088655,-0.119766,-0.081585,-0.039364,-0.039181,-0.070968,NaN,-0.028816,NaN,...,-0.040480,-0.027254,-0.067732,0.034074,-0.088164,NaN,-0.053947,-0.072399,NaN,NaN
21,-0.043781,-0.150985,-0.168120,-0.055709,-0.065697,-0.029126,-0.144046,NaN,-0.162281,NaN,...,-0.024627,-0.051967,-0.025836,0.012121,-0.083901,NaN,-0.042553,-0.113333,NaN,NaN
22,-0.056332,-0.111787,-0.098410,-0.092226,-0.059599,-0.058731,-0.066649,NaN,-0.013699,NaN,...,-0.040435,-0.097305,-0.010535,-0.029688,-0.086027,NaN,-0.057747,-0.025436,NaN,NaN
23,-0.062558,-0.046592,-0.093798,-0.082098,-0.067813,-0.056002,-0.060463,-0.018373,-0.074761,NaN,...,-0.062204,-0.118306,-0.068948,-0.024561,-0.055883,NaN,-0.024895,-0.072233,NaN,NaN
24,-0.060510,-0.064672,-0.072556,-0.080499,-0.072278,-0.053861,-0.065141,-0.048187,-0.094168,NaN,...,-0.043092,-0.058355,-0.051180,0.053345,-0.100062,NaN,-0.071147,-0.104117,NaN,NaN
25,-0.054594,-0.121751,-0.072317,-0.080876,-0.067522,-0.037277,-0.105109,-0.040741,-0.170138,NaN,...,-0.081975,-0.054937,-0.062881,-0.046283,-0.102127,NaN,-0.110051,-0.138500,NaN,NaN
26,-0.020715,-0.085563,-0.094690,-0.114095,-0.088465,-0.041922,-0.090774,-0.001620,-0.144041,NaN,...,-0.033784,-0.081206,-0.070656,-0.159483,-0.105007,NaN,-0.073977,-0.142795,NaN,NaN
27,-0.074832,-0.147400,-0.102597,-0.147480,-0.116319,-0.065117,-0.188792,-0.031307,-0.208397,NaN,...,-0.013964,-0.125122,-0.120799,-0.359397,-0.120690,NaN,-0.060859,-0.160312,NaN,NaN
28,-0.047249,-0.041961,-0.073345,-0.086740,-0.124931,-0.055218,-0.045028,-0.040222,-0.116026,NaN,...,-0.008929,-0.171508,-0.075802,-0.347317,-0.051185,NaN,0.073757,-0.077265,NaN,NaN
29,-0.068495,-0.088900,-0.114713,-0.090046,-0.146218,-0.040625,-0.087379,-0.014950,-0.142914,NaN,...,-0.115466,-0.253035,-0.107898,-0.168121,-0.079138,NaN,0.032258,-0.059415,NaN,NaN
30,-0.078531,-0.053110,-0.074275,-0.075218,-0.054029,-0.013566,-0.095291,-0.088318,-0.115973,NaN,...,-0.063453,-0.095322,-0.079685,0.015291,-0.066915,NaN,-0.040548,-0.084343,NaN,NaN
31,-0.086110,-0.049591,-0.110029,-0.110700,-0.074974,-0.046137,-0.125621,-0.080000,-0.117262,NaN,...,-0.071818,-0.082789,-0.085522,-0.023757,-0.093613,NaN,-0.049942,-0.117647,NaN,NaN
32,-0.088755,-0.071852,-0.095300,-0.118311,-0.061521,-0.036878,-0.173088,-0.062215,-0.195395,NaN,...,-0.051485,-0.078875,-0.057234,-0.026562,-0.082204,NaN,-0.040681,-0.133104,NaN,NaN
33,-0.079243,-0.073194,-0.123414,-0.117310,-0.099571,-0.031628,-0.107726,-0.038384,-0.143334,NaN,...,-0.058939,-0.130566,-0.072235,-0.025000,-0.089751,NaN,-0.070175,-0.109039,NaN,NaN
34,-0.084981,-0.069317,-0.125775,-0.099662,-0.177219,-0.014284,-0.123174,-0.015708,-0.179673,NaN,...,-0.048506,-0.118164,-0.057418,-0.013871,-0.088889,NaN,-0.075953,-0.109880,NaN,NaN
35,-0.035758,-0.021846,-0.134679,-0.059322,-0.015869,0.000982,-0.055206,-0.034121,-0.105199,NaN,...,-0.045771,-0.076729,-0.046214,-0.033333,-0.059736,NaN,-0.052322,-0.073875,NaN,NaN
36,-0.053611,-0.107108,-0.093866,-0.080416,0.009513,-0.053461,-0.104638,-0.100335,-0.150731,NaN,...,-0.042189,-0.073928,-0.042568,-0.057525,-0.071570,NaN,-0.062678,-0.098266,NaN,NaN
37,-0.097156,-0.088754,-0.041542,-0.057159,-0.058749,-0.035456,-0.182282,-0.065167,-0.186890,NaN,...,-0.068965,-0.029099,-0.039327,-0.062599,-0.048272,NaN,-0.090107,-0.210187,NaN,NaN
38,-0.041776,-0.022760,-0.132308,-0.069223,-0.106616,-0.032242,-0.079180,-0.058130,-0.128571,NaN,...,-0.006852,-0.148316,-0.019601,-0.046970,-0.057352,NaN,-0.062848,-0.087917,NaN,NaN
39,-0.068188,-0.068038,-0.079231,-0.080094,-0.077701,-0.049744,-0.089944,-0.097382,-0.072675,NaN,...,-0.026024,-0.078027,-0.057883,-0.082066,-0.048289,NaN,-0.088169,-0.086764,NaN,NaN
40,-0.036347,-0.097055,-0.090422,-0.087352,-0.093023,-0.065181,-0.071634,-0.073220,-0.079051,NaN,...,-0.085157,-0.083534,-0.050700,-0.195562,-0.071606,NaN,-0.057668,-0.057502,-0.035771,-0.066281
41,-0.058417,-0.130896,-0.120045,-0.102981,-0.117935,-0.091697,-0.090212,-0.099426,-0.087897,NaN,...,-0.125734,-0.156959,-0.102988,-0.178763,-0.096444,NaN,-0.089394,-0.084847,-0.112740,-0.140028
42,0.001009,-0.060640,-0.044584,-0.050414,-0.042032,-0.005155,-0.112708,-0.027992,-0.093715,NaN,...,-0.032299,-0.199737,-0.044916,-0.002956,-0.060115,NaN,-0.003286,-0.583019,-0.003934,-0.037524
43,-0.033820,-0.090745,-0.150229,-0.081761,-0.055875,-0.019469,-0.103548,-0.091880,-0.147959,-0.132698,...,-0.051388,-0.103462,-0.075000,-0.056677,-0.099668,NaN,-0.018257,-0.160226,0.014421,-0.133058
44,-0.006930,-0.086480,-0.141129,-0.092083,-0.045210,-0.009185,-0.127905,-0.090288,-0.157647,-0.103956,...,-0.043349,-0.085793,-0.070934,-0.047981,-0.096087,NaN,-0.002083,-0.177098,0.010734,-0.096693
45,-0.161673,-0.166933,-0.076957,-0.174698,-0.065509,-0.118955,-0.142371,-0.096560,-0.130944,-0.121815,...,-0.070955,-0.088985,-0.037113,-0.074271,-0.088065,-0.075103,-0.029722,-0.170104,-0.062458,-0.157989
46,-0.083054,-0.115691,-0.043205,-0.103857,-0.061176,-0.098462,-0.090922,-0.080508,-0.050647,-0.067684,...,-0.122291,0.012935,-0.029360,-0.111111,-0.052987,-0.091442,-0.107837,-0.143699,-0.057044,-0.104352
47,-0.101957,-0.110747,-0.052406,-0.073459,-0.037813,0.026899,-0.070925,-0.016973,-0.058326,-0.074565,...,-0.036239,-0.061057,-0.075862,-0.157402,-0.112545,-0.111067,-0.037897,-0.100703,-0.154245,-0.169830
48,-0.102467,-0.093815,-0.040207,-0.071916,-0.027983,-0.061049,-0.065069,0.001413,-0.067120,-0.094950,...,-0.064413,-0.075452,-0.061372,-0.169260,-0.114082,-0.100884,-0.060384,-0.090455,-0.071474,-0.141670
49,-0.076315,-0.072490,-0.062322,-0.055338,-0.020412,-0.022866,-0.075169,-0.015114,-0.065789,-0.034968,...,-0.000727,-0.117628,-0.076151,-0.082406,-0.092046,-0.004249,-0.054652,-0.099041,0.005948,-0.077727

In [43]:
overall_df.columns.tolist()

['Adidas',
 'Airbus',
 'Allianz',
 'BASF',
 'Bayer',
 'Beiersdorf',
 'BMW',
 'Brenntag',
 'Continental',
 'Covestro',
 'Daimler Truck',
 'Delivery Hero',
 'Deutsche BÃ¶rse',
 'Deutsche Bank',
 'Deutsche Post',
 'Deutsche Telekom',
 'E.ON',
 'Fresenius',
 'Fresenius Medical Care',
 'Hannover RÃ¼ck',
 'HeidelbergCement',
 'Hello Fresh',
 'Henkel',
 'Infineon',
 'Mercedes Benz',
 'Merck',
 'MTU Aero Engines',
 'MÃ¼nchner RÃ¼ck',
 'Porsche',
 'Puma',
 'QIAGEN',
 'RWE',
 'SAP',
 'Sartorius',
 'Siemens',
 'Siemens Healthineers',
 'Symrise',
 'Volkswagen',
 'Vonovia',
 'Zalando']

In [44]:
df_mean=pd.DataFrame(overall_df.mean(axis=0))
df_mean.sort_values(by=0)

                               0
Hello Fresh            -0.161905
Delivery Hero          -0.151963
Deutsche Bank          -0.142426
Continental            -0.119606
Mercedes Benz          -0.117993
Infineon               -0.117767
Allianz                -0.115609
Volkswagen             -0.113684
Zalando                -0.112515
BMW                    -0.105299
Siemens                -0.104980
HeidelbergCement       -0.101717
BASF                   -0.101334
E.ON                   -0.100107
RWE                    -0.090581
Covestro               -0.090091
Airbus                 -0.089161
Deutsche Post          -0.082701
Deutsche BÃ¶rse         -0.081391
MTU Aero Engines       -0.080723
Siemens Healthineers   -0.076549
Sartorius              -0.073915
Bayer                  -0.073871
Adidas                 -0.073150
SAP                    -0.072151
Puma                   -0.071143
Daimler Truck          -0.069257
Hannover RÃ¼ck          -0.068568
MÃ¼nchner RÃ¼ck          -0.063830
Merck                  -0.058268
Fresenius              -0.056109
Henkel                 -0.056051
Symrise                -0.054594
Deutsche Telekom       -0.054120
Brenntag               -0.052804
QIAGEN                 -0.051580
Vonovia                -0.046656
Beiersdorf             -0.043087
Fresenius Medical Care -0.037564
Porsche                -0.030733

In [48]:
overall_df["Deutsche Telekom"]

0    -0.047950
1    -0.078853
2    -0.154023
3    -0.085432
4    -0.000890
5    -0.084416
6    -0.085549
7    -0.271111
8     0.016949
9     0.081105
10   -0.069851
11   -0.055861
12   -0.005161
13   -0.045884
14   -0.015284
15   -0.071033
16   -0.033008
17   -0.073730
18   -0.044477
19   -0.048780
20   -0.033780
21   -0.039717
22   -0.023206
23   -0.056463
24   -0.057045
25   -0.028093
26   -0.038219
27   -0.050825
28   -0.076964
29   -0.094532
30   -0.038390
31   -0.062708
32   -0.045923
33   -0.057143
34   -0.091968
35   -0.062673
36   -0.057056
37    0.000692
38   -0.061213
39   -0.045783
40   -0.090299
41   -0.127493
42   -0.023047
43   -0.034705
44   -0.029514
45   -0.052287
46   -0.048079
47   -0.048731
48   -0.041643
49   -0.015973
Name: Deutsche Telekom, dtype: float64

In [50]:
name="Porsche"
shortener_name=df_translate[df_translate["name"]==name].shortener.values[0]
singledf=pd.read_csv("../historic_data/csv/"+shortener_name+".csv")
singledf

,Date,Low,Open,Volume,High,Close,Adjusted Close
0,30-09-2022,82.500000,82.900002,5079137,83.500000,82.500000,79.233162
1,03-10-2022,81.000000,82.500000,2403446,82.720001,81.800003,78.560883
2,04-10-2022,82.000000,82.699997,1599630,87.480003,87.480003,84.015961
3,05-10-2022,86.519997,87.099998,1321304,89.639999,87.919998,84.438538
4,06-10-2022,89.339996,89.699997,2217065,93.699997,90.720001,87.127663
...,...,...,...,...,...,...,...
468,31-07-2024,69.139999,70.000000,292196,70.000000,69.760002,69.760002
469,01-08-2024,68.379997,69.800003,531896,70.559998,68.860001,68.860001
470,02-08-2024,67.940002,68.940002,391601,69.019997,68.639999,68.639999
471,05-08-2024,65.519997,67.260002,820188,67.680000,67.680000,67.680000
472,06-08-2024,65.980003,68.080002,613510,68.400002,66.519997,66.519997