In [1]:
import pandas as pd
import json
import geopandas as gpd

# We read in the data calculated based on PLZ level that we go exclusively

In [2]:
data=pd.read_excel("../data/202404_MobilfunkMonitoring_Auswertung_PLZ2022.xlsx",sheet_name="Fläche")
first_level_column=data.columns.tolist()
second_level_column=data.iloc[0].tolist()
data.head()

,Mobilfunk-Monitoring (April 2024),Unnamed: 1,Alle MNO,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Telekom,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Telefónica,Unnamed: 17,Unnamed: 18,Unnamed: 19,1&1,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Posteitzahl,Gitterzellen,2G,4G,5G,5G SA,gF,wF,2G,4G,...,5G,5G SA,2G,4G,5G,5G SA,2G,4G,5G,5G SA
1,01067,681,1,1,1,1,0,0,1,1,...,1,1,1,1,1,1,NaN,0,0,0
2,01069,538,1,1,1,1,0,0,1,1,...,1,1,1,1,1,1,NaN,0,0,0
3,01097,325,1,1,1,1,0,0,1,1,...,1,1,1,1,1,1,NaN,0,0,0
4,01099,5852,1,0.994361,0.972488,0.970096,0.049043,0.005126,0.999487,0.884484,...,0.54648,0.361073,1,0.97676,0.539132,0.539132,NaN,0,0,0

# We create a new naming for the columns by combining different header levels

In [3]:
new_column_names=[]
for column_index in range(len(first_level_column)):
    first_word=first_level_column[column_index]
    second_word=second_level_column[column_index]

    if "Unnamed" in first_word:
        new_column_names.append(prefix+"_"+second_word)
    else:
        prefix=first_word
        new_column_names.append(first_word+"_"+second_word)
new_data=data
new_data.columns=new_column_names
new_data

,Mobilfunk-Monitoring (April 2024)_Posteitzahl,Mobilfunk-Monitoring (April 2024)_Gitterzellen,Alle MNO_2G,Alle MNO_4G,Alle MNO_5G,Alle MNO_5G SA,Alle MNO_gF,Alle MNO_wF,Telekom_2G,Telekom_4G,...,Vodafone_5G,Vodafone_5G SA,Telefónica_2G,Telefónica_4G,Telefónica_5G,Telefónica_5G SA,1&1_2G,1&1_4G,1&1_5G,1&1_5G SA
0,Posteitzahl,Gitterzellen,2G,4G,5G,5G SA,gF,wF,2G,4G,...,5G,5G SA,2G,4G,5G,5G SA,2G,4G,5G,5G SA
1,01067,681,1,1,1,1,0,0,1,1,...,1,1,1,1,1,1,NaN,0,0,0
2,01069,538,1,1,1,1,0,0,1,1,...,1,1,1,1,1,1,NaN,0,0,0
3,01097,325,1,1,1,1,0,0,1,1,...,1,1,1,1,1,1,NaN,0,0,0
4,01099,5852,1,0.994361,0.972488,0.970096,0.049043,0.005126,0.999487,0.884484,...,0.54648,0.361073,1,0.97676,0.539132,0.539132,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8161,99988,4031,1,0.958571,0.713471,0.600347,0.253287,0.040933,0.955346,0.797321,...,0.547755,0.329447,0.998263,0.887869,0.103696,0.103696,NaN,0,0,0
8162,99991,4100,1,1,1,1,0.002927,0,1,0.970976,...,0.935854,0.000976,1,0.995366,0.99,0.99,NaN,0,0,0
8163,99994,2852,1,1,0.996494,0.996494,0.020337,0,1,0.995442,...,0.76648,0,1,0.997546,0.808205,0.808205,NaN,0,0,0
8164,99996,4301,1,0.955127,0.983957,0.983957,0.141595,0.014415,0.999767,0.915136,...,0.5608,0,1,0.902348,0.945594,0.945594,NaN,0,0,0
8165,99998,7485,0.999733,0.97996,0.979158,0.977822,0.052104,0.015631,0.99853,0.923447,...,0.812826,0.071877,0.995458,0.930795,0.92505,0.92505,NaN,0,0,0

In [4]:
plz_daten=new_data[new_data["Mobilfunk-Monitoring (April 2024)_Posteitzahl"]!="Posteitzahl"]
plz_daten

,Mobilfunk-Monitoring (April 2024)_Posteitzahl,Mobilfunk-Monitoring (April 2024)_Gitterzellen,Alle MNO_2G,Alle MNO_4G,Alle MNO_5G,Alle MNO_5G SA,Alle MNO_gF,Alle MNO_wF,Telekom_2G,Telekom_4G,...,Vodafone_5G,Vodafone_5G SA,Telefónica_2G,Telefónica_4G,Telefónica_5G,Telefónica_5G SA,1&1_2G,1&1_4G,1&1_5G,1&1_5G SA
1,01067,681,1,1,1,1,0,0,1,1,...,1,1,1,1,1,1,NaN,0,0,0
2,01069,538,1,1,1,1,0,0,1,1,...,1,1,1,1,1,1,NaN,0,0,0
3,01097,325,1,1,1,1,0,0,1,1,...,1,1,1,1,1,1,NaN,0,0,0
4,01099,5852,1,0.994361,0.972488,0.970096,0.049043,0.005126,0.999487,0.884484,...,0.54648,0.361073,1,0.97676,0.539132,0.539132,NaN,0,0,0
5,01108,1645,1,1,1,1,0,0,1,0.999392,...,0.989666,0.712462,1,1,0.940426,0.940426,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8161,99988,4031,1,0.958571,0.713471,0.600347,0.253287,0.040933,0.955346,0.797321,...,0.547755,0.329447,0.998263,0.887869,0.103696,0.103696,NaN,0,0,0
8162,99991,4100,1,1,1,1,0.002927,0,1,0.970976,...,0.935854,0.000976,1,0.995366,0.99,0.99,NaN,0,0,0
8163,99994,2852,1,1,0.996494,0.996494,0.020337,0,1,0.995442,...,0.76648,0,1,0.997546,0.808205,0.808205,NaN,0,0,0
8164,99996,4301,1,0.955127,0.983957,0.983957,0.141595,0.014415,0.999767,0.915136,...,0.5608,0,1,0.902348,0.945594,0.945594,NaN,0,0,0
8165,99998,7485,0.999733,0.97996,0.979158,0.977822,0.052104,0.015631,0.99853,0.923447,...,0.812826,0.071877,0.995458,0.930795,0.92505,0.92505,NaN,0,0,0

In [5]:
plz_daten.columns

Index(['Mobilfunk-Monitoring (April 2024)_Posteitzahl',
       'Mobilfunk-Monitoring (April 2024)_Gitterzellen', 'Alle MNO_2G',
       'Alle MNO_4G', 'Alle MNO_5G', 'Alle MNO_5G SA', 'Alle MNO_gF',
       'Alle MNO_wF', 'Telekom_2G', 'Telekom_4G', 'Telekom_5G',
       'Telekom_5G SA', 'Vodafone_2G', 'Vodafone_4G', 'Vodafone_5G',
       'Vodafone_5G SA', 'Telefónica_2G', 'Telefónica_4G', 'Telefónica_5G',
       'Telefónica_5G SA', '1&1_2G', '1&1_4G', '1&1_5G', '1&1_5G SA'],
      dtype='object')

# We reduce this to only the data for the 5G network

In [6]:
plz_daten_reduced=plz_daten[plz_daten.columns[[0,1,4,10,14,18,22]]]
plz_daten_reduced

,Mobilfunk-Monitoring (April 2024)_Posteitzahl,Mobilfunk-Monitoring (April 2024)_Gitterzellen,Alle MNO_5G,Telekom_5G,Vodafone_5G,Telefónica_5G,1&1_5G
1,01067,681,1,1,1,1,0
2,01069,538,1,1,1,1,0
3,01097,325,1,1,1,1,0
4,01099,5852,0.972488,0.953349,0.54648,0.539132,0
5,01108,1645,1,1,0.989666,0.940426,0
...,...,...,...,...,...,...,...
8161,99988,4031,0.713471,0.354751,0.547755,0.103696,0
8162,99991,4100,1,0.999756,0.935854,0.99,0
8163,99994,2852,0.996494,0.994039,0.76648,0.808205,0
8164,99996,4301,0.983957,0.759823,0.5608,0.945594,0
8165,99998,7485,0.979158,0.958985,0.812826,0.92505,0

In [7]:
plz_daten_reduced.columns=["PLZ","Gitter","Alle","Telekom","Vodafone","o2","1&1"]
plz_daten_reduced

        PLZ Gitter      Alle   Telekom  Vodafone        o2 1&1
1     01067    681         1         1         1         1   0
2     01069    538         1         1         1         1   0
3     01097    325         1         1         1         1   0
4     01099   5852  0.972488  0.953349   0.54648  0.539132   0
5     01108   1645         1         1  0.989666  0.940426   0
...     ...    ...       ...       ...       ...       ...  ..
8161  99988   4031  0.713471  0.354751  0.547755  0.103696   0
8162  99991   4100         1  0.999756  0.935854      0.99   0
8163  99994   2852  0.996494  0.994039   0.76648  0.808205   0
8164  99996   4301  0.983957  0.759823    0.5608  0.945594   0
8165  99998   7485  0.979158  0.958985  0.812826   0.92505   0

[8165 rows x 7 columns]

In [8]:
plz_daten_reduced=plz_daten_reduced.drop_duplicates(subset=["PLZ"],keep="last")
plz_daten_reduced

        PLZ Gitter      Alle   Telekom  Vodafone        o2 1&1
1     01067    681         1         1         1         1   0
2     01069    538         1         1         1         1   0
3     01097    325         1         1         1         1   0
4     01099   5852  0.972488  0.953349   0.54648  0.539132   0
5     01108   1645         1         1  0.989666  0.940426   0
...     ...    ...       ...       ...       ...       ...  ..
8161  99988   4031  0.713471  0.354751  0.547755  0.103696   0
8162  99991   4100         1  0.999756  0.935854      0.99   0
8163  99994   2852  0.996494  0.994039   0.76648  0.808205   0
8164  99996   4301  0.983957  0.759823    0.5608  0.945594   0
8165  99998   7485  0.979158  0.958985  0.812826   0.92505   0

[8165 rows x 7 columns]

In [9]:
plz_daten_reduced["PLZ"]=plz_daten_reduced["PLZ"].astype(str)

In [10]:
plz_daten_reduced.set_index('PLZ').to_json('plz_file.json',orient="index")

# We read in the geojson for the PLZ numbers

In [11]:
geojson=gpd.read_file("../data/postleitzahlen_2022.geojson")
geojson

,name,plz_name,plz_name_long,plz_code,krs_code,lan_name,lan_code,krs_name,geo_point_2d,geometry
0,47551,Bedburg-Hau,47551 Bedburg-Hau,47551,05154,Nordrhein-Westfalen,05,Kreis Kleve,"{ ""lon"": 6.2069586150499996, ""lat"": 51.7581345...","POLYGON ((6.11566 51.74192, 6.12163 51.7508, 6..."
1,52477,Alsdorf,52477 Alsdorf,52477,05334,Nordrhein-Westfalen,05,Kreis Städteregion Aachen,"{ ""lon"": 6.1755081882800003, ""lat"": 50.86861665 }","POLYGON ((6.12181 50.85948, 6.12548 50.86188, ..."
2,52159,Roetgen,52159 Roetgen,52159,05334,Nordrhein-Westfalen,05,Kreis Städteregion Aachen,"{ ""lon"": 6.1833750331699999, ""lat"": 50.6583845...","POLYGON ((6.16611 50.66185, 6.1677 50.66205, 6..."
3,52156,Monschau,52156 Monschau,52156,05334,Nordrhein-Westfalen,05,Kreis Städteregion Aachen,"{ ""lon"": 6.2086329936600002, ""lat"": 50.5630704...","POLYGON ((6.17408 50.55639, 6.17429 50.55709, ..."
4,52152,Simmerath,52152 Simmerath,52152,05334,Nordrhein-Westfalen,05,Kreis Städteregion Aachen,"{ ""lon"": 6.2612205631700002, ""lat"": 50.6340050...","POLYGON ((6.24997 50.63637, 6.25227 50.63885, ..."
...,...,...,...,...,...,...,...,...,...,...
8929,42859,Remscheid,42859 Remscheid,42859,05120,Nordrhein-Westfalen,05,Kreisfreie Stadt Remscheid,"{ ""lon"": 7.20597110837, ""lat"": 51.165230707600...","POLYGON ((7.16326 51.15535, 7.16438 51.15766, ..."
8930,51491,Overath,51491 Overath,51491,05378,Nordrhein-Westfalen,05,Kreis Rheinisch-Bergischer Kreis,"{ ""lon"": 7.2949163200199996, ""lat"": 50.9449586...","POLYGON ((7.19386 50.9431, 7.19395 50.94357, 7..."
8931,44623,Herne,44623 Herne,44623,05916,Nordrhein-Westfalen,05,Kreisfreie Stadt Herne,"{ ""lon"": 7.2158878061799996, ""lat"": 51.5466351...","POLYGON ((7.21336 51.54831, 7.21461 51.54896, ..."
8932,44627,Herne,44627 Herne,44627,05916,Nordrhein-Westfalen,05,Kreisfreie Stadt Herne,"{ ""lon"": 7.2685268396199998, ""lat"": 51.5375305...","POLYGON ((7.23785 51.53256, 7.24161 51.53496, ..."
8933,55483,Dickenschied u.a.,55483 Dickenschied u.a.,55483,07140,Rheinland-Pfalz,07,Landkreis Rhein-Hunsrück-Kreis,"{ ""lon"": 7.27763785395, ""lat"": 49.9426560681 }","POLYGON ((7.23841 49.92121, 7.24144 49.92469, ..."

In [12]:
geojson["plz_code"]=geojson["plz_code"].astype(str)

In [13]:
geojson.drop_duplicates()

,name,plz_name,plz_name_long,plz_code,krs_code,lan_name,lan_code,krs_name,geo_point_2d,geometry
0,47551,Bedburg-Hau,47551 Bedburg-Hau,47551,05154,Nordrhein-Westfalen,05,Kreis Kleve,"{ ""lon"": 6.2069586150499996, ""lat"": 51.7581345...","POLYGON ((6.11566 51.74192, 6.12163 51.7508, 6..."
1,52477,Alsdorf,52477 Alsdorf,52477,05334,Nordrhein-Westfalen,05,Kreis Städteregion Aachen,"{ ""lon"": 6.1755081882800003, ""lat"": 50.86861665 }","POLYGON ((6.12181 50.85948, 6.12548 50.86188, ..."
2,52159,Roetgen,52159 Roetgen,52159,05334,Nordrhein-Westfalen,05,Kreis Städteregion Aachen,"{ ""lon"": 6.1833750331699999, ""lat"": 50.6583845...","POLYGON ((6.16611 50.66185, 6.1677 50.66205, 6..."
3,52156,Monschau,52156 Monschau,52156,05334,Nordrhein-Westfalen,05,Kreis Städteregion Aachen,"{ ""lon"": 6.2086329936600002, ""lat"": 50.5630704...","POLYGON ((6.17408 50.55639, 6.17429 50.55709, ..."
4,52152,Simmerath,52152 Simmerath,52152,05334,Nordrhein-Westfalen,05,Kreis Städteregion Aachen,"{ ""lon"": 6.2612205631700002, ""lat"": 50.6340050...","POLYGON ((6.24997 50.63637, 6.25227 50.63885, ..."
...,...,...,...,...,...,...,...,...,...,...
8929,42859,Remscheid,42859 Remscheid,42859,05120,Nordrhein-Westfalen,05,Kreisfreie Stadt Remscheid,"{ ""lon"": 7.20597110837, ""lat"": 51.165230707600...","POLYGON ((7.16326 51.15535, 7.16438 51.15766, ..."
8930,51491,Overath,51491 Overath,51491,05378,Nordrhein-Westfalen,05,Kreis Rheinisch-Bergischer Kreis,"{ ""lon"": 7.2949163200199996, ""lat"": 50.9449586...","POLYGON ((7.19386 50.9431, 7.19395 50.94357, 7..."
8931,44623,Herne,44623 Herne,44623,05916,Nordrhein-Westfalen,05,Kreisfreie Stadt Herne,"{ ""lon"": 7.2158878061799996, ""lat"": 51.5466351...","POLYGON ((7.21336 51.54831, 7.21461 51.54896, ..."
8932,44627,Herne,44627 Herne,44627,05916,Nordrhein-Westfalen,05,Kreisfreie Stadt Herne,"{ ""lon"": 7.2685268396199998, ""lat"": 51.5375305...","POLYGON ((7.23785 51.53256, 7.24161 51.53496, ..."
8933,55483,Dickenschied u.a.,55483 Dickenschied u.a.,55483,07140,Rheinland-Pfalz,07,Landkreis Rhein-Hunsrück-Kreis,"{ ""lon"": 7.27763785395, ""lat"": 49.9426560681 }","POLYGON ((7.23841 49.92121, 7.24144 49.92469, ..."

# And we merge the geojson with the 5g data, checking for the nonmatches

In [14]:
outer_merge=pd.merge(plz_daten_reduced,geojson,left_on="PLZ", right_on="plz_code",how="outer",indicator=True)
non_matches=outer_merge[outer_merge["_merge"]!="both"]
non_matches

,PLZ,Gitter,Alle,Telekom,Vodafone,o2,1&1,name,plz_name,plz_name_long,plz_code,krs_code,lan_name,lan_code,krs_name,geo_point_2d,geometry,_merge
4697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60306,"Frankfurt am Main, Opernturm","60306 Frankfurt am Main, Opernturm",60306,06412,Hessen,06,Kreisfreie Stadt Frankfurt am Main,"{ ""lon"": 8.6701769480300008, ""lat"": 50.1160667...","POLYGON ((8.66955 50.11584, 8.6699 50.11655, 8...",right_only
4698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60308,Frankfurt,60308 Frankfurt,60308,06412,Hessen,06,Kreisfreie Stadt Frankfurt am Main,"{ ""lon"": 8.6527163052600002, ""lat"": 50.1122960...","POLYGON ((8.65209 50.11219, 8.65261 50.11272, ...",right_only
4699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60310,Frankfurt am Main (Taunusturm),60310 Frankfurt am Main (Taunusturm),60310,06412,Hessen,06,Kreisfreie Stadt Frankfurt am Main,"{ ""lon"": 8.6728232525899998, ""lat"": 50.1106153...","POLYGON ((8.67201 50.11076, 8.67304 50.11112, ...",right_only

In [15]:
non_matches_no_data=non_matches.sort_values(by="_merge")
non_matches_no_data

,PLZ,Gitter,Alle,Telekom,Vodafone,o2,1&1,name,plz_name,plz_name_long,plz_code,krs_code,lan_name,lan_code,krs_name,geo_point_2d,geometry,_merge
4697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60306,"Frankfurt am Main, Opernturm","60306 Frankfurt am Main, Opernturm",60306,06412,Hessen,06,Kreisfreie Stadt Frankfurt am Main,"{ ""lon"": 8.6701769480300008, ""lat"": 50.1160667...","POLYGON ((8.66955 50.11584, 8.6699 50.11655, 8...",right_only
4698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60308,Frankfurt,60308 Frankfurt,60308,06412,Hessen,06,Kreisfreie Stadt Frankfurt am Main,"{ ""lon"": 8.6527163052600002, ""lat"": 50.1122960...","POLYGON ((8.65209 50.11219, 8.65261 50.11272, ...",right_only
4699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60310,Frankfurt am Main (Taunusturm),60310 Frankfurt am Main (Taunusturm),60310,06412,Hessen,06,Kreisfreie Stadt Frankfurt am Main,"{ ""lon"": 8.6728232525899998, ""lat"": 50.1106153...","POLYGON ((8.67201 50.11076, 8.67304 50.11112, ...",right_only

In [16]:
non_matches_no_data=non_matches_no_data[["PLZ","plz_name","plz_code","krs_code","_merge"]]

In [17]:
non_matches_no_data["_merge"]=non_matches_no_data["_merge"].replace("left_only","keinen Eintrag bei GovData").replace("right_only","keine Daten von BNetzA")
non_matches_no_data

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_47649/2978630863.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  non_matches_no_data["_merge"]=non_matches_no_data["_merge"].replace("left_only","keinen Eintrag bei GovData").replace("right_only","keine Daten von BNetzA")
/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_47649/2978630863.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_matches_no_data["_merge"]=non_matches_no_data["_merge"].replace("left_only","keinen Eintrag bei GovData").replace("right_only","keine Daten von BNetzA")

,PLZ,plz_name,plz_code,krs_code,_merge
4697,NaN,"Frankfurt am Main, Opernturm",60306,06412,keine Daten von BNetzA
4698,NaN,Frankfurt,60308,06412,keine Daten von BNetzA
4699,NaN,Frankfurt am Main (Taunusturm),60310,06412,keine Daten von BNetzA

These are no problems as we have checked that these are very small PLZ spaces in Frankfurt, where there is one number attached to one building but basically not enough area to have specific data

In [18]:
non_matches_no_data.to_csv("non_matches.csv",index=False)

# now we take the matching data

In [19]:
matched_data=outer_merge[outer_merge["_merge"]=="both"]
matched_data

,PLZ,Gitter,Alle,Telekom,Vodafone,o2,1&1,name,plz_name,plz_name_long,plz_code,krs_code,lan_name,lan_code,krs_name,geo_point_2d,geometry,_merge
0,01067,681,1,1,1,1,0,01067,Dresden,01067 Dresden,01067,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.717802217399999, ""lat"": 51.0602567...","POLYGON ((13.68689 51.06395, 13.68959 51.06421...",both
1,01069,538,1,1,1,1,0,01069,Dresden,01069 Dresden,01069,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.7281700576, ""lat"": 51.020851037200...","POLYGON ((13.72635 51.02186, 13.73031 51.0217,...",both
2,01069,538,1,1,1,1,0,01069,Dresden,01069 Dresden,01069,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.7368379072, ""lat"": 51.039908483600...","POLYGON ((13.71095 51.04013, 13.71267 51.04165...",both
3,01097,325,1,1,1,1,0,01097,Dresden,01097 Dresden,01097,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.7412926873, ""lat"": 51.066815602699...","POLYGON ((13.72548 51.0686, 13.72629 51.069, 1...",both
4,01099,5852,0.972488,0.953349,0.54648,0.539132,0,01099,Dresden,01099 Dresden,01099,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.827657695099999, ""lat"": 51.0917768...","POLYGON ((13.74193 51.08969, 13.74218 51.08979...",both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8929,99988,4031,0.713471,0.354751,0.547755,0.103696,0,99988,Südeichsfeld,99988 Südeichsfeld,99988,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.269240740900001, ""lat"": 51.1709653...","POLYGON ((10.20032 51.14986, 10.20051 51.15034...",both
8930,99991,4100,1,0.999756,0.935854,0.99,0,99991,"Großengottern, Heroldishausen","99991 Großengottern, Heroldishausen",99991,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.5689882228, ""lat"": 51.156640402500...","POLYGON ((10.4925 51.13803, 10.49673 51.1404, ...",both
8931,99994,2852,0.996494,0.994039,0.76648,0.808205,0,99994,Schlotheim,99994 Schlotheim,99994,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.663583668499999, ""lat"": 51.2437157...","POLYGON ((10.62208 51.21974, 10.6221 51.22172,...",both
8932,99996,4301,0.983957,0.759823,0.5608,0.945594,0,99996,"Menteroda, Obermehler","99996 Menteroda, Obermehler",99996,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.5903912983, ""lat"": 51.288958472300...","POLYGON ((10.49527 51.30322, 10.49903 51.30797...",both
8933,99998,7485,0.979158,0.958985,0.812826,0.92505,0,99998,"Körner, Weinbergen","99998 Körner, Weinbergen",99998,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.552869166700001, ""lat"": 51.2128899...","POLYGON ((10.4619 51.18053, 10.47226 51.18409,...",both

In [20]:
matched_data["Winner"]=None
matched_data["Winner"]=matched_data[["Telekom","Vodafone","o2"]].idxmax(axis=1)
matched_data

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_47649/3844819234.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matched_data["Winner"]=None
/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_47649/3844819234.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matched_data["Winner"]=matched_data[["Telekom","Vodafone","o2"]].idxmax(axis=1)

,PLZ,Gitter,Alle,Telekom,Vodafone,o2,1&1,name,plz_name,plz_name_long,plz_code,krs_code,lan_name,lan_code,krs_name,geo_point_2d,geometry,_merge,Winner
0,01067,681,1,1,1,1,0,01067,Dresden,01067 Dresden,01067,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.717802217399999, ""lat"": 51.0602567...","POLYGON ((13.68689 51.06395, 13.68959 51.06421...",both,Telekom
1,01069,538,1,1,1,1,0,01069,Dresden,01069 Dresden,01069,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.7281700576, ""lat"": 51.020851037200...","POLYGON ((13.72635 51.02186, 13.73031 51.0217,...",both,Telekom
2,01069,538,1,1,1,1,0,01069,Dresden,01069 Dresden,01069,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.7368379072, ""lat"": 51.039908483600...","POLYGON ((13.71095 51.04013, 13.71267 51.04165...",both,Telekom
3,01097,325,1,1,1,1,0,01097,Dresden,01097 Dresden,01097,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.7412926873, ""lat"": 51.066815602699...","POLYGON ((13.72548 51.0686, 13.72629 51.069, 1...",both,Telekom
4,01099,5852,0.972488,0.953349,0.54648,0.539132,0,01099,Dresden,01099 Dresden,01099,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.827657695099999, ""lat"": 51.0917768...","POLYGON ((13.74193 51.08969, 13.74218 51.08979...",both,Telekom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8929,99988,4031,0.713471,0.354751,0.547755,0.103696,0,99988,Südeichsfeld,99988 Südeichsfeld,99988,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.269240740900001, ""lat"": 51.1709653...","POLYGON ((10.20032 51.14986, 10.20051 51.15034...",both,Vodafone
8930,99991,4100,1,0.999756,0.935854,0.99,0,99991,"Großengottern, Heroldishausen","99991 Großengottern, Heroldishausen",99991,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.5689882228, ""lat"": 51.156640402500...","POLYGON ((10.4925 51.13803, 10.49673 51.1404, ...",both,Telekom
8931,99994,2852,0.996494,0.994039,0.76648,0.808205,0,99994,Schlotheim,99994 Schlotheim,99994,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.663583668499999, ""lat"": 51.2437157...","POLYGON ((10.62208 51.21974, 10.6221 51.22172,...",both,Telekom
8932,99996,4301,0.983957,0.759823,0.5608,0.945594,0,99996,"Menteroda, Obermehler","99996 Menteroda, Obermehler",99996,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.5903912983, ""lat"": 51.288958472300...","POLYGON ((10.49527 51.30322, 10.49903 51.30797...",both,o2
8933,99998,7485,0.979158,0.958985,0.812826,0.92505,0,99998,"Körner, Weinbergen","99998 Körner, Weinbergen",99998,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.552869166700001, ""lat"": 51.2128899...","POLYGON ((10.4619 51.18053, 10.47226 51.18409,...",both,Telekom

# and calculate for each plz region which provider performs the best and offer which level of 5g coverage

In [21]:
# look for the max values in each row
mxs = matched_data[["Telekom","Vodafone","o2"]].eq(matched_data[["Telekom","Vodafone","o2"]].max(axis=1), axis=0)
# join the column names of the max values of each row into a single string
matched_data['Max_Anbieter'] = mxs.dot(mxs.columns + ', ').str.rstrip(', ')
matched_data

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_47649/668456621.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matched_data['Max_Anbieter'] = mxs.dot(mxs.columns + ', ').str.rstrip(', ')

,PLZ,Gitter,Alle,Telekom,Vodafone,o2,1&1,name,plz_name,plz_name_long,plz_code,krs_code,lan_name,lan_code,krs_name,geo_point_2d,geometry,_merge,Winner,Max_Anbieter
0,01067,681,1,1,1,1,0,01067,Dresden,01067 Dresden,01067,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.717802217399999, ""lat"": 51.0602567...","POLYGON ((13.68689 51.06395, 13.68959 51.06421...",both,Telekom,"Telekom, Vodafone, o2"
1,01069,538,1,1,1,1,0,01069,Dresden,01069 Dresden,01069,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.7281700576, ""lat"": 51.020851037200...","POLYGON ((13.72635 51.02186, 13.73031 51.0217,...",both,Telekom,"Telekom, Vodafone, o2"
2,01069,538,1,1,1,1,0,01069,Dresden,01069 Dresden,01069,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.7368379072, ""lat"": 51.039908483600...","POLYGON ((13.71095 51.04013, 13.71267 51.04165...",both,Telekom,"Telekom, Vodafone, o2"
3,01097,325,1,1,1,1,0,01097,Dresden,01097 Dresden,01097,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.7412926873, ""lat"": 51.066815602699...","POLYGON ((13.72548 51.0686, 13.72629 51.069, 1...",both,Telekom,"Telekom, Vodafone, o2"
4,01099,5852,0.972488,0.953349,0.54648,0.539132,0,01099,Dresden,01099 Dresden,01099,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.827657695099999, ""lat"": 51.0917768...","POLYGON ((13.74193 51.08969, 13.74218 51.08979...",both,Telekom,Telekom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8929,99988,4031,0.713471,0.354751,0.547755,0.103696,0,99988,Südeichsfeld,99988 Südeichsfeld,99988,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.269240740900001, ""lat"": 51.1709653...","POLYGON ((10.20032 51.14986, 10.20051 51.15034...",both,Vodafone,Vodafone
8930,99991,4100,1,0.999756,0.935854,0.99,0,99991,"Großengottern, Heroldishausen","99991 Großengottern, Heroldishausen",99991,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.5689882228, ""lat"": 51.156640402500...","POLYGON ((10.4925 51.13803, 10.49673 51.1404, ...",both,Telekom,Telekom
8931,99994,2852,0.996494,0.994039,0.76648,0.808205,0,99994,Schlotheim,99994 Schlotheim,99994,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.663583668499999, ""lat"": 51.2437157...","POLYGON ((10.62208 51.21974, 10.6221 51.22172,...",both,Telekom,Telekom
8932,99996,4301,0.983957,0.759823,0.5608,0.945594,0,99996,"Menteroda, Obermehler","99996 Menteroda, Obermehler",99996,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.5903912983, ""lat"": 51.288958472300...","POLYGON ((10.49527 51.30322, 10.49903 51.30797...",both,o2,o2
8933,99998,7485,0.979158,0.958985,0.812826,0.92505,0,99998,"Körner, Weinbergen","99998 Körner, Weinbergen",99998,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.552869166700001, ""lat"": 51.2128899...","POLYGON ((10.4619 51.18053, 10.47226 51.18409,...",both,Telekom,Telekom

In [22]:
matched_data["Max"]=matched_data[["Telekom","Vodafone","o2"]].max(axis=1)
matched_data

/var/folders/55/79cxhkf56b38c317w6g5zkr0mmx5lp/T/ipykernel_47649/1311946694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matched_data["Max"]=matched_data[["Telekom","Vodafone","o2"]].max(axis=1)

,PLZ,Gitter,Alle,Telekom,Vodafone,o2,1&1,name,plz_name,plz_name_long,...,krs_code,lan_name,lan_code,krs_name,geo_point_2d,geometry,_merge,Winner,Max_Anbieter,Max
0,01067,681,1,1,1,1,0,01067,Dresden,01067 Dresden,...,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.717802217399999, ""lat"": 51.0602567...","POLYGON ((13.68689 51.06395, 13.68959 51.06421...",both,Telekom,"Telekom, Vodafone, o2",1
1,01069,538,1,1,1,1,0,01069,Dresden,01069 Dresden,...,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.7281700576, ""lat"": 51.020851037200...","POLYGON ((13.72635 51.02186, 13.73031 51.0217,...",both,Telekom,"Telekom, Vodafone, o2",1
2,01069,538,1,1,1,1,0,01069,Dresden,01069 Dresden,...,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.7368379072, ""lat"": 51.039908483600...","POLYGON ((13.71095 51.04013, 13.71267 51.04165...",both,Telekom,"Telekom, Vodafone, o2",1
3,01097,325,1,1,1,1,0,01097,Dresden,01097 Dresden,...,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.7412926873, ""lat"": 51.066815602699...","POLYGON ((13.72548 51.0686, 13.72629 51.069, 1...",both,Telekom,"Telekom, Vodafone, o2",1
4,01099,5852,0.972488,0.953349,0.54648,0.539132,0,01099,Dresden,01099 Dresden,...,14612,Sachsen,14,Kreisfreie Stadt Dresden,"{ ""lon"": 13.827657695099999, ""lat"": 51.0917768...","POLYGON ((13.74193 51.08969, 13.74218 51.08979...",both,Telekom,Telekom,0.953349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8929,99988,4031,0.713471,0.354751,0.547755,0.103696,0,99988,Südeichsfeld,99988 Südeichsfeld,...,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.269240740900001, ""lat"": 51.1709653...","POLYGON ((10.20032 51.14986, 10.20051 51.15034...",both,Vodafone,Vodafone,0.547755
8930,99991,4100,1,0.999756,0.935854,0.99,0,99991,"Großengottern, Heroldishausen","99991 Großengottern, Heroldishausen",...,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.5689882228, ""lat"": 51.156640402500...","POLYGON ((10.4925 51.13803, 10.49673 51.1404, ...",both,Telekom,Telekom,0.999756
8931,99994,2852,0.996494,0.994039,0.76648,0.808205,0,99994,Schlotheim,99994 Schlotheim,...,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.663583668499999, ""lat"": 51.2437157...","POLYGON ((10.62208 51.21974, 10.6221 51.22172,...",both,Telekom,Telekom,0.994039
8932,99996,4301,0.983957,0.759823,0.5608,0.945594,0,99996,"Menteroda, Obermehler","99996 Menteroda, Obermehler",...,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.5903912983, ""lat"": 51.288958472300...","POLYGON ((10.49527 51.30322, 10.49903 51.30797...",both,o2,o2,0.945594
8933,99998,7485,0.979158,0.958985,0.812826,0.92505,0,99998,"Körner, Weinbergen","99998 Körner, Weinbergen",...,16064,Thüringen,16,Landkreis Unstrut-Hainich-Kreis,"{ ""lon"": 10.552869166700001, ""lat"": 51.2128899...","POLYGON ((10.4619 51.18053, 10.47226 51.18409,...",both,Telekom,Telekom,0.958985

# we also check which number of plz codes has a coverage of more than 90 percent

In [23]:
len(matched_data[matched_data["Max"]>0.9])/len(matched_data)

0.631396260217221

# and we write down which number of plz absolute and which share of plz per federal state has this 90% coverage

In [24]:
telekom_lan=matched_data[matched_data["Telekom"]>0.9][["Telekom","lan_name"]].groupby("lan_name").count().reset_index()

In [25]:
o2_lan=matched_data[matched_data["o2"]>0.9][["o2","lan_name"]].groupby("lan_name").count().reset_index()

In [26]:
vodafone_lan=matched_data[matched_data["Vodafone"]>0.9][["Vodafone","lan_name"]].groupby("lan_name").count().reset_index()

In [27]:
one=pd.merge(telekom_lan,o2_lan,on="lan_name")
two=pd.merge(one,vodafone_lan,on="lan_name")
two

                  lan_name  Telekom   o2  Vodafone
0        Baden-Württemberg      402  359       254
1                   Bayern      970  854       600
2                   Berlin      195  194       187
3              Brandenburg      120   69        56
4                   Bremen       44   37        41
5                  Hamburg      106  103       100
6                   Hessen      263  104       143
7   Mecklenburg-Vorpommern      119   53        43
8            Niedersachsen      535  287       336
9      Nordrhein-Westfalen      753  519       494
10         Rheinland-Pfalz      353  103       138
11                Saarland       39    9         3
12                 Sachsen      248  222       149
13          Sachsen-Anhalt      140  103        86
14      Schleswig-Holstein      416  201       279
15               Thüringen      103   68        42

In [28]:
all_data=matched_data[["lan_name","name"]].groupby("lan_name").count().reset_index()
all_data

                  lan_name  name
0        Baden-Württemberg  1285
1                   Bayern  2123
2                   Berlin   198
3              Brandenburg   238
4                   Bremen    44
5                  Hamburg   109
6                   Hessen   554
7   Mecklenburg-Vorpommern   249
8            Niedersachsen   835
9      Nordrhein-Westfalen   905
10         Rheinland-Pfalz   916
11                Saarland    69
12                 Sachsen   402
13          Sachsen-Anhalt   239
14      Schleswig-Holstein   509
15               Thüringen   256

In [29]:
three=pd.merge(two,all_data,on="lan_name")
three[["Telekom","o2","Vodafone"]]

    Telekom   o2  Vodafone
0       402  359       254
1       970  854       600
2       195  194       187
3       120   69        56
4        44   37        41
5       106  103       100
6       263  104       143
7       119   53        43
8       535  287       336
9       753  519       494
10      353  103       138
11       39    9         3
12      248  222       149
13      140  103        86
14      416  201       279
15      103   68        42

In [30]:
shared_covered=three[["Telekom","o2","Vodafone"]].div(three["name"],axis=0).max(axis=1)
shared_covered

0     0.312840
1     0.456901
2     0.984848
3     0.504202
4     1.000000
5     0.972477
6     0.474729
7     0.477912
8     0.640719
9     0.832044
10    0.385371
11    0.565217
12    0.616915
13    0.585774
14    0.817289
15    0.402344
dtype: float64

In [31]:
pd.concat([all_data,shared_covered],axis=1)

                  lan_name  name         0
0        Baden-Württemberg  1285  0.312840
1                   Bayern  2123  0.456901
2                   Berlin   198  0.984848
3              Brandenburg   238  0.504202
4                   Bremen    44  1.000000
5                  Hamburg   109  0.972477
6                   Hessen   554  0.474729
7   Mecklenburg-Vorpommern   249  0.477912
8            Niedersachsen   835  0.640719
9      Nordrhein-Westfalen   905  0.832044
10         Rheinland-Pfalz   916  0.385371
11                Saarland    69  0.565217
12                 Sachsen   402  0.616915
13          Sachsen-Anhalt   239  0.585774
14      Schleswig-Holstein   509  0.817289
15               Thüringen   256  0.402344

In [32]:
matched_data.columns

Index(['PLZ', 'Gitter', 'Alle', 'Telekom', 'Vodafone', 'o2', '1&1', 'name',
       'plz_name', 'plz_name_long', 'plz_code', 'krs_code', 'lan_name',
       'lan_code', 'krs_name', 'geo_point_2d', 'geometry', '_merge', 'Winner',
       'Max_Anbieter', 'Max'],
      dtype='object')

In [33]:
matched_data_red=matched_data[["PLZ","plz_name","o2","Vodafone","Telekom"]]
matched_data_red=matched_data_red.drop_duplicates()
matched_data_red.index=matched_data_red["PLZ"]

#matched_data_red=matched_data_red.drop(["PLZ"],axis=1)
matched_data_red

         PLZ                       plz_name        o2  Vodafone   Telekom
PLZ
01067  01067                        Dresden         1         1         1
01069  01069                        Dresden         1         1         1
01097  01097                        Dresden         1         1         1
01099  01099                        Dresden  0.539132   0.54648  0.953349
01108  01108                        Dresden  0.940426  0.989666         1
...      ...                            ...       ...       ...       ...
99988  99988                   Südeichsfeld  0.103696  0.547755  0.354751
99991  99991  Großengottern, Heroldishausen      0.99  0.935854  0.999756
99994  99994                     Schlotheim  0.808205   0.76648  0.994039
99996  99996          Menteroda, Obermehler  0.945594    0.5608  0.759823
99998  99998             Körner, Weinbergen   0.92505  0.812826  0.958985

[8165 rows x 5 columns]

# now we need a last piece of code to turn this into a usable json structure for our interactive

In [34]:
def set_for_keys(my_dict, key_arr, val):
    """
    Set value at the path in my_dict defined by the string (or serializable object) array key_arr
    """
    current = my_dict
    for i in range(len(key_arr)):
        key = key_arr[i]
        if key not in current:
            current[key] = val if i==len(key_arr)-1 else {}
        else:
            if type(current[key]) is not dict:
                print("Given dictionary is not compatible with key structure requested")
                raise ValueError("Dictionary key already occupied")

        current = current[key]

    return my_dict

def to_formatted_json(df, sep="."):
    result = []
    for _, row in df.iterrows():
        parsed_row = {}
        for idx, val in row.items():
            keys = idx.split(sep)
            parsed_row = set_for_keys(parsed_row, keys, val)

        result.append(parsed_row)
    return result

In [35]:
matched_data_red.columns = ['id',"name", 'data.o2', 'data.Vodafone', 'data.Telekom']
philips_json=to_formatted_json(matched_data_red, sep=".")
philips_json[:5]

[{'id': '01067',
  'name': 'Dresden',
  'data': {'o2': 1, 'Vodafone': 1, 'Telekom': 1}},
 {'id': '01069',
  'name': 'Dresden',
  'data': {'o2': 1, 'Vodafone': 1, 'Telekom': 1}},
 {'id': '01097',
  'name': 'Dresden',
  'data': {'o2': 1, 'Vodafone': 1, 'Telekom': 1}},
 {'id': '01099',
  'name': 'Dresden',
  'data': {'o2': 0.5391319207108681,
   'Vodafone': 0.5464798359535201,
   'Telekom': 0.9533492822966507}},
 {'id': '01108',
  'name': 'Dresden',
  'data': {'o2': 0.9404255319148936,
   'Vodafone': 0.9896656534954408,
   'Telekom': 1}}]

In [36]:
with open('handy_data_plz_index.json', 'w') as f:
    json.dump(philips_json, f)

In [37]:
matched_data_red.to_json("plz_index_based_data.json",orient="split")