In [7]:
import pandas as pd
import glob

In [8]:
files=glob.glob('../data/*.xlsx')
files

['../data/WCI data for Haluka.xlsx']

In [12]:
data=pd.read_excel(files[0],skiprows=2)
data

,Route code,Unnamed: 1,Unnamed: 2,WCI-COMPOSITE,WCI-SHA-RTM,WCI-RTM-SHA,WCI-SHA-LAX,WCI-LAX-SHA,WCI-SHA-NYC,WCI-NYC-RTM,WCI-RTM-NYC
0,Year,Week,Date,Freight rate (US$/40ft container),Freight rate (US$/40ft container),Freight rate (US$/40ft container),Freight rate (US$/40ft container),Freight rate (US$/40ft container),Freight rate (US$/40ft container),Freight rate (US$/40ft container),Freight rate (US$/40ft container)
1,2019,1,2019-01-03 00:00:00,1792.96,2082,580,2081,514,3223,584,2051
2,2019,2,2019-01-10 00:00:00,1689.95,1956,581,1930,523,2974,594,2051
3,2019,3,2019-01-17 00:00:00,1752.97,1839,576,2274,523,3245,583,2049
4,2019,4,2019-01-24 00:00:00,1765.58,1943,576,2197,512,3380,583,2049
...,...,...,...,...,...,...,...,...,...,...,...
352,Note to Journalists,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,Drewry is the market leader in the provision o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,Drewry publishes container freight rate indice...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,Drewry also publishes container freight rates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,"In addition, Drewry publishes airfreight rates...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data.rename(columns={'Unnamed: 2': 'Date'}, inplace=True)
data

,Route code,Unnamed: 1,Date,WCI-COMPOSITE,WCI-SHA-RTM,WCI-RTM-SHA,WCI-SHA-LAX,WCI-LAX-SHA,WCI-SHA-NYC,WCI-NYC-RTM,WCI-RTM-NYC
0,Year,Week,Date,Freight rate (US$/40ft container),Freight rate (US$/40ft container),Freight rate (US$/40ft container),Freight rate (US$/40ft container),Freight rate (US$/40ft container),Freight rate (US$/40ft container),Freight rate (US$/40ft container),Freight rate (US$/40ft container)
1,2019,1,2019-01-03 00:00:00,1792.96,2082,580,2081,514,3223,584,2051
2,2019,2,2019-01-10 00:00:00,1689.95,1956,581,1930,523,2974,594,2051
3,2019,3,2019-01-17 00:00:00,1752.97,1839,576,2274,523,3245,583,2049
4,2019,4,2019-01-24 00:00:00,1765.58,1943,576,2197,512,3380,583,2049
...,...,...,...,...,...,...,...,...,...,...,...
352,Note to Journalists,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,Drewry is the market leader in the provision o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,Drewry publishes container freight rate indice...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,Drewry also publishes container freight rates ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,"In addition, Drewry publishes airfreight rates...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
data.dropna(subset=['Date'], inplace=True)
data_clean=data.iloc[1:]
data_clean

,Route code,Unnamed: 1,Date,WCI-COMPOSITE,WCI-SHA-RTM,WCI-RTM-SHA,WCI-SHA-LAX,WCI-LAX-SHA,WCI-SHA-NYC,WCI-NYC-RTM,WCI-RTM-NYC
1,2019,1,2019-01-03 00:00:00,1792.96,2082,580,2081,514,3223,584,2051
2,2019,2,2019-01-10 00:00:00,1689.95,1956,581,1930,523,2974,594,2051
3,2019,3,2019-01-17 00:00:00,1752.97,1839,576,2274,523,3245,583,2049
4,2019,4,2019-01-24 00:00:00,1765.58,1943,576,2197,512,3380,583,2049
5,2019,5,2019-01-31 00:00:00,1719.61,1954,578,2080,493,3131,595,2017
...,...,...,...,...,...,...,...,...,...,...,...
329,2025,17,2025-04-24 00:00:00,2157.334,2312,481,2617,705,3611,825,2109
330,2025,18,2025-05-01 00:00:00,2091.348,2202,464,2590,689,3500,842,2041
331,2025,19,2025-05-08 00:00:00,2076.176,2046,457,2713,706,3646,814,1972
332,2025,20,2025-05-15 00:00:00,2233.441,2035,457,3136,709,4350,824,1961
333,2026,21,2025-05-22 00:00:00,2276,2030,458,3197,713,4527,825,1952

In [15]:
data_clean['Date'].iloc[-1]

datetime.datetime(2025, 5, 22, 0, 0)

In [16]:
data_clean['Date'] = pd.to_datetime(data_clean['Date'])
data_clean[["WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]]=data_clean[["WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]].apply(pd.to_numeric, errors='coerce')

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_70717/3150413955.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['Date'] = pd.to_datetime(data_clean['Date'])
/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_70717/3150413955.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean[["WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]]=data_clean[["WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]].apply(pd.to_numeric, errors='coerce')

In [17]:
data_2025_april=data_clean[data_clean['Date']>="2025-03-26"]
data_2025_april.reset_index(drop=True, inplace=True)
data_2025_april

,Route code,Unnamed: 1,Date,WCI-COMPOSITE,WCI-SHA-RTM,WCI-RTM-SHA,WCI-SHA-LAX,WCI-LAX-SHA,WCI-SHA-NYC,WCI-NYC-RTM,WCI-RTM-NYC
0,2025,13,2025-03-27,2168.359,2370,500,2487.0,709,3622.0,844,2162.0
1,2025,14,2025-04-03,2207.868,2304,466,2726.0,705,3894.0,831,2124.0
2,2025,15,2025-04-10,2265.462,2392,475,2815.0,705,3976.0,824,2153.0
3,2025,16,2025-04-17,2192.02,2344,493,2683.0,705,3706.0,817,2129.0
4,2025,17,2025-04-24,2157.334,2312,481,2617.0,705,3611.0,825,2109.0
5,2025,18,2025-05-01,2091.348,2202,464,2590.0,689,3500.0,842,2041.0
6,2025,19,2025-05-08,2076.176,2046,457,2713.0,706,3646.0,814,1972.0
7,2025,20,2025-05-15,2233.441,2035,457,3136.0,709,4350.0,824,1961.0
8,2026,21,2025-05-22,2276,2030,458,3197.0,713,4527.0,825,1952.0

In [18]:
data_2025_april_red=data_2025_april[["WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]].reset_index(drop=True)
change_perc_april_2025=data_2025_april_red/data_2025_april_red.iloc[0]*100-100
change_perc_april_2025

   WCI-SHA-LAX  WCI-SHA-NYC  WCI-RTM-NYC
0     0.000000     0.000000     0.000000
1     9.609972     7.509663    -1.757632
2    13.188581     9.773606    -0.416281
3     7.880981     2.319161    -1.526364
4     5.227181    -0.303700    -2.451434
5     4.141536    -3.368305    -5.596670
6     9.087254     0.662617    -8.788159
7    26.095698    20.099393    -9.296947
8    28.548452    24.986195    -9.713228

In [19]:
libration_day=pd.concat([data_2025_april["Date"], change_perc_april_2025], axis=1)

In [20]:
libration_day.to_csv('../data/liberation_day.csv', index=False)

In [21]:
since_trump_election=data_clean[data_clean['Date']>="2024-10-20"]
since_trump_election_red=since_trump_election[["Date","WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]].reset_index(drop=True)
since_trump_election_red[["WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]]=since_trump_election_red[["WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]].apply(pd.to_numeric, errors='coerce')
since_trump_election_red.dropna(inplace=True)
change_perc_trump=since_trump_election_red[["WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]]/since_trump_election_red[["WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]].iloc[0]*100-100
under_trump=pd.concat([since_trump_election_red["Date"], change_perc_trump], axis=1)
under_trump

         Date  WCI-SHA-LAX  WCI-SHA-NYC  WCI-RTM-NYC
0  2024-10-24     0.000000     0.000000     0.000000
1  2024-10-31     0.519319    -0.474744     0.037552
2  2024-11-07    -0.166182    -0.626662    -1.464514
3  2024-11-14    -2.368093    -0.835549    -0.187758
4  2024-11-21    -6.771915    -1.063426     0.337965
5  2024-11-28   -11.715829    -1.595139     0.075103
6  2024-12-05   -22.746157    -2.012913    -0.525723
7  2024-12-12   -25.592023    -1.272313    -1.539617
8  2024-12-19    -6.543415    15.343714     1.877582
10 2025-01-02     0.311591    22.388910     2.140443
11 2025-01-09    13.751558    34.542347     1.314307
12 2025-01-16     8.599917    29.605013     5.069471
13 2025-01-23    -0.020773    21.097607     4.318438
14 2025-01-30    -0.893228    19.407520     2.591063
15 2025-02-06    -2.014956    17.964299    -7.285017
16 2025-02-13    -8.766099    11.545765    -7.510327
17 2025-02-20   -19.235563    -2.658564   -10.101389
18 2025-02-27   -27.773162   -12.780099   -10.852422
19 2025-03-06   -34.233486   -17.964299   -11.415697
20 2025-03-13   -39.634400   -23.319408   -10.889974
21 2025-03-20   -44.786041   -28.332700   -13.030417
22 2025-03-27   -48.338180   -31.219142   -18.813368
23 2025-04-03   -43.373494   -26.053931   -20.240330
24 2025-04-10   -41.524720   -24.496772   -19.151333
25 2025-04-17   -44.266722   -29.624003   -20.052572
26 2025-04-24   -45.637723   -31.428029   -20.803605
27 2025-05-01   -46.198587   -33.535891   -23.357116
28 2025-05-08   -43.643540   -30.763388   -25.948179
29 2025-05-15   -34.856668   -17.394607   -26.361247
30 2025-05-22   -33.589531   -14.033422   -26.699211

In [22]:
under_trump.to_csv('../data/under_trump.csv', index=False)

In [23]:
since_covid=data_clean[data_clean['Date']>="2022-01-01"]
since_covid.reset_index(drop=True, inplace=True)

In [24]:
diff_between_weeks=pd.DataFrame()
diff_between_weeks["Date"]=since_covid["Date"]
diff_between_weeks

          Date
0   2022-01-06
1   2022-01-13
2   2022-01-20
3   2022-01-27
4   2022-02-03
..         ...
172 2025-04-24
173 2025-05-01
174 2025-05-08
175 2025-05-15
176 2025-05-22

[177 rows x 1 columns]

In [25]:
diff_between_weeks[["WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]]=(since_covid[["WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]]-since_covid[["WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]].shift(1))/since_covid[["WCI-SHA-LAX","WCI-SHA-NYC","WCI-RTM-NYC"]].shift(1)*100
diff_between_weeks

          Date  WCI-SHA-LAX  WCI-SHA-NYC  WCI-RTM-NYC
0   2022-01-06          NaN          NaN          NaN
1   2022-01-13     0.960076     1.871579    -0.748408
2   2022-01-20     5.423218     1.568514     0.946575
3   2022-01-27    -4.519068    -5.497962     0.365544
4   2022-02-03    -1.122439    -0.688455     2.216944
..         ...          ...          ...          ...
172 2025-04-24    -2.459933    -2.563411    -0.939408
173 2025-05-01    -1.031716    -3.073941    -3.224277
174 2025-05-08     4.749035     4.171429    -3.380696
175 2025-05-15    15.591596    19.308832    -0.557809
176 2025-05-22     1.945153     4.068966    -0.458950

[177 rows x 4 columns]

In [26]:
diff_between_weeks.dropna(inplace=True)
diff_between_weeks

          Date  WCI-SHA-LAX  WCI-SHA-NYC  WCI-RTM-NYC
1   2022-01-13     0.960076     1.871579    -0.748408
2   2022-01-20     5.423218     1.568514     0.946575
3   2022-01-27    -4.519068    -5.497962     0.365544
4   2022-02-03    -1.122439    -0.688455     2.216944
5   2022-02-10    -1.267619     2.361545    -0.030984
..         ...          ...          ...          ...
172 2025-04-24    -2.459933    -2.563411    -0.939408
173 2025-05-01    -1.031716    -3.073941    -3.224277
174 2025-05-08     4.749035     4.171429    -3.380696
175 2025-05-15    15.591596    19.308832    -0.557809
176 2025-05-22     1.945153     4.068966    -0.458950

[170 rows x 4 columns]

In [27]:
diff_between_weeks.describe()

                                Date  WCI-SHA-LAX  WCI-SHA-NYC  WCI-RTM-NYC
count                            170   170.000000   170.000000   170.000000
mean   2023-09-13 18:55:03.529411840    -0.671877    -0.618961    -0.551002
min              2022-01-13 00:00:00   -14.023732   -21.180925   -24.981273
25%              2022-11-04 18:00:00    -4.072507    -3.777483    -1.441426
50%              2023-09-10 00:00:00    -1.449988    -1.312209    -0.470613
75%              2024-07-16 06:00:00     0.531329     0.752499     0.483709
max              2025-05-22 00:00:00    38.351254    35.347722    27.844455
std                              NaN     6.733515     6.068472     4.730898

In [28]:
diff_between_weeks[diff_between_weeks["WCI-SHA-LAX"]>10]

          Date  WCI-SHA-LAX  WCI-SHA-NYC  WCI-RTM-NYC
67  2023-04-20    10.872162    11.637931    -0.772515
82  2023-08-03    11.260182     9.216136    -0.188679
95  2023-11-02    10.912800     2.507837    -1.185771
106 2024-01-18    38.351254    35.347722    -0.462657
107 2024-01-25    12.538860     8.841247     4.648074
122 2024-05-09    18.303174    16.134185    -2.262443
123 2024-05-16    12.236710    12.340342     2.268519
124 2024-05-23    17.895442    13.048802     1.448619
126 2024-06-06    10.853432     5.544989    -3.870387
130 2024-07-04    11.973625    17.005238    -3.277886
154 2024-12-19    25.600223    16.830160     3.470633
157 2025-01-09    13.398219     9.930178    -0.808824
175 2025-05-15    15.591596    19.308832    -0.557809

In [29]:
increase_of_10=diff_between_weeks[(diff_between_weeks[diff_between_weeks.columns[1:]]>10).any(axis=1)]

In [30]:
len(increase_of_10)

16

In [31]:
import numpy as np

In [32]:
increase_of_10["Trump"]=np.where(increase_of_10["Date"]>"2024-11-04","Trump","Not Trump")
increase_of_10

/var/folders/m2/_syds9sn2bjctwpf6p3_w19r0000gn/T/ipykernel_70717/2200746718.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  increase_of_10["Trump"]=np.where(increase_of_10["Date"]>"2024-11-04","Trump","Not Trump")

          Date  WCI-SHA-LAX  WCI-SHA-NYC  WCI-RTM-NYC      Trump
67  2023-04-20    10.872162    11.637931    -0.772515  Not Trump
82  2023-08-03    11.260182     9.216136    -0.188679  Not Trump
95  2023-11-02    10.912800     2.507837    -1.185771  Not Trump
106 2024-01-18    38.351254    35.347722    -0.462657  Not Trump
107 2024-01-25    12.538860     8.841247     4.648074  Not Trump
109 2024-02-08     7.916761     1.670722    24.480806  Not Trump
122 2024-05-09    18.303174    16.134185    -2.262443  Not Trump
123 2024-05-16    12.236710    12.340342     2.268519  Not Trump
124 2024-05-23    17.895442    13.048802     1.448619  Not Trump
126 2024-06-06    10.853432     5.544989    -3.870387  Not Trump
130 2024-07-04    11.973625    17.005238    -3.277886  Not Trump
139 2024-09-05    -3.489117    -1.629612    15.932914  Not Trump
146 2024-10-24    -2.570330    -6.115172    27.844455  Not Trump
154 2024-12-19    25.600223    16.830160     3.470633      Trump
157 2025-01-09    13.398219     9.930178    -0.808824      Trump
175 2025-05-15    15.591596    19.308832    -0.557809      Trump

In [33]:
diff_between_weeks

          Date  WCI-SHA-LAX  WCI-SHA-NYC  WCI-RTM-NYC
1   2022-01-13     0.960076     1.871579    -0.748408
2   2022-01-20     5.423218     1.568514     0.946575
3   2022-01-27    -4.519068    -5.497962     0.365544
4   2022-02-03    -1.122439    -0.688455     2.216944
5   2022-02-10    -1.267619     2.361545    -0.030984
..         ...          ...          ...          ...
172 2025-04-24    -2.459933    -2.563411    -0.939408
173 2025-05-01    -1.031716    -3.073941    -3.224277
174 2025-05-08     4.749035     4.171429    -3.380696
175 2025-05-15    15.591596    19.308832    -0.557809
176 2025-05-22     1.945153     4.068966    -0.458950

[170 rows x 4 columns]

In [34]:
increase_of_10.to_csv('../data/increase_of_10.csv', index=False)